<!--
  ** Created by Pankush Manchanda 31 July ,2017 
  ** Component Used Bootstrap and Angular Material for design 
  ** Form used Reactive Form Angular 2 
  -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label class="pull-left">
        <h4 class="f-s-b m-b-10 m-t-20">{{currentLanguageSet?.knowledgeManagement}}</h4>
      </label>
    </div>
  </div>
    <div class="row m-t-20">
      <!--Form Start  -->
      <form [formGroup]="knowledgeForm" (ngSubmit)="onSubmit(knowledgeForm)" novalidate autocomplete="off">
        <div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  p-b-1-5 form-group">
            <md-select placeholder="{{currentLanguageSet?.categoryIsRequired}}" [style.width]="'100%'" name="service" formControlName="service" (change)="getCategory($event.value)">
              <md-option *ngFor="let service of services" [value]="service.subServiceID">
                {{service.subServiceName}}
              </md-option>
            </md-select>
            <!-- Validation Field -->
            <div class="error" *ngIf="knowledgeForm.get('service').touched && knowledgeForm.get('service').hasError('required')">
               {{currentLanguageSet?.serviceIsRequired}}
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group p-b-1-5">
            <md-select placeholder="{{currentLanguageSet?.selectCategory}}" [style.width]="'100%'" name="category" formControlName="category" (change)="getSubCategory($event.value)">
              <md-option *ngFor="let category of categories" [value]="category.categoryID">
                {{category.categoryName}}
              </md-option>
            </md-select>
            <!-- Validation Field -->
            <div class="error" *ngIf="knowledgeForm.get('category').touched && knowledgeForm.get('category').hasError('required')">
              {{currentLanguageSet?.categoryIsRequired}}
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group p-b-1-5">
            <md-select placeholder="Select Sub Category" [style.width]="'100%'" formControlName="subCategory" (change)="getSubcategoryObject($event.value)">
              <md-option *ngFor="let subCategory of subCategories" [value]="subCategory.subCategoryID">
                {{subCategory.subCategoryName}}
              </md-option>
            </md-select>
            <!-- Validation Field -->
            <div class="error" *ngIf="knowledgeForm.get('subCategory').touched && knowledgeForm.get('subCategory').hasError('required')">
              Subcategory is required 
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
            <input type="file" class="form-control" #myInput name="file" (change)="changeListener($event)" />
            <input type="hidden" name="fileHidden" formControlName="fileInput" />
            <!-- Validation Field -->
            <span class="error">
              {{currentLanguageSet?.supportedFileFormats}}
              (.msg, .pdf, .png, .jpeg, .jpg, .doc, .docx, .xlsx, .xls, .csv, .txt)
            </span>
            <div class="error" *ngIf="knowledgeForm.get('fileInput').touched && knowledgeForm.get('fileInput').hasError('required')">
              {{currentLanguageSet?.fileIsRequired}}

            </div>
          </div>
        </div>
        <!--Comment Start Date and End Date here  -->

            <div class="col-xs-6 col-sm-6 form-group" *ngIf="(subcategoryOBJ?.subCatFilePath) && (subcategoryOBJ?.subCatFilePath != null ||subcategoryOBJ?.subCatFilePath != undefined)">
                <label>{{currentLanguageSet?.previousUploadedFile}}<a *ngIf="(subcategoryOBJ?.subCatFilePath) && (subcategoryOBJ?.subCatFilePath != null ||subcategoryOBJ?.subCatFilePath != undefined)" href="{{subcategoryOBJ?.fileURL}}" target="_blank">{{subcategoryOBJ?.fileNameWithExtension?subcategoryOBJ?.fileNameWithExtension:'-'}}</a></label>
              </div>
          <div class="col-xs-6 col-sm-6 form-group pull-right">
            <button type="submit" class="pull-right" md-raised-button color="accent" [disabled]="knowledgeForm.invalid||invalid_file_flag">{{currentLanguageSet?.save}}</button>
          </div>
        
      </form>
      <!--Form End  -->
    </div>

