<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">Training Resources List</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
    <table class="table table-striped table-hover" [md2Data]="trainingResources" #md2="md2DataTable" [rowsPerPage]="5">
      <thead>
        <tr>
          <th width="10%">S. No</th>
          <th width="10%">Type </th>
          <th width="10%">Role</th>
          <th width="20%">Subject</th>
          <th width="30%">Description</th>
          <th width="5%">Attachment</th>
          <th width="15%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="md2.data?.length==0">
          <td colspan="7" class="record-not-found">
              No records found
          </td>
        </tr>
        <tr *ngFor="let row of md2.data; let i = index ">
          <td>
            <b>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</b>
          </td>
          <td>{{row?.notificationType?.notificationType}}</td>
          <td>{{row?.role?.RoleName}}</td>
          <td>{{row.notification}}</td>
          <td>{{row.notificationDesc}}</td>
          <td>
              <a href="{{row?.kmFilePath}}" target="_blank"><md-icon mdTooltip="{{row?.kmFileManager?.fileName}}" *ngIf="(row?.kmFileManager)" class="mat-icon material-icons" role="img"
              aria-hidden="true" style="cursor: pointer">attachment</md-icon></a>
          </td>
          <td>
            <md-icon mdTooltip="edit" *ngIf="!(row?.deleted)" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer"
              (click)="edit(row)">edit</md-icon>
            <a style="cursor:pointer" *ngIf="row?.deleted" (click)="activate(row,false)">Activate</a>
            <a style="cursor:pointer" *ngIf="!(row?.deleted)" (click)="deactivate(row,true)">Deactivate</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <md2-pagination></md2-pagination>
          </td>
          <td colspan="3" class="p-r-0">
            <button md-raised-button color="primary" class="pull-right" type="button" (click)="go2form()">Create Training Resource</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row" *ngIf="showForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">Training Resource</h4>
  </div>
  <form #trainingResources="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 p-b-1-5">
      <!-- <md-input-container [style.width]="'100%'" class="hide_underline">
        <input mdInput class="display_none"> -->
        <md-select multiple placeholder="Select Roles" [style.width]="'100%'" required [(ngModel)]="role" name="roles">
          <md-option *ngFor="let item of roles" [value]="item.roleID">
            {{item.roleName}}
          </md-option>
        </md-select>
      <!-- </md-input-container> -->
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md2-datepicker name="startDate" (keydown)="blockey($event)" placeholder="Valid From" [min]="minStartDate" #start_Date="ngModel"
        [(ngModel)]="startDate" required [style.width]="'100%'"></md2-datepicker>
    </div>   -->
    <!-- <div class="clearfix  visible-lg"></div> -->

    <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b-30">
      <md2-datepicker name="endDate" (keydown)="blockey($event)" placeholder="Valid Till" [min]="start_Date?.value" #end_Date="ngModel"
        [(ngModel)]="endDate" required [style.width]="'100%'"></md2-datepicker>
      <span class="m-l-10 f-s-10 error_text" *ngIf="(end_Date?.value < start_Date?.value)">End Date cannot be before Start Date!</span>
    </div>   -->
    <!-- <div class="clearfix visible-md visible-lg"></div>  -->

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput class="" placeholder="Resource Subject" name="subject" [(ngModel)]="subject" required #resourceSubject="ngModel"
          maxlength="200" minlength="5">
        <md-hint class="error_text" *ngIf="resourceSubject.invalid && resourceSubject.touched">Enter atleast 5 characters</md-hint>
      </md-input-container>
    </div>
    <!-- <div class="clearfix  visible-lg"></div>  -->
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
      <md-input-container [style.width]="'100%'">
        <textarea mdInput class="" rows="3" placeholder="Resource message" name="message" [(ngModel)]="message" required (keyup)="updateCount()"
          #resourceMessage="ngModel" maxlength="300" minlength="5">
              </textarea>
        <md-hint align="start">
          <span class="error_text pull-left" *ngIf="resourceMessage.invalid && resourceMessage.touched">Enter atleast 5 characters</span>
        </md-hint>
        <md-hint align="end">
          <span class="pull-right" align="end">{{count}}</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 m-t-40">
      <label for="upload-file">Upload File(Size limit :{{maxFileSize}}MB)</label>
      <input type="file" accept="*" size="100" placeholder="Upload file" id="upload-file" (change)="onFileUpload($event)" name="file"
        ngModel #uploadfile="ngModel">

      <span class="f-s-10 error_text" *ngIf="invalid_file_flag">Supported file formats(.msg,.pdf,.png,.jpeg,.doc,.docx,.xlsx,.xls,.csv,.txt)</span>
      <span class="f-s-10 error_text" *ngIf="error1">File size should not exceed {{maxFileSize}} MB</span>
      <span class="f-s-10 error_text" *ngIf="error2">File size should be greator than 0</span>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
    <button md-raised-button color="primary" class="pull-left" (click)="go2table()">Back</button>
    <button [disabled]="trainingResources.invalid || (end_Date?.value < start_Date?.value) || invalid_file_flag || error1 || error2"
      md-raised-button color="accent" class="pull-right" (click)="createTrainingResource(trainingResources.value)">Submit</button>
  </div>
</div>


<div class="row" *ngIf="showEditForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">Edit Training Resource</h4>
  </div>
  <form #trainingResourcesEditForm="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="Resource Subject" name="subject" [(ngModel)]="notification_subject" required #resourceSubject="ngModel"
          maxlength="200" minlength="5">
        <md-hint class="error_text" *ngIf="resourceSubject.invalid && resourceSubject.touched">Enter atleast 5 characters</md-hint>
      </md-input-container>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="toBeEditedObject.kmFileManagerID">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="Existing Uploaded File" name="uploaded_file" [disabled]="true" [(ngModel)]="uploaded_file" required>
      </md-input-container>
    </div>
    <!-- <div class="clearfix  visible-lg"></div>  -->
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
      <md-input-container [style.width]="'100%'">
        <textarea mdInput class="" rows="3" placeholder="Resource message" name="message" [(ngModel)]="description" required (keyup)="updateCount2()"
          #resourceMessage="ngModel" maxlength="300" minlength="5">
              </textarea>
        <md-hint align="start">
          <span class="error_text pull-left" *ngIf="resourceMessage.invalid && resourceMessage.touched">Enter atleast 5 characters</span>
        </md-hint>
        <md-hint align="end">
          <span class="pull-right">{{count2}}</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
      <label for="upload-file">Upload File(Size limit :{{maxFileSize}}MB)</label>
      <input type="file" accept="*" size="100" placeholder="Upload file" id="upload-file" (change)="onFileUpload($event)" name="file"
        ngModel #uploadfile="ngModel">

      <span class="f-s-10 error_text" *ngIf="invalid_file_flag">Supported File Formats(.msg,.pdf,.png,.jpeg,.doc,.docx,.xlsx,.xls,.csv,.txt)</span>
      <span class="f-s-10 error_text" *ngIf="error1">File Size should not exceed {{maxFileSize}} MB</span>
      <span class="f-s-10 error_text" *ngIf="error2">File Size should be greator than 0</span>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
    <button md-raised-button color="primary" class="pull-left" (click)="go2table()">Back</button>
    <button [disabled]="trainingResourcesEditForm.invalid || invalid_file_flag || error1 || error2" md-raised-button color="accent"
      class="pull-right" (click)="editTrainingResource(trainingResourcesEditForm.value)">Update</button>
  </div>
</div>
