<div class="col-xs-12 col-sm-12 m-t-10">
  <div class="table-responsive">
    <table id="outbondListTable" class="table table-bordered">
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Phone No</th>
          <th>Beneficiary ID</th>
          <th>Beneficiary Name</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody *ngIf="current_role==='CO'">
        <tr *ngFor="let listItem of coOutbondWorklist; let i = index" (click)="viewHistory(listItem,i)">
          <th scope="row">{{i+1}}</th>
          <td>{{listItem.beneficiary.benPhoneMaps[0].phoneNo}}</td>
          <td>{{listItem.beneficiary.beneficiaryRegID}}</td>
          <td>{{listItem.beneficiary.firstName}} {{listItem.beneficiary.lastName}}</td>
          <td>{{listItem.requestedFor}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="clearfix"></div>
