<div class="clearfix"></div>
<div class="col-xs-12 col-sm-12 b-t-2-w dashboard-m-t-45">
  <div class="panel-body card p-a-0 bg-white ">
    <div class="container-fluid p-a-0 height-450">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="pull-left">
              <h4 class="f-s-b m-b-30"> Outbound Work List </h4>
            </label>
            <button type="button" md-raised-button color="accent" class="pull-right mar-top" (click)="backToDashBoard()">Back to Dashboard</button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
              <table id="outbondListTable" class="table table-responsive table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4">
                <thead>
                  <tr>
                    <!-- <th style="width:20%" md2SortBy="phoneNo">Phone No</th> -->
                    <th md2SortBy="beneficiary.beneficiaryRegID">Beneficiary ID</th>
                    <th md2SortBy="beneficiary.firstName">Beneficiary Name</th>
                    <th md2SortBy="prefferedDateTime">Requested Date</th>
                    <th md2SortBy="requestedFor">Remarks</th>
                    <th>Call </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="t-a-c record-not-found" *ngIf="md2.data.length==0">
                    No Outbound Records
                  </tr>

                  <tr *ngFor="let listItem of  md2.data">
                    <!-- <td width=20%>{{listItem.beneficiary?.benPhoneMaps[0]?.phoneNo.substing(4)}}</td> -->
                    <td width=20%>{{listItem.beneficiary?.beneficiaryID}}</td>
                    <td width=20%>{{listItem.beneficiary?.firstName}} {{listItem.beneficiary?.lastName}}</td>
                    <td width=20%>{{listItem.prefferedDateTime?(millisToUTCDate(listItem.prefferedDateTime)|date:'dd/MM/yyyy'):''}}</td>
                    <td width=20%>{{listItem.requestedFor}}</td>
                    <td width=20% height="20px">
                      <button md-icon-button title="call" (click)="viewHistory(listItem)">
                        <i class="material-icons" style="font-size: 18px;">settings_phone</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <md2-pagination></md2-pagination>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>