ul {
  list-style: none;
}
a {
  cursor: pointer;
}

.mar-top {
  margin-top: 5px;
}

.md-small {
    width: 20px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    line-height: 20px;
}


@media (min-width: 317px ) {
    .dashboard-m-t-45{
        margin-top: 75px;
    }

}
@media (max-width: 317px ) {
    .dashboard-m-t-45{
        margin-top: 75px;
    }

}

@media (min-width: 480px) {
    .dashboard-m-t-45{
        margin-top: 48px;
    }

}

@media (min-width: 767px) {
    .dashboard-m-t-45{
        margin-top: 48px;
    }
}

@media (min-width: 992px) {
    .dashboard-m-t-45{
        margin-top: 48px;
    }
}


@media (min-width: 1200px) {
    .dashboard-m-t-45{
        margin-top: 48px;
    }

}
i.fa {
  padding: 0px!important;
  font-size: 22px!important;
  margin-top: 17px!important;
}