<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label class="pull-left"><h4 class="f-s-b m-b-30"> Outbound Work List </h4> </label>
      <button type="button" md-raised-button color="primary" class="pull-right" (click)="backToDashBoard()">Back to Dashboard</button>
    </div>
  </div>
  <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
   
  </div> -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table id="outbondListTable" class="table table-bordered" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4">
          <thead>
            <tr>
              <!-- <th style="width:20%" md2SortBy="phoneNo">Phone No</th> -->
              <th md2SortBy="beneficiaryRegID">Beneficiary ID</th>
              <th md2SortBy="firstName">Beneficiary Name</th>
              <th md2SortBy="requestedDate">Requested Date</th>
              <th md2SortBy="requestedFor">Remarks</th>
              <th>Call </th>
            </tr>
          </thead>
          <tbody *ngIf="md2.data.length==0">
            <p width=100% align="center">
              No Outbound Records
            </p>
          </tbody>
          <tbody *ngIf="md2.data.length>0">
            <tr *ngFor="let listItem of  md2.data">
              <!-- <td width=20%>{{listItem.beneficiary?.benPhoneMaps[0]?.phoneNo.substing(4)}}</td> -->
              <td width=20%>{{listItem.beneficiary?.beneficiaryRegID}}</td>
              <td width=20%>{{listItem.beneficiary?.firstName}} {{listItem.beneficiary.lastName}}</td>
              <td width=20%>{{listItem.prefferedDateTime?(millisToUTCDate(listItem.prefferedDateTime)|date:'dd/MM/yyyy'):''}}</td>
              <td width=20%>{{listItem.requestedFor}}</td>
              <td width=20% height="20px">
                <button md-icon-button title="call" (click)="viewHistory(listItem)">
                <i class="material-icons" style="font-size: 18px;">settings_phone</i>
             </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
