<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 p-t-lg-2 p-l-lg-1 p-r-lg-2 p-l-sm-2 p-r-sm-2">
  <div id="uc" class="bg-fa">
    <div class="panel-heading bg-f8"> <span class="pull-left f-s-18">Call Statistics</span> <span class="pull-right"><i class="fa fa-times f-c-82 cursorPointer" aria-hidden="true" (click)="close()"></i></span>      </div>
    <div class="panel-body">
      <div class="col-xs-12 bg-white height-160 m-t-5">
        <ul class="list-unstyled m-t-10">
          <li>{{totalCalls}}</li>
          <li>{{totalInvalidCalls}}</li>
          <li>{{totalCallDuration}}</li>
          <li>{{totalBreakTime}}</li>
          <li>{{totalFreeTime}}</li>
        </ul>
      </div>
    </div>
    <div class="panel-footer animate-show border-none"> 
      <div class="clearfix"></div>
    </div>
  </div>
</div> -->

<div class="panel panel-default m-b-10">
  <div class="panel-heading p-t-b-3 f-s-16 bg-white">Call Statistics
      <span class="pull-right">
<span class="">{{current_date | date: 'dd/MM/yyyy'}}</span>
      <!-- <span>Historical Data</span> -->
      </span>
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 width-lg-20 border-r-1">
              <div class="f-s-36 f-s-b text-center callStatisticsFontColor">{{totalCallDuration}}</div>
              <div class="f-s-14 text-center p-t-10"><span>Hrs</span> <span class="p-l-20">Mins</span><span class="p-l-20">Secs</span></div>
              <div class="f-s-18 text-center p-t-10 p-b-5">Call Duration</div>
              <div class="border-b-1 visible-xs visible-sm visible-md">&nbsp;</div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 width-lg-20 border-r-1">
              <div class="f-s-36 f-s-b text-center callStatisticsFontColor">{{totalBreakTime}}</div>
              <div class="f-s-14 text-center p-t-10"><span>Hrs</span> <span class="p-l-20">Mins</span><span class="p-l-20">Secs</span></div>
              <div class="f-s-18 text-center p-t-10 p-b-5">Break Time</div>
              <div class="border-b-1 visible-xs visible-sm visible-md">&nbsp;</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 width-lg-20 border-r-1">
              <div class="f-s-36 f-s-b text-center callStatisticsFontColor">{{totalFreeTime}}</div>
              <div class="f-s-14 text-center p-t-10"><span>Hrs</span> <span class="p-l-20">Mins</span><span class="p-l-20">Secs</span></div>
              <div class="f-s-18 text-center p-t-10 p-b-5">Free Time</div>
              <div class="border-b-1 visible-xs visible-sm visible-md">&nbsp;</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 width-lg-20 border-r-1">
              <div class="f-s-36 f-s-b text-center p-t-20 callStatisticsFontColor">{{totalCalls}}</div>
              <div class="f-s-18 text-center p-t-20 p-b-5">Total Calls</div>
              <div class="border-b-1 visible-xs visible-sm visible-md">&nbsp;</div>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 width-lg-20 border-r-1">
<div class="f-s-36 f-s-b text-center p-t-20 callStatisticsFontColor">5</div>

<div class="f-s-18 text-center p-t-20 p-b-5">Invalid Calls</div>
<div class="border-b-1 visible-xs visible-sm visible-md">&nbsp;</div>
</div> -->
      </div>
  </div>
</div>