<!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 p-r-lg-0">
	<div class="panel panel-default m-b-10">
		<div class="panel-heading p-t-b-3 f-s-16 bg-white">Alerts and Notifications
			<span class="pull-right">
				<i class="fa fa-bell f-s-20 pull-left callStatisticsFontColor" aria-hidden="true"></i>
			</span>
		</div>
		<div class="panel-body p-l-0">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<ul class="p-t-10 p-l-15 dots">
						<li>Alerts</li>
					</ul>
				</div>

				<div class="col-xs-6 col-sm-6">
					<ul class="p-t-10 p-l-15 list-unstyled">
						<li>
							<i class="fa fa-bell f-s-20 pull-left f-c-g" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<ul class="p-t-10 p-l-15 dots">
						<li>Office Bulletin</li>
					</ul>
				</div>

				<div class="col-xs-6 col-sm-6">
					<ul class="p-t-10 p-l-15 list-unstyled">
						<li>
							<i class="fa fa-bell f-s-20 pull-left f-c-g" aria-hidden="true"></i>
							<div class="w-h-20x20 border-radius-50 pull-left m-t--8 m-l--18 text-center f-c-w f-s-12 p-t-2">5</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<ul class="p-t-10 p-l-15 dots">
						<li>Notifications</li>
					</ul>
				</div>

				<div class="col-xs-6 col-sm-6">
					<ul class="p-t-10 p-l-15 list-unstyled">
						<li>
							<i class="fa fa-bell f-s-20 pull-left f-c-g" aria-hidden="true"></i>
							<div class="w-h-20x20 border-radius-50 pull-left m-t--8 m-l--18 text-center f-c-w f-s-12 p-t-2">15</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div> -->

<div class="panel panel-default m-b-10">
	<div class="panel-heading p-t-b-3 f-s-16 bg-white">
		Alerts and Notifications <span class="pull-right"><img src="assets/images/alertsIcon.png" alt="Alerts"></span>
	</div>
	<!-- <div class="panel-body p-l-0">
		<ul class="p-t-10 p-l-15 ul-line-heigh-37 dots">
			<li>Alerts</li>
			<li>Office Bulletin</li>
			<li>Notifications</li>
		</ul>
	</div> -->
	<div class="panel-body p-l-0">
		<div class="row">         
			<div class="col-xs-6 col-sm-6">
				<ul class="p-t-10 p-l-15 dots">
					<li>Alerts</li>
				</ul>
			</div>
				 
			<div class="col-xs-6 col-sm-6">
				<ul class="p-t-10 p-l-15 list-unstyled">
					<li data-toggle="modal" data-target="#alert" class="pull-left cursorPointer" (click)="openNotificationsDialog('Alert')"><i class="fa fa-bell f-s-20 m-t--8 pull-left f-c-g" aria-hidden="true"></i><div *ngIf="alertCount" class="w-h-20x20 border-radius-50 pull-left m-t--8 m-l--18 text-center f-c-w f-s-12 p-t-2" >{{alertCount}}</div></li>
				</ul>
			</div>         
		</div>
				 
				 <div class="row">         
				 <div class="col-xs-6 col-sm-6">
					 <ul class="p-t-10 p-l-15 dots">
						 <li >Office Bulletin</li>
				 </ul>
				 </div>
				 
				 <div class="col-xs-6 col-sm-6">
				 <ul class="p-t-10 p-l-15 list-unstyled">
						 <li class="pull-left cursorPointer" (click)="openNotificationsDialog('Office')"><i class="fa fa-bell f-s-20 m-t--8 pull-left f-c-g" aria-hidden="true"></i><div *ngIf="othersCount" class="w-h-20x20 border-radius-50 pull-left m-t--8 m-l--18 text-center f-c-w f-s-12 p-t-2">{{othersCount}}</div></li>
				 </ul>
				 </div>         
				 </div>
				 
				 <div class="row">         
				 <div class="col-xs-6 col-sm-6">
					 <ul class="p-t-10 p-l-15 dots">
						 <li>Notifications</li>
				 </ul>
				 </div>
				 
				 <div class="col-xs-6 col-sm-6">
				 <ul class="p-t-10 p-l-15 list-unstyled">
						 <li class="pull-left cursorPointer" (click)="openNotificationsDialog('Notification')"><i class="fa fa-bell f-s-20 m-t--8 pull-left f-c-g" aria-hidden="true"></i><div *ngIf="notificationCount" class="w-h-20x20 border-radius-50 pull-left m-t--8 m-l--18 text-center f-c-w f-s-12 p-t-2">{{notificationCount}}</div></li>
				 </ul>
				 </div>         
				 </div>
			</div>
</div>