<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 p-t-lg-2 p-l-lg-1 p-r-lg-2 p-l-sm-2 p-r-sm-2">
    <div id="uc" class=" bg-fa">
        <div class="panel-heading"> <span class="pull-left f-s-18">Alerts and Notifications</span> <span class="pull-right"><i class="fa fa-times f-c-82 cursorPointer" aria-hidden="true"></i></span> </div>
        <div class="panel-body">
            <div class="col-xs-12 bg-white height-120 m-t-5">
                <ul class="list-unstyled m-t-10">
                    <li>Daily Tasks</li>
                </ul>
            </div>
        </div>
        <div class="panel-footer animate-show border-none"> <span class="pull-right cursorPointer "><span><img src="assets/images/viewIcon.png" alt="View Icon" title="View Icon"/></span> View</span> <span class="pull-right  m-r-15 cursorPointer"> <i class="fa fa-heart fav-color" aria-hidden="true"></i> Fav</span>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--    <button class="btn btn-primary" (click)="loadAlertsAndNotifications('CO')">click-me</button>
    <div>{{profile | json}}</div>-->
</div>