<div (click)="minimizeBar()" *ngIf="currentlanguage!=undefined">

    <div class="col-xs-12 col-sm-12 b-t-2-w p-t-10 m-b-10">
      <div class=" bs-wizard animate-box" style=" position:relative; z-index:1">
        <!-- 'complete' css is added at bottom line to show green to next line -->
        <div id="one" class="col-xs-2 bs-wizard-step disabled" style="padding:0px; margin:0px;">
          <div *ngIf="!OUT" class="text-center hidden-xs hidden-sm font-Light f-s-14">{{currentlanguageSet?.create_searchBeneficiary}}</div>
          <div *ngIf="OUT" class="text-center hidden-xs hidden-sm font-Light f-s-14">{{currentlanguageSet?.beneficiaryDetails}}</div>
          <div class="text-center hidden-md hidden-lg visible-xs visible-sm font-Light f-s-14">{{currentlanguage.co?.create_find_beneficiary_mobile}}</div>
          <!-- progress-bar-disabled   css is added extra in this line to make it grey, remove for green -->
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer active-tab"></a>
        </div>
        <div id="two" class="col-xs-2 bs-wizard-step disabled" *ngIf="isEverwell !='yes'">
          <div class="text-center hidden-xs hidden-sm font-Light f-s-14">{{currentlanguageSet?.provideServices}}</div>
          <div class="text-center hidden-md hidden-lg visible-xs visible-sm font-Light f-s-14">{{currentlanguageSet?.pS}}</div>
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer"></a>
        </div>
        <div id="three" class="col-xs-2 bs-wizard-step disabled" *ngIf="isEverwell !='yes'">
          <div class="text-center hidden-xs hidden-sm font-Light f-s-14">{{currentlanguageSet?.otherDetails}}</div>
          <div class="text-center hidden-md hidden-lg visible-xs visible-sm font-Light f-s-14">{{currentlanguageSet?.oD}}</div>
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer"></a>
        </div>
        <div id="four" class="col-xs-2 bs-wizard-step disabled">
          <div class="text-center hidden-xs hidden-sm font-Light f-s-14">{{currentlanguageSet?.closure}}</div>
          <div class="text-center hidden-md hidden-lg visible-xs visible-sm font-Light f-s-14">{{currentlanguageSet?.cL}}</div>
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer"></a>
        </div>
      </div>
    </div>

  <div class="clearfix"></div>

   <div class="col-xs-12 col-sm-12">
    <div class="panel-body card p-a-0 bg-white m-b-40">
      <div class="container-fluid p-a-0 overflow-y" style="height: 390px" *ngIf="isEverwell !='yes'">
        <div class=" b-t-2-w">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
            <div class="carousel-inner">
              <div class="item active">



                <app-beneficiary-registration (wentAwayMainScreen)="CancelDisable()" (onBenSelect)="benService($event)" (onBenRegDataSelect)="getSelectedBenDetails($event); coservice.startCOService(); updatebeneficiary.PopulateUpdateData(); closure.onView();"
                  #registration [current_language]="currentlanguage"></app-beneficiary-registration>
              </div>
              <div class="item">
               
                <app-co-services [resetProvideServices]="resetProvideServices" (serviceGiven)="updateServiceProvided(); closure.onView()" [benHistory]="selectedBenData" #coservice [current_language]="currentlanguage"></app-co-services>

              </div>
              <div class="item">
             
                <app-updates-from-beneficiary #updatebeneficiary [current_language]="currentlanguage"></app-updates-from-beneficiary>
              </div>
              <div class="item ">
               


                <app-closure (callClosed)="closeCall($event);" (closedContinue)="closedContinue()" #closure [current_language]="currentlanguage"></app-closure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid p-a-0 overflow-y" style="height: 390px" *ngIf="isEverwell ==='yes'">
        <div class=" b-t-2-w">
          <div id="myCarouselEverwell" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
            <div class="carousel-inner">
              <div class="item active">            
                <app-everwell-worklist (everwellBeneficiarySelected)="getEverwellSelectedBenDetails($event);" (submitFeedback)="changeSubmitFlag($event);" ></app-everwell-worklist>
              </div>               
              <div class="item ">             
                <app-closure (callClosed)="closeCall($event);" (closedContinue)="closedContinue()" #closure [current_language]="currentlanguage"></app-closure>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12 m-b-10" *ngIf="isEverwell !='yes'">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-xs-3 pull-left">
            <button [disabled]="disableBack" id="previous" type="button" md-raised-button color="primary" class="pull-left " href="#myCarousel" data-slide="prev"
              [hidden]="!isPrevious" (click)="prevVisual()">{{currentlanguageSet?.previous}}</button>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-xs-6 center-btn" style="text-align:center;">
            <button type="button" id="btnCancel" value="Cancel" md-raised-button class="mar-right" color="primary" data-slide-to="1"
              (click)="openDialog()">{{currentlanguageSet?.cancel}}</button>
            <button type="button" id="btnClosure" value="Close" md-raised-button color="primary" data-slide-to="4" (click)="openDialogClosure()"
              [disabled]="isClosureDisable">{{currentlanguageSet?.closure}}</button>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-xs-3 pull-left">
            <button id="next" type="button" md-raised-button color="primary" class="pull-right " href="#myCarousel" data-slide="next"
              [hidden]="!isNext" (click)="nxtVisual()">{{currentlanguageSet?.next}}</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12 m-b-10" *ngIf="isEverwell =='yes'">
        <div class="row">          
          <div class="col-xs-6 col-sm-6 col-md-6 col-xs-6 center-btn" style="text-align:center;">
            <button type="button" id="btnCancel" value="Cancel" md-raised-button class="mar-right" color="primary" data-slide-to="1"
              (click)="openEverwellDialog()" [disabled]="isCancelDisable">{{currentlanguageSet?.cancel}}</button>
            <button type="button" id="btnClosure" value="Close" md-raised-button color="primary" data-slide-to="4" (click)="openEverwellDialogClosure()"
              [disabled]="isClosureDisable || !submitCheck">{{currentlanguage.co?.closure}}</button>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-xs-3 pull-left">
            <button id="next" type="button" md-raised-button color="primary" class="pull-right " href="#myCarouselEverwell" data-slide="next"
              [hidden]="!isNext" (click)="nxtVisual()">{{currentlanguageSet?.next}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
