<div (click)="minimizeBar()" [hidden]="current_campaign == 'OUTBOUND'" *ngIf="currentlanguage!=undefined">
  <div class=" b-t-2-w p-t-20">
    <div class="col-xs-12 col-sm-12 ">
      <div class=" bs-wizard animate-box" style=" position:relative; z-index:1">
      <!-- 'complete' css is added at bottom line to show green to next line -->
        <div id="one" class="col-xs-2 bs-wizard-step disabled" style="padding:0px; margin:0px;">
          <div class="text-center hidden-xs hidden-sm font-Light f-s-16">{{currentlanguage.co?.create_find_beneficiary}}</div>
          <div class="text-center hidden-md hidden-lg visible-xs visible-sm font-Light f-s-18">P D</div>
          <!-- progress-bar-disabled   css is added extra in this line to make it grey, remove for green -->
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer active-tab"></a>
        </div>
        <div id="two" class="col-xs-2 bs-wizard-step disabled">
          <div class="text-center hidden-xs hidden-sm font-Light f-s-16">{{currentlanguage.co?.provide_service}}</div>
          <div class="text-center hidden-md hidden-lg visible-xs visible-sm font-Light f-s-18">A S</div>
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer"></a>
        </div>
        <div id="three" class="col-xs-2 bs-wizard-step disabled">
          <div class="text-center hidden-xs hidden-sm font-Light f-s-16">{{currentlanguage.co?.other_details}}</div>
          <div class="text-center hidden-md hidden-lg visible-xs visible-sm font-Light f-s-18">R M</div>
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer"></a>
        </div>
        <div id="four" class="col-xs-2 bs-wizard-step disabled">
          <div class="text-center hidden-xs hidden-sm font-Light f-s-16">{{currentlanguage.co?.closure}}</div>
          <div class="text-center hidden-md hidden-lg visible-xs visible-sm font-Light f-s-18">R M M</div>
          <div class="progress progress-bar-disabled progress-margin">
            <div class="progress-bar"></div>
          </div>
          <a class="bs-wizard-dot cursorPointer"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-12 col-sm-12">
    <div class="panel-body card p-a-0 bg-white ">
      <div class="container-fluid p-a-0 overflow-y" style="height: 390px">
        <div class=" b-t-2-w">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
            <div class="carousel-inner">
              <div class="item active">
                <!--<app-beneficiary-registration (onBenRegDataSelect)="getSelectedBenDetails($event); coservice.startCOService(); updatebeneficiary.PopulateUpdateData(); closure.onView();"
                                        (StartNewCall)="startCall()" #registration></app-beneficiary-registration>-->

                <app-beneficiary-registration [onStartNewCall]="StartNewCall"  [onReloadCall]="ReloadCall" (onBenSelect)="benService($event)" (onBenRegDataSelect)="getSelectedBenDetails($event); coservice.startCOService(); updatebeneficiary.PopulateUpdateData(); closure.onView();"
                  #registration [current_language]="currentlanguage"></app-beneficiary-registration>
              </div>
              <div class="item ">
                <!--<app-co-services (beneficiarySelected)="startCOService()" (serviceGiven)="updateServiceProvided(); closure.onView();" #coservice></app-co-services>-->
                <app-co-services (serviceGiven)="updateServiceProvided(); closure.onView()" [benHistory]="selectedBenData" #coservice [current_language]="currentlanguage"></app-co-services>

              </div>
              <div class="item ">
                <!--<app-updates-from-beneficiary (beneficiarySelected)="PopulateUpdateData()" #updatebeneficiary></app-updates-from-beneficiary>-->
                <app-updates-from-beneficiary #updatebeneficiary [current_language]="currentlanguage"></app-updates-from-beneficiary>
              </div>
              <div class="item ">
                <!--<app-closure (beneficiarySelected)="onView()" (serviceProvided)="onView()" (callClosed)="startNewCall(); registration.startNewCall();"
                                        #closure></app-closure>-->
                <!--<app-closure (callClosed)="startNewCall(); registration.startNewCall();" #closure></app-closure>-->
                <app-closure (callClosed)="closeCall($event);" (closedContinue)="closedContinue()" #closure [current_language]="currentlanguage"></app-closure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12  m-b-10 ">
        <button id="previous" type="button" class="btn pull-left font-regular f-s-18 m-r-5" href="#myCarousel" data-slide="prev"  [hidden]="!isPrevious" (click)="prevVisual()">{{currentlanguage.co?.previous}}</button>
        <button id="next"  type="button" class="btn pull-right font-regular f-s-18 m-r-5" href="#myCarousel" data-slide="next" [hidden]="!isNext" (click)="nxtVisual()">{{currentlanguage.co?.next}}</button>
        <div class="center-btn" align="center">
          <button type="button" value="Cancel" class="btn  font-regular f-s-18 m-r-5" data-slide-to="1" (click)="openDialog()" [disabled]="isCancelDisable">{{currentlanguage.co?.cancel}}</button>
          <button type="button" value="Close" class="btn  font-regular f-s-18 m-r-5" data-slide-to="4" (click)="openDialogClosure()"
          [disabled]="isClosureDisable">{{currentlanguage.co?.closure}}</button>
        </div>

      </div>
    </div>
  </div>
</div>
<div (click)="minimizeBar()" [hidden]="current_campaign == 'INBOUND'" *ngIf="currentlanguage!=undefined">
  <div class="clearfix"></div>
  <div class="col-xs-12 col-sm-12">
    <div class="panel-body card p-a-0 bg-white ">
      <div class="container-fluid p-a-0 height-400 overflow-y">
        <div class=" b-t-2-w">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
            <div class="carousel-inner">
              <div class="item active">
                <!--<app-beneficiary-registration (onBenRegDataSelect)="getSelectedBenDetails($event); coservice.startCOService(); updatebeneficiary.PopulateUpdateData(); closure.onView();"
                                        (StartNewCall)="startCall()" #registration></app-beneficiary-registration>-->
                <!-- <app-beneficiary-registration (onBenSelect)="benService($event)" (onBenRegDataSelect)="getSelectedBenDetails($event); coservice.startCOService(); updatebeneficiary.PopulateUpdateData(); closure.onView();"
                  #registration></app-beneficiary-registration> -->
                <app-outbond-worklist (onOutboundCall)="callBenOutbound($event)"></app-outbond-worklist>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <md2-dialog #confirm>
  <md2-dialog-title>Are you sure want to {{dialog.value}} ?</md2-dialog-title>
</md2-dialog> -->
<!--<button type="button" class="btn cu-green-btn  pull-right p-l-r-38 font-regular f-s-18 czenrix-icon" *ngIf="barMinimized"
  (click)="toggleBar()">C-Zentrix</button>-->
<!--<iframe src="http://10.201.13.17/bar/cti_handler.php" width="230px" height="350px" class="czenrix-bar" *ngIf="!barMinimized"
  (click)="toggleBar()"></iframe>-->
<iframe [src]="ctiHandlerURL" width="230px" height="350px" class="czenrix-bar" *ngIf="!barMinimized" (click)="toggleBar()"></iframe>
