<div class="row" *ngIf="showTableFlag">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.smsTemplateList}}</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
    <table class="table table-striped table-hover" [md2Data]="existing_templates" #md2="md2DataTable" [rowsPerPage]="5" aria-describedby="smsTemplateListItems">
      <thead>
        <tr>
          <th id="sno" style="width: 5%;">{{currentLanguageSet?.sno}}</th>
          <th id="templateName"style="width: 25%;">{{currentLanguageSet?.templateName}} </th>
          <th id="templateType"style="width: 30%;">{{currentLanguageSet?.templateType}}</th>
          <th id="template"style="width: 20%;">{{currentLanguageSet?.template}}</th>
          <th id="view" style="width: 10%;">{{currentLanguageSet?.view}}</th>
          <th id="delete" style="width: 10%;">{{currentLanguageSet?.delete}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="md2.data?.length==0">
          <td colspan="6" class="record-not-found">
            {{currentLanguageSet?.noRecordFound}}
          </td>

        </tr>
        <tr *ngFor="let item of md2.data; let i = index ">
          <td>
            <strong>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</strong>
          </td>
          <td>{{item.smsTemplateName}}</td>
          <td>{{item.smsType.smsType}}</td>
          <td>{{item.smsTemplate}}</td>
          <td>
            <md-icon class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" style="color:gray" (click)="view(item)">visibility</md-icon>
          </td>
          <td>
              <button *ngIf="!item.deleted" md-raised-button color="primary" class="pull-right m-r-0" type="button" (click)="ActivateDeactivate(item,true)">{{currentLanguageSet?.deactivate}}</button>
              <button *ngIf="item.deleted" [disabled]="item.deleted" md-raised-button color="primary" class="pull-right m-r-0" type="button" (click)="ActivateDeactivate(item,false)">{{currentLanguageSet?.deactivated}}</button>              
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="3">
          <md2-pagination></md2-pagination>
        </td>
        <td colspan="3">
          <button md-raised-button color="primary" class="pull-right m-r-0" type="button" (click)="showForm()">{{currentLanguageSet?.createNewSmsTemplate}}</button>
        </td>
      </tfoot>
    </table>
  </div>
</div>
<div class="row" *ngIf="!showTableFlag && !viewTemplate">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.createSmsTemplate}}</h4>
  </div>

  <form #smsForm="ngForm" autocomplete="off">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput inputFieldValidator required placeholder="{{currentLanguageSet?.templateName}}" [readonly]="isReadonly" ngModel name="templateName" #templateName = 'ngModel' maxlength="40">
        <md-hint *ngIf="templateName.errors && templateName.touched">
          <span class="error_text">{{currentLanguageSet?.templateNameIsRequired}}</span>
        </md-hint>
      </md-input-container>
    </div> 
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-1-5">
  
      <md-select [style.width]="'100%'" ngModel required placeholder="{{currentLanguageSet?.smsType}}"
        name="smsType" #smsType='ngModel'>
        <md-option *ngFor="let type of SMS_Types" [value]="type.smsTypeID">
          {{type.smsType}}
        </md-option>
      </md-select>
      <span class="error_text f-s-10" *ngIf="smsType.errors && smsType.touched">{{currentLanguageSet?.smsTypeIsRequired}}</span>
   
  </div>
  

  <div class="clearfix"></div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <md-input-container style="width: 100%">
      <textarea mdInput smsTemplateValidatorWithCopyPaste  rows="5" ngModel required [readonly]="isReadonly" placeholder="{{currentLanguageSet?.smsTemplate}}" minlength="20" maxlength="160" #smsTemplate='ngModel' name="smsTemplate"></textarea>
      <md-hint *ngIf="smsTemplate?.errors && smsTemplate?.touched">
        <span class="error_text">{{currentLanguageSet?.min20}}</span>
      </md-hint>
      <md-hint align="end">{{smsTemplate.value?.length ? smsTemplate.value?.length : 0}}/160</md-hint>
    </md-input-container>
  </div>

  <div class="clearfix"></div>

  <div *ngIf="showParameters">
  
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-1-5">
    
        <md-select [style.width]="'100%'" ngModel placeholder="{{currentLanguageSet?.selectParameter}}"
          name="parameter" #parameterType="ngModel" (change)="getSMSparameters()">
          <md-option *ngFor="let parameter of Parameters" [value]="parameter">
            {{parameter}}
          </md-option>
        </md-select>
    
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-1-5">
    
        <md-select [style.width]="'100%'" ngModel placeholder="{{currentLanguageSet?.selectValueType}}"
          name="valueType" (change)="setValuesInDropdown(parameterValueType.value)" #parameterValueType="ngModel">
          <md-option *ngFor="let type of smsParameters" [value]="type">
            {{type.smsParameterType}}
          </md-option>
        </md-select>
     
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    
        <md-select [style.width]="'100%'" ngModel placeholder="{{currentLanguageSet?.selectValue}}"
          name="value" #smsParameterValue="ngModel">
          <md-option *ngFor="let val of selectedParameterValues" [value]="val">
            {{val.smsParameterName}}
          </md-option>
        </md-select>
     
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <button class="m-t-10" md-raised-button color="primary" type="button" (click)="add(smsForm.value)">{{currentLanguageSet?.add}}</button>
    </div>        
  
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 table-responsive" *ngIf="smsParameterMaps.length>0">
      <table class="table table-hover table-striped" [md2Data]="smsParameterMaps" #md2="md2DataTable" [rowsPerPage]="3" aria-describedby="smsParameterList">
        <thead>
          <tr>
            <th id="sno" style="width: 20%;">{{currentLanguageSet?.sno}}</th>
            <th id="parameter" style="width: 20%;">{{currentLanguageSet?.parameter}}</th>
            <th id="valueType" style="width: 20%;">{{currentLanguageSet?.valueType}}</th>
            <th id="value" style="width: 20%;">{{currentLanguageSet?.value}}</th>
            <th id="action" style="width: 20%;">{{currentLanguageSet?.action}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data; let i = index ">
            <td>
              <strong>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</strong>
            </td>
            <td>{{item.smsParameterName}}</td>
            <td>{{item.smsParameterType}}</td>
            <td>{{item.smsParameterValue}}</td>
            <td>
              <md-icon mdTooltip="{{currentLanguageSet?.remove}}" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="remove(item,i)">clear</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="5">
            <md2-pagination></md2-pagination>
          </td>
        </tfoot>
      </table>
    </div>
  </div>
  </form>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-40 m-t-10">
    <button md-raised-button color="primary" type="button" class="pull-left m-r-10" (click)="showTable()">{{currentLanguageSet?.back}}</button>      
    <button *ngIf="showParameters" md-raised-button color="primary" type="button" class="pull-left m-r-10 m-l-10"  (click)="cancel()">{{currentLanguageSet?.cancel}}</button>
    <button *ngIf="showParameters" md-raised-button color="primary" [disabled]="smsParameterMaps.length!=Parameters_count" type="button" class="pull-right" (click)="saveSMStemplate(smsForm.value)">{{currentLanguageSet?.submit}}</button>
    <button md-raised-button color="primary" type="button" [disabled]="smsForm.invalid" class="pull-right" *ngIf="!showParameters" (click)="extractParameters(smsTemplate.value)">{{currentLanguageSet?.continue}}</button>      
  </div>

  
</div>

<div  class="row" [hidden]="!viewTemplate">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.viewSmsTemplate}}</h4>
  </div>

  <form #vf="ngForm" autocomplete="off">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput inputFieldValidator required placeholder="{{currentLanguageSet?.templateName}}" ngModel name="templateName" readonly>
      </md-input-container>
    </div> 
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <md-input-container [style.width]="'100%'">
      <input mdInput placeholder="{{currentLanguageSet?.smsType}}" ngModel name="smsType" readonly>
    </md-input-container>
  </div>
  

  <div class="clearfix"></div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <md-input-container style="width: 100%">
      <textarea mdInput smsTemplateValidatorWithCopyPaste  rows="5" ngModel required placeholder="{{currentLanguageSet?.smsTemplate}}"  #sms name="smsTemplate" readonly></textarea>
      <md-hint align="end">{{sms.value.length?sms.value.length:0}}/160</md-hint>
    </md-input-container>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 table-responsive" *ngIf="viewSMSparameterTable.length>0">
    <table class="table table-hover table-striped" [md2Data]="viewSMSparameterTable" #md2="md2DataTable" [rowsPerPage]="3" aria-describedby="viewSmsParameterList">
      <thead>
        <tr>
          <th id="sno" style="width: 25%;">{{currentLanguageSet?.sno}}</th>
          <th id="parameter" style="width: 25%;">{{currentLanguageSet?.parameter}}</th>
          <th id="valueType" style="width: 25%;">{{currentLanguageSet?.valueType}}</th>
          <th id="value" style="width: 25%;">{{currentLanguageSet?.value}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of md2.data; let i = index ">
          <td>
            <strong>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</strong>
          </td>
          <td>{{item.smsParameterName}}</td>
          <td>{{item.smsParameterType}}</td>
          <td>{{item.smsParameterValue}}</td>
          
        </tr>
      </tbody>
      <tfoot>
        <td colspan="2">
          <md2-pagination></md2-pagination>
        </td>
        <td colspan="2">
          <button md-raised-button color="primary" type="button" class="pull-right m-r-0" (click)="showTable()">{{currentLanguageSet?.back}}</button>      
        </td>
      </tfoot>
    </table>
  </div>
  <div class="col-xs-12 col-sm-12" *ngIf="viewSMSparameterTable.length===0">
    <button md-raised-button color="primary" type="button" class="pull-right m-r-0" (click)="showTable()">{{currentLanguageSet?.back}}</button>      
  </div>
  </form>
</div>

  