<div class="container-fluid" *ngIf="confirmAlert">
  <h3 md-dialog-title>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">{{message}}</div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <button class="pull-right" md-icon-button class="closeBtn" md-dialog-close>
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </h3>
  <md-dialog-content>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div md-dialog-content>
          <!-- <div>
            <h3>{{message}}</h3>
          </div> -->
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button md-button style="color: #fff;background-color: #153961;" (click)="dialogRef.close(true)">{{btnOkText}}</button>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button md-button (click)="dialogRef.close(false)">{{btnCancelText}}</button>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>

</div>
<div class="container-fluid" *ngIf="alert">
  <h3 md-dialog-title>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">{{message}}</div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <button class="pull-right" md-icon-button class="closeBtn" md-dialog-close>
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </h3>
  <md-dialog-content>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-btn ">
        <button md-button style="color: #fff;background-color: #153961; " (click)="dialogRef.close(true) ">{{btnOkText}}</button>
      </div>
    </div>
  </md-dialog-content>
</div>
<div class="container-fluid " *ngIf="remarks ">
  <h3 md-dialog-title>
    <div class="row ">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">{{message}}</div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <button class="pull-right " md-icon-button class="closeBtn " md-dialog-close>
          <i class="material-icons ">close</i>
        </button>
      </div>
    </div>
  </h3>
  <md-dialog-content>
    <div class="row ">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-btn">
        <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="Enter Remarks" name="Remarks" #remarksRef>
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-right">
        <button md-button class="pull-right" style="color: #fff;background-color: #153961; " (click)="dialogRef.close(remarksRef.value) ">{{btnOkText}}</button>
      </div>
    </div>
  </md-dialog-content>
</div>
