<div class="container-fluid">
  <div class="row">
    <!--<div class="">-->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <label class="pull-left">
        <h4 class="f-s-b m-b-10 m-t-20">Everwell Outbound Call Allocation </h4>
      </label>
    </div>    
    <div class="clearfix"></div>
  
    <!--</div>-->
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- <h5>Mother Records</h5> -->
        <div class="table-responsive">
          <table id="outbondListTable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Language Name</th>
                <th>No.of Records</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of _unAllocatedCalls">               
                <th>{{item?.language}}</th>
                <td>{{item?.count}}
                  <button type="button" [disabled]="(item?.count === 0 )"
                    (click)="allocateCalls(item?.language, $event)" md-raised-button
                    color="accent" class="md-btn pull-right">Allocate</button>
                </td>            
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row" *ngIf="showFlage">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <app-everwell-allocate-records (outboundCount)="assignCount($event)" [outboundCallRequests]="records">
          </app-everwell-allocate-records>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-xs-12 col-sm-12"> -->
  <!--(click)="getCount(searchInputs.value) this was to for search option-->
  <!--<button type="button" class="btn cu-blue-btn p-l-r-38 font-regular f-s-18" id="allocateScreen">Allocate</button>-->
  <!-- </div> -->
  <div class="clearfix"></div>
</div>