<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4><strong>Agent Status</strong></h4>
    </div>
    <div class="col-xs-12 col-sm-12 p-t-30">
        <div>
            <md-select placeholder="Select Role" [(ngModel)]="selection" name="selection" [style.width]="'100%'">
                <md-option value="all">
                    All
                </md-option>
                <md-option value="ro">
                    RO
                </md-option>
                <md-option value="hao">
                    HAO
                </md-option>
                <md-option value="mo">
                    MO
                </md-option>
                <md-option value="co">
                    CO
                </md-option>
                <md-option value="sio">
                    SIO
                </md-option>
            </md-select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 p-t-20">
        <!-- <button class="btn pull-right" (click)="showForm()">Add Epidemic Details</button> -->
        <div class="table-responsive ">
            <table class="table ">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>AgentID</th>
                        <th>Agent Name</th>
                        <th>Role</th>
                        <th>GroupID</th>
                        <th>Extension</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Call Time</th>
                        <th>Call Barge</th>
                        <th>Force Logout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="cursor: pointer;">
                        <td>1.</td>
                        <td>1253071</td>
                        <td>Diamond Khanna</td>
                        <td>SIO</td>
                        <td>2</td>
                        <td>4000</td>
                        <td>9023650041</td>
                        <td>Active</td>
                        <td>12:00</td>
                        <td></td>
                        <td>
                            <button class="btn">Logout</button>
                        </td>
                    </tr>
                    <tr style="cursor: pointer;">
                        <td>2.</td>
                        <td>1253072</td>
                        <td>Sandeep Khanna</td>
                        <td>RO</td>
                        <td>2</td>
                        <td>4000</td>
                        <td>9023650042</td>
                        <td>Active</td>
                        <td>13:00</td>
                        <td>
                            <button class="btn">Call Barge</button>
                        </td>
                        <td>
                            <button class="btn">Logout</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
