
<div class="successHeaderDiv">
  <h4 class="popupHeader">{{currentLanguageSet?.success}}</h4>
</div>
<md-dialog-content>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <md-select class="p-b-1-5" [style.width]="'70%'" required placeholder="{{currentLanguageSet?.emails}}" multiple [(ngModel)]="email" name="email"
        #emailSelected="ngModel">
        <md-option *ngFor="let mail of emails" [value]="mail">
          {{mail}}
        </md-option>
      </md-select>
    </div>

    <form [formGroup]="emailForm">
      <ng-container formArrayName="emails">
        <div *ngFor="let mail of controll(); let i = index" class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <ng-container [formGroupName]="i">
            <md-input-container>
              <input required mdInput placeholder="{{currentLanguageSet?.enterEmail}}" [pattern]="emailPattern" formControlName="email">

            </md-input-container>
            <span>
              <md-icon (click)="deleteInputField(i)" mdSuffix mdTooltip="{{currentLanguageSet?.deleteRow}}" class="mat-icon material-icons" role="img" aria-hidden="true"
                style="cursor: pointer">delete</md-icon>
            </span>
          </ng-container>
        </div>
      </ng-container>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <button md-mini-fab color="primary" class="m-l-10" (click)="addInputField()">
          <md-icon mdSuffix class="mat-icon material-icons" mdTooltip="{{currentLanguageSet?.addManually}}" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
        </button>
      </div>
    </form>
  </div>
</md-dialog-content>

<md-dialog-actions class="pull-right m-r--10 p-b-14">
  <button md-raised-button color="primary" class="pull-right font-regular f-s-18  m-t-8" (click)="dialogReff.close()">{{currentLanguageSet?.close}}</button>
  <button [disabled]="emailForm.invalid || emailSelected.invalid" md-raised-button color="accent" class="pull-right font-regular f-s-18  m-t-8 m-r-5"
    (click)="sendEmail(email,emailForm.value)">{{currentLanguageSet?.sendEmail}}
  </button>
</md-dialog-actions>