.sw {
    float: left;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }
  
  .search {
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    transition: all 0.05s ease-in-out;
    -webkit-appearance: none;
  }
  
  .go {
    flex: 1 1 auto;
    order: 3;
    max-width: 50px;
    display: inline-block;
    border: none;
    background: #fff;
    color: blue;
    padding-top: 6px;
    height: 40px;
    transition: all 0.05s ease-in-out;
    outline: none;
  }