<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.emergencyContactList}}</h4>
  </div>
  <div class="col-xs-8 col-sm-6 col-md-4 pull-right m-t-10 m-b-10" *ngIf="emergencyList.length!==0">
    <div class="sw">
      <input type="search" class="search" autocomplete="off" #filterTerm
        placeholder="{{currentLanguageSet?.inTableSearch}}" 
        (keyup)="filterComponentList(filterTerm.value)" />
      <button class="go" (click)="filterComponentList(filterTerm.value)">
        <span class="material-icons">search</span>
      </button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
    <table class="table table-striped table-hover" [md2Data]="filteredsearchResult" #md2="md2DataTable" [rowsPerPage]="5" aria-describedby="emergencyContactList">
      <thead>
        <tr>
          <th id="sno" >{{currentLanguageSet?.sno}}</th>
          <th id="contactName">{{currentLanguageSet?.contactName}} </th>
          <th id="designation">{{currentLanguageSet?.designation}}</th>
          <th id="location">{{currentLanguageSet?.location}}</th>
          <th id="contactNumber">{{currentLanguageSet?.contactNumber}}</th>
          <th id="action">{{currentLanguageSet?.action}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="md2.data?.length==0">
          <td colspan="6" class="record-not-found">
            {{currentLanguageSet?.noRecordsFound}}
          </td>

        </tr>
        <tr *ngFor="let item of md2.data; let i = index ">
          <td>
            <strong>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</strong>
          </td>
          <td>{{item.emergContactName}}</td>
          <td>{{item?.designation?.designationName}}</td>
          <td>{{item.location}}</td>
          <td>{{item.emergContactNo}}</td>
          <td>
            <md-icon mdTooltip="{{currentLanguageSet?.edit}}" *ngIf="!(item?.deleted)" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer"
              (click)="edit(item)">edit</md-icon>
            <a style="cursor:pointer" *ngIf="item?.deleted" (click)="activate(item,false)">{{currentLanguageSet?.activate}}</a>
            <a style="cursor:pointer" *ngIf="!(item?.deleted)" (click)="deactivate(item,true)">{{currentLanguageSet?.deactivate}}</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="3">
          <md2-pagination></md2-pagination>
        </td>
        <td colspan="3">
          <button md-raised-button color="primary" class="pull-right" type="button" (click)="formMode()">{{currentLanguageSet?.createContactInformation}}</button>
        </td>
      </tfoot>
    </table>
  </div>
</div>
<div class="row" *ngIf="showForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.createContactInformation}}</h4>
  </div>
  <form #emergencyContact="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" myName_space>
      <md-input-container [style.width]="'100%'">
        <input mdInput class="" placeholder="{{currentLanguageSet?.name}}" name="name" [(ngModel)]="name" required #contactName="ngModel" maxlength="50"
          minlength="3">
        <md-hint  *ngIf="contactName.invalid && contactName.touched"> <span class="error_text">{{currentLanguageSet?.enterAtleastThreeCharacters}}</span></md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 p-b-1-5">
     
        <md-select placeholder="{{currentLanguageSet?.designation}}" [style.width]="'100%'" required [(ngModel)]="designation" name="designation">
          <md-option *ngFor="let item of designations" [value]="item">
            {{item.designationName}}
          </md-option>
        </md-select>
   
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'" myAddress>
        <input mdInput allowText = "textAreaValidator" placeholder="{{currentLanguageSet?.location}}" name="location" [(ngModel)]="location" required #Location="ngModel" maxlength="90"
          minlength="3">
        <md-hint *ngIf="Location.invalid && Location.touched"> <span class="error_text">{{currentLanguageSet?.enterAtleastThreeCharacters}}</span></md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" myMobileNumber>
      <md-input-container [style.width]="'100%'" myMobileNumber>
        <input mdInput [(ngModel)]="contactNumber" placeholder="{{currentLanguageSet?.mobileNumber}}" [pattern]="numberRegex" required minlength="10" name="contactNumber" maxlength="10"
          #mobileNum="ngModel">
        <md-hint *ngIf="mobileNum.invalid && mobileNum.touched"> <span class="error_text">{{currentLanguageSet?.enterTenDigitsValidNumber}}</span></md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button md-raised-button color="primary" class="pull-left" (click)="tableMode()">{{currentLanguageSet?.back}}</button>
      <button md-raised-button color="primary" [disabled]="emergencyContact.invalid" class="pull-right" (click)="push2buffer(emergencyContact.value)">{{currentLanguageSet?.add}}</button>
    </div>
  </form>
 
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 table-responsive" *ngIf="bufferArray.length>0">
    <table class="table table-hover table-striped" [md2Data]="bufferArray" #md2="md2DataTable" [rowsPerPage]="3" aria-describedby="emergencyContactsBufferList">
      <thead>
        <tr>
          <th id="sno"style="width: 5%;">{{currentLanguageSet?.sno}}</th>
          <th id="contactName" style="width: 20%;">{{currentLanguageSet?.contactName}} </th>
          <th id="designation" style="width: 15%;">{{currentLanguageSet?.designation}}</th>
          <th id="location" style="width: 30%;">{{currentLanguageSet?.location}}</th>
          <th id="contactNumber" md2SortBy="emergContactNo" style="width: 15%;">{{currentLanguageSet?.contactNumber}}</th>
          <th id="action" style="width: 15%;">{{currentLanguageSet?.action}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of md2.data; let i = index ">
          <td>
            <strong>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</strong>
          </td>
          <td>{{item.emergContactName}}</td>
          <td>{{item.designationName}}</td>
          <td>{{item.location}}</td>
          <td>{{item.emergContactNo}}</td>
          <td>
            <md-icon mdTooltip="{{currentLanguageSet?.remove}}" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="remove(i)">clear</md-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="3">
          <md2-pagination></md2-pagination>
        </td>
        <td colspan="3">
          <button md-raised-button color="accent" class="pull-right" type="button" (click)="createEmergencyContact(bufferArray)">{{currentLanguageSet?.save}}</button>
        </td>
      </tfoot>
    </table>
  </div>
</div>
<div class="row" *ngIf="showEditForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.editEmergencyContact}}</h4>
  </div>
  <form #editEmergencyContact="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="{{currentLanguageSet?.name}}" name="name" [(ngModel)]="name" required #contactName="ngModel" maxlength="50" minlength="3">
        <md-hint *ngIf="contactName.invalid && contactName.touched"><span class="error_text">{{currentLanguageSet?.enterAtleastThreeCharacters}}</span></md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 p-b-1-5">
   
        <md-select placeholder="{{currentLanguageSet?.designation}}" [style.width]="'100%'" required [(ngModel)]="designation" name="designation">
          <md-option *ngFor="let item of designations" [value]="item.designationID">
            {{item.designationName}}
          </md-option>
        </md-select>
      
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'" myAddress>
        <input mdInput allowText = "textAreaValidator" placeholder="{{currentLanguageSet?.location}}" name="location" [(ngModel)]="location" required #Location="ngModel" maxlength="90"
          minlength="3">
        <md-hint *ngIf="Location.invalid && Location.touched"><span class="error_text">{{currentLanguageSet?.enterAtleastThreeCharacters}}</span></md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'" myMobileNumber>
        <input mdInput [(ngModel)]="contactNumber" placeholder="{{currentLanguageSet?.mobileNumber}}" required minlength="10" name="contactNumber" maxlength="10"
          #mobileNum="ngModel">
        <md-hint *ngIf="mobileNum.invalid && mobileNum.touched"><span class="error_text">{{currentLanguageSet?.enterTenDigitsMobileNumber}}</span></md-hint>
      </md-input-container>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button md-raised-button color="primary" class="pull-left" (click)="tableMode()">{{currentLanguageSet?.back}}</button>
    <button [disabled]="editEmergencyContact.invalid" md-raised-button color="accent" class="pull-right" (click)="update(editEmergencyContact.value)">{{currentLanguageSet?.update}}</button>
  </div>
</div>