<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label>
      <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.feedbackTracking}}</h4>
    </label>
  </div>
  <div class="">
    <form [formGroup]="feedbackForm2" (ngSubmit)="onSearch()" *ngIf="action === 'view'" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <md2-datepicker class="width100" [md2DatepickerToggle]="startDate" placeholder="{{currentLanguageSet?.startDate}}" name="startDate" formControlName="startDate"
          [max]="maxStartDate" required></md2-datepicker>
        <span class="error_text f-s-10 p-l-10" *ngIf="feedbackForm2.get('startDate').touched && feedbackForm2.get('startDate').hasError('required')">{{currentLanguageSet?.dateIsRequired}}</span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <md2-datepicker class="width100" [md2DatepickerToggle]="endDate" placeholder="{{currentLanguageSet?.endDate}}" name="endDate" formControlName="endDate"
          [min]="feedbackForm2.get('startDate').value" [max]="maxEndDate" required></md2-datepicker>
        <span class="error_text f-s-10 p-l-10" *ngIf="feedbackForm2.get('endDate').touched && feedbackForm2.get('endDate').hasError('required')">{{currentLanguageSet?.dateIsRequired}}</span>
        <span class="error_text f-s-10 p-l-10" *ngIf="(feedbackForm2.get('endDate').value < feedbackForm2.get('startDate').value) && feedbackForm2.get('endDate').dirty">{{currentLanguageSet?.endDateCannotBeBeforeStartDates}}</span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-b-1-5">
       
          <md-select placeholder="{{currentLanguageSet?.feedbackType}}" [style.width]="'100%'" formControlName="feedbackTypeID" name="feedbackType">
            <md-option value=''>{{currentLanguageSet?.all}}</md-option>
            <md-option *ngFor="let feedbackType of feedbackTypes" [value]="feedbackType.feedbackTypeID">
              {{feedbackType.feedbackTypeName}}
            </md-option>
          </md-select>
      
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <md-input-container style="width: 100%">
          <input mdInput id="ComplaintId" placeholder="{{currentLanguageSet?.enterFeedbackId}}" formControlName="requestID" name="feedback" maxlength="30">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
        <button md-raised-button color="accent" class="m-t-10 visible-lg" type="submit" [disabled]="feedbackForm2.invalid" name="search">{{currentLanguageSet?.search}}</button>
        <button md-raised-button color="accent" class="m-t-10 hidden-lg pull-right" type="submit" [disabled]="feedbackForm2.invalid"
          name="search">{{currentLanguageSet?.search}}</button>
      </div>
    </form>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="tableView">
      <h4 class="pull-left f-s-b m-t-10 m-b-10">{{currentLanguageSet?.feedbackDetails}}</h4>
    </div>
    <div class="col-xs-12 col-sm-12" *ngIf="tableView">
      <div class="table-responsive m-t-10">
        <table class="table table-striped" [md2Data]="feedbackList" #md2="md2DataTable" [rowsPerPage]="5" aria-describedby="grievanceList">
          <thead>
            <tr>
              <th id="feedbackId">{{currentLanguageSet?.feedbackId}}</th>
              <th id="feedbackDate">{{currentLanguageSet?.feedbackDate}}</th>
              <th id="nameOfBeneficiary">{{currentLanguageSet?.nameOfBeneficiary}}</th>
              <th id="typeOfFeedback">{{currentLanguageSet?.typeOfFeedback}}</th>
              <th id="feedbackStatus">{{currentLanguageSet?.feedbackStatus}}</th>
              <th id="emailStatus">{{currentLanguageSet?.emailStatus}}</th>
              <th id="edit">{{currentLanguageSet?.edit}}</th>
              <th id="update">{{currentLanguageSet?.update}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="feedbackList?.length==0">
              <td class="record-not-found" colspan="8">
                {{currentLanguageSet?.noRecordsFound}}
              </td>
            </tr>
            <tr *ngFor="let feedback of md2.data">
              <td>{{feedback.requestID?feedback.requestID:'-'}}</td>
              <td>{{feedback?.createdDate |utcDate | date:'dd/MM/yyyy'}}</td>
              <td>{{feedback?.beneficiary?.firstName}} {{feedback?.beneficiary?.lastName ? feedback.beneficiary.lastName : ""}}</td>
              <td>{{feedback?.feedbackType?.feedbackTypeName}}</td>
              <td>{{feedback?.feedbackStatus?.feedbackStatus}}</td>
              <td>{{feedback?.emailStatus?.emailStatus}}</td>
              <td class="t-a-c">
                <i class="mdicon material-icons cursorPointer" (click)="requestFeedback(feedback)" aria-hidden="true" mdTooltip="{{currentLanguageSet?.edit}}">edit</i>
              </td>
              <td class="t-a-c">
                <i *ngIf="feedback?.feedbackRequests?.length > 0" class="mdicon material-icons cursorPointer" (click)="updateResponse(feedback)"
                  aria-hidden="true" mdTooltip="{{currentLanguageSet?.update}}">publish</i>
                <p *ngIf="feedback?.feedbackRequests?.length == 0">-</p>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <form autocomplete="off" #fb_form="ngForm" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" *ngIf="(action === 'edit') || (action === 'update')">
      <div class="row">
        <div class="col-xs-12 col-sm-12 ">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.feedbackId}}" id="feedbackID" formControlName="feedbackID" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.beneficiaryName}}" id="beneficiaryName" formControlName="beneficiaryName" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.feedbackDate}}" id="Feedback Date" formControlName="feedbackDate" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.feedbackType}}" id="BeneficiaryRegID" formControlName="feedbackTypeName" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.feedbackStatus}}" id="FeedbackStatus" formControlName="feedbackStatus" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.emailStatus}}" id="EmailStatus" formControlName="emailStatus" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.institutionType}}" id="InstitutionName" formControlName="institutionName" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.designationName}}" id="DesignationName" formControlName="designationName" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.severityType}}" id="SeverityTypeName" formControlName="severityTypeName" readonly>
            </md-input-container>
          </div>
       
        
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.createdBy}}" id="CreatedBy" formControlName="createdBy" readonly>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="{{currentLanguageSet?.modifiedBy}}" id="ModifiedBy" formControlName="modifiedBy" readonly>
            </md-input-container>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="action==='edit'">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <md-input-container style="width: 100%">
              <textarea mdInput rows="3"  id="Feedback" placeholder="{{currentLanguageSet?.feedback}}" maxlength="5000" #grievance1  formControlName="feedbackSupSummary"
                readonly></textarea>
              <md-hint align="end">{{grievance1.value.length?grievance1.value.length:0}}/5000</md-hint>
            </md-input-container>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="action==='update'">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <md-input-container style="width: 100%">
              <textarea mdInput rows="3"  id="Feedback" placeholder="{{currentLanguageSet?.feedback}}" maxlength="5000" #grievance2  formControlName="feedbackSupSummary"
                readonly></textarea>
              <md-hint align="end">{{grievance2.value.length?grievance2.value.length:0}}/5000</md-hint>
            </md-input-container>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="action==='edit'">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <md-input-container style="width: 100%">
              <textarea mdInput rows="3"  id="comments" placeholder="{{currentLanguageSet?.commentsDetailsEnteredWillBeSentAsEmail}}" maxlength="500"
                #comment  formControlName="comments" required></textarea>
              <md-hint align="end">{{comment.value.length?comment.value.length:0}}/500</md-hint>
            </md-input-container>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="action==='update'">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <md-input-container style="width: 100%">
              <textarea mdInput  rows="3"  id="response" placeholder="{{currentLanguageSet?.responseReceived}}" maxlength="500" #response formControlName="comments"
                required></textarea>
              <md-hint align="end">{{response.value.length?response.value.length:0}}/500</md-hint>
            </md-input-container>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 p-b-1-5">
           
              <md-select placeholder="{{currentLanguageSet?.feedbackStatus}}" [style.width]="'100%'" formControlName="feedbackStatusID">
                <md-option *ngFor="let feedbackStatus of feedbackStatuses" [value]="feedbackStatus.feedbackStatusID">
                  {{feedbackStatus.feedbackStatus}}
                </md-option>
              </md-select>
             
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 p-b-1-5">
        
              <md-select placeholder="{{currentLanguageSet?.emailStatus}}" [disabled]="action==='update'" [style.width]="'100%'" formControlName="emailStatusID">
                <md-option *ngFor="let emailStatus of emailStatuses" [value]="emailStatus.emailStatusID">
                  {{emailStatus.emailStatus}}
                </md-option>
              </md-select>
            
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" *ngIf="action==='update'">
            <label for="upload-file">{{currentLanguageSet?.uploadFileEmail}}</label>
            <input type="file" accept="*" size="100" placeholder="{{currentLanguageSet?.uploadFile}}" id="upload-file" (change)="onFileUpload($event)" name="file">
            <div class="clearfix"></div>
            <md-hint>
              <span class="help-block" *ngIf="invalid_file_flag">{{currentLanguageSet?.supportedFileFormatsMsgPdf}}</span>
            </md-hint>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10" *ngIf="action==='edit'">
            <button md-raised-button color="accent" class="pull-right" type="submit" [disabled]="fb_form.invalid" name="save"> {{currentLanguageSet?.saveEmail}}</button>
            <button md-raised-button color="primary" class="pull-right m-r-10" (click)="backToFeedbackTracking()">{{currentLanguageSet?.back}}</button>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 m-t-10" *ngIf="action==='update'">
            <button md-raised-button color="accent" class="pull-right" type="submit" [disabled]="fb_form.invalid || invalid_file_flag"
              name="save">{{currentLanguageSet?.update}}</button>
            <button md-raised-button color="primary" class="pull-right m-r-10" (click)="backToFeedbackTracking()">{{currentLanguageSet?.back}}</button>
          </div>
        </div>
      </div>
    </form>
    <div class="" *ngIf="(action === 'edit') || (action === 'update')">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="feedBackRequestsResponse?.length>0">
        <h4 class="f-s-b">{{currentLanguageSet?.feedbackRequestResponse}}</h4>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="feedBackRequestsResponse?.length>0">
        <div class="table-responsive">
          <table class="table table-responsive table-striped" [md2Data]="feedBackRequestsResponse" #md2="md2DataTable" [rowsPerPage]="3" aria-describedby="FeedbackReposnseList">
            <thead>
              <tr>
                <th id="sno">{{currentLanguageSet?.sno}}</th>
                <th id="feedbackRequestId">{{currentLanguageSet?.feedbackRequestId}}</th>
                <th id="feedbackDescription">{{currentLanguageSet?.feedbackDescription}}</th>
                <th id="supervisorComments">{{currentLanguageSet?.supervisorComments}}</th>
                <th id="responseReceived">{{currentLanguageSet?.responseReceived}}</th>
                <th id="responseAttachment">{{currentLanguageSet?.responseAttachment}}</th>
                <th id="lastFeedbackStatus">{{currentLanguageSet?.lastFeedbackStatus}}</th>
                <th id="emailStatus">{{currentLanguageSet?.emailStatus}}</th>
                <th id="forwardedBy">{{currentLanguageSet?.forwardedBy}}</th>
                <th id="forwardedDate">{{currentLanguageSet?.forwardedDate}}</th>
                <th id="updatedBy">{{currentLanguageSet?.updatedBy}}</th>
                <th id="updatedDate">{{currentLanguageSet?.updatedDate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="md2.data.length<1">
                <td class="t-a-c record-not-found" colspan="12">
                  {{currentLanguageSet?.noRecordsFound}}
                </td>
              </tr>
              <tr style="cursor: pointer;" *ngFor="let feedback
                        of md2.data;let i=index " (click)="modalData(feedback)">
                <td style="width: 10%;">{{(md2.activePage-1)*(md2.rowsPerPage)+(i+1)}}</td>
                <td>{{feedback.feedbackRequestID}}</td>
                <td>{{feedback.feedbackSupSummary}}</td>
                <td>{{feedback.comments}}</td>
                <td>{{feedback.responseComments}}</td>
                <td>
                  <p *ngIf="feedback.attachmentPath">
                    <a href="{{feedback?.attachmentPath}}" target="_blank">{{feedback.kmFileManager?.fileName}}</a>
                  </p>
                </td>
                <td>{{lastFeedbackStatus}}</td>
                <td>{{feedback.emailStatus?.emailStatus}}</td>
                <td>{{feedback.createdBy}}</td>
                <td>{{millisToUTCDate(feedback.createdDate) | date:'dd/MM/yyyy hh:mm'}}</td>
                <td>{{feedback.responseUpdatedBy}}</td>
                <td>{{feedback.responseDate?(millisToUTCDate(feedback.responseDate) | date:'dd/MM/yyyy hh:mm'):"-"}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <md2-pagination></md2-pagination>
                </td>
              
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>