<!-- <div>
  <form [formGroup]="feedbackForm2" (ngSubmit)="onSearch()" *ngIf="action === 'view'">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label class="control-label" for="startDate">Start Date</label>
          <input mdInput [mdDatepicker]="myDatepicker" class="form-control" formControlName="startDate">
          <div class="calendarIconPosition">
            <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
          </div>
        </div>
        <md-datepicker #myDatepicker></md-datepicker>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label class="control-label" for="endDate">End Date</label>
          <input mdInput [mdDatepicker]="myDatepicker1" class="form-control" formControlName="endDate">
          <div class="calendarIconPosition">
            <button mdSuffix [mdDatepickerToggle]="myDatepicker1"></button>
          </div>
        </div>
        <md-datepicker #myDatepicker1></md-datepicker>
        <div *ngIf="feedbackForm2.controls.endDate.errors.date">*Enter end date</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label class="control-label" for="ComplaintId">Search By Complaint ID</label>
          <input type="text" class="form-control" placeholder="Enter Id" maxlength="30" id="ComplaintId" formControlName="feedbackID">
        </div>
        <div *ngIf="feedbackForm2.controls.feedbackID.errors">*Enter Only Number</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <button class="btn cu-green-btn m-t-lg-20" type="submit" name="search">Search</button>
        </div>
      </div>
    </div>
    <div *ngIf="feedbackForm2.controls.startDate.errors?.date">*Enter Only Number</div>
  </form>
</div>
<form [formGroup]="feedbackForm1" *ngIf="action === 'view'">
  <div class="col-xs-12 col-sm-12">
    <h4 class="pull-left">FeedBack Details</h4>
  </div>
  <div class="m-t-10">
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive m-t-10">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Feedback Id</th>
              <th>Feedback Date</th>
              <th>Name of Beneficiary</th>
              <th>Type of Feedback</th>
              <th>Feedback Status</th>
              <th>Email Status</th>
              <th>Select</th>
              <th>Edit</th>
              <th>Update Response</th>
            </tr>
          </thead>
          <tbody> -->
<!-- <tr *ngFor="let feedback of feedbackList | paginate: { itemsPerPage: 5, currentPage: p } "> -->
<!--<td href="{{feedback.FeedBackID}}">{{feedback.FeedBackID}}</td>-->
<!-- <td (click)="onClick(feedback)">{{feedback.feedbackID}}</td>
              <td>{{feedback.createdDate | date:'dd-MM-yyyy'}}</td>
              <td>{{feedback.beneficiaryName}}</td>
              <td>{{feedback.feedbackTypeName}}</td>
              <td>{{feedback.feedbackStatusName}}</td>
              <td>{{feedback.emailStatusName}}</td>
              <td align="center">
                <input type="checkbox" value="" />
              </td> -->
<!--<td><i class="fa fa-pencil fa-lg cursorPointer" aria-hidden="true"(click)="updateFeedback(feedback)"></i></td>-->
<!-- <td> -->
<!-- <div *ngIf="(feedback.feedbackRequests == undefined) || (feedback.feedbackRequests.length > feedback.feedbackResponses.length >)&&"> -->
<!-- <button class="btn cu-green-btn f-s-13 p-t-b-3" type="button" (click)="requestFeedback(feedback)">Edit</button> -->
<!-- </div> -->
<!-- </td>
              <td> -->
<!-- <div *ngIf="feedback.feedbackRequests.length > 0"> -->
<!-- <button class="btn cu-green-btn f-s-13 p-t-b-3" type="submit" (click)="updateResponse(feedback)" *ngIf="feedback?.feedbackRequests?.length > 0">Update</button> -->
<!-- </div> -->
<!--         </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</form>
<div *ngIf="(action === 'edit') || (action === 'update')">
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="feedbackID">Feedback ID</label>
        <input type="text" class="form-control" placeholder="Enter feedbackID" maxlength="10" id="feedbackID" formControlName="feedbackID" readonly>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="BeneficiaryRegID">Name OF Beneficiary</label>
        <input type="text" class="form-control" placeholder="Enter BeneficiaryRegID ." id="beneficiaryName" formControlName="beneficiaryName" maxlength="10" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="Feedback Date">Feedback Date</label>
        <input type="text" class="form-control" placeholder="Enter Feedback Date ." id="Feedback Date" formControlName="feedbackDate" maxlength="10" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="FeedbackTypeName">Feedback Type Name</label>
        <input type="text" class="form-control" placeholder="Enter FeedbackTypeName ." id="BeneficiaryRegID" formControlName="feedbackTypeName" maxlength="10" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" for="FeedbackStatus">Feedback Status</label>
            <input type="text" class="form-control" placeholder="Enter FeedbackStatus ." id="FeedbackStatus" formControlName="feedbackStatus" maxlength="10" readonly>
            <span></span>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" for="EmailStatus">Email Status</label>
            <input type="text" class="form-control" placeholder="Enter EmailStatus ." id="EmailStatus" formControlName="emailStatus" maxlength="10" readonly>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="InstitutionName">Institution Name</label>
        <input type="text" class="form-control" placeholder="Enter InstitutionName ." id="InstitutionName" formControlName="institutionName" maxlength="10" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="DesignationName">Designation Name</label>
        <input type="text" class="form-control" placeholder="Enter DesignationName ." id="DesignationName" formControlName="designationName" maxlength="10" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="SeverityTypeName">Severity Type</label>
        <input type="text" class="form-control" placeholder="SeverityTypeName ." id="SeverityTypeName" formControlName="severityTypeName" maxlength="10" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="ServiceName">Service Name</label>
        <input type="text" class="form-control" placeholder="ServiceName ." id="ServiceName" formControlName="serviceName" maxlength="20" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="UserName">User Name</label>
        <input type="text" class="form-control" placeholder="UserName ." id="UserName" formControlName="userName" maxlength="50" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="SMSPhoneNo">SMS Phone No</label>
        <input type="text" class="form-control" placeholder="Enter SMSPhoneNo ." id="SMSPhoneNo" formControlName="smsPhoneNo" maxlength="50" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="CreatedBy">Created By</label>
        <input type="text" class="form-control" placeholder="Enter CreatedBy ." id="CreatedBy" formControlName="createdBy" maxlength="10" readonly>
        <span></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="ModifiedBy">Modified By</label>
        <input type="text" class="form-control" placeholder="Enter ModifiedBy ." id="ModifiedBy" formControlName="modifiedBy" maxlength="10" readonly>
        <span></span>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12" *ngIf="action==='edit'">
      <div class="form-group">
        <label class="control-label"  for="Feedback"> Feedback</label>
        <textarea class="form-control"  rows="3"  id="Feedback"  formControlName="feedbackSupSummary"></textarea>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" *ngIf="action==='update'">
      <div class="form-group">
        <label class="control-label"  for="Feedback"> Feedback</label>
        <textarea class="form-control"  rows="3"  id="Feedback"  formControlName="feedbackSupSummary"></textarea>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-6" *ngIf="action === 'edit'">
      <div class="form-group">
        <label class="control-label"  for="comment"> Comment</label>
        <textarea class="form-control"  rows="3"  id="comments"  formControlName="comments"></textarea>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" *ngIf="action === 'update'">
      <div class="form-group">
        <label class="control-label"  for="Response received"> Response Received</label>
        <textarea class="form-control"  rows="3"  id="response"  formControlName="comments"></textarea>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <button class="btn cu-green-btn pull-right" type="submit" name="save">Save</button>
    </div>
    <div class=" m-t-10">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="form-group">
          <label class="control-label" for="SelectStatus">Select Feedback Status</label>
          <select class="form-control " formControlName="feedbackStatusID">
            <option *ngFor="let feedbackStatus of feedbackStatuses" value="{{feedbackStatus.feedbackStatusID}}">
              {{feedbackStatus.feedbackStatus}}
            </option>
          </select>
        </div>
      </div>
 -->
<!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngIf="action === 'update'"> -->
<!--       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="form-group">
          <label class="control-label" for="SelectStatus">Select Email Status</label>
          <select class="form-control" name="emailStatusID" formControlName="emailStatusID">
            <option *ngFor="let emailStatus of emailStatuses" value="{{emailStatus.emailStatusID}}">
              {{emailStatus.emailStatus}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <button class="btn cu-green-btn pull-right" type="submit" name="save"> Save/Email</button>
    </div>
  </form>
</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
  <h4>FeedBack Request/Response</h4>
</div>
<div class="row" *ngIf="feedBackRequestsResponse?.length>0">
  <div class="col-md-12 col-lg-12">
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>FeedBack Request ID</th>
          <th>Comments</th>
          <th>Email Status</th>
          <th>Email Status Description</th>
        </tr>
      </thead>
      <!-- <tbody> -->
<!-- <tbody *ngFor="let feedBackRequest of feedBackRequestsResponse"> -->
<!-- <tbody> -->
<!-- <tr style="cursor:pointer" (click)="showResponse($event)">
          <td>{{feedBackRequest.feedbackRequestID}}</td>
          <td>{{feedBackRequest.comments}}</td>
          <td>{{feedBackRequest.emailStatus?.emailStatus}}</td>
          <td>{{feedBackRequest.emailStatus?.emailStatusDesc}}</td>
        </tr>
        <tr *ngFor="let feedBackResponse of feedBackResponses" [collapse]="isCollapsedResponse">
          <td>{{feedBackResponse.feedbackRequestID}}</td>
          <td>{{feedBackResponse.comments}}</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div> -->
<!-- </div>
<form [formGroup]="feedbackForm3" *ngIf="action === 'Click'">
  <div class="col-xs-12 col-sm-12">
    <h4 class="pull-left"> Complete FeedBack Details</h4>
  </div>
  <div class="m-t-10">
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive m-t-10">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Complaint Id</th>
              <th>Feedback</th>
              <th>Modified Feedback</th>
              <th>Responce</th>
              <th>Auth Name</th>
              <th>Auth Designation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let feedback1 of feedbackresponceList | paginate: { itemsPerPage: 8, currentPage: p } ">
              <td>{{feedback1.feedbackID}}</td>
              <td>{{feedback1.feedback}}</td>
              <td>{{feedback1.feedbackSupSummary}}</td>
              <td>{{feedback1.responseSummary}}</td>
              <td>{{feedback1.authName}}</td>
              <td>{{feedback1.authDesignation}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</form>  -->
<!-- ========================================NEW LOOK===================================================== -->
<div class="row">
  <form [formGroup]="feedbackForm2" (ngSubmit)="onSearch()" *ngIf="action === 'view'">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md2-datepicker [style.width]="'100%'" formControlName="startDate" placeholder="Start Date (dd-mm-yyyy)"></md2-datepicker>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md2-datepicker [style.width]="'100%'" formControlName="endDate" placeholder="End Date (dd-mm-yyyy)"></md2-datepicker>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container style="width: 100%">
          <input mdInput id="ComplaintId" placeholder="Enter Feedback ID" formControlName="feedbackID" maxlength="30">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <button class="btn cu-green-btn m-t-lg-20" type="submit" name="search">Search</button>
      </div>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="action === 'view'">
    <h4 class="pull-left">FeedBack Details</h4>
  </div>
  <div class="col-xs-12 col-sm-12" *ngIf="action === 'view'">
    <div class="table-responsive m-t-10">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Feedback Id</th>
            <th>Feedback Date</th>
            <th>Name of Beneficiary</th>
            <th>Type of Feedback</th>
            <th>Feedback Status</th>
            <th>Email Status</th>
            <th>Select</th>
            <th>Edit</th>
            <th>Update Response</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback of feedbackList | paginate: { itemsPerPage: 5, currentPage: p } ">
            <td (click)="onClick(feedback)">{{feedback.feedbackID}}</td>
            <td>{{feedback.createdDate | date:'dd-MM-yyyy'}}</td>
            <td>{{feedback.beneficiaryName}}</td>
            <td>{{feedback.feedbackTypeName}}</td>
            <td>{{feedback.feedbackStatusName}}</td>
            <td>{{feedback.emailStatusName}}</td>
            <td align="center">
              <input type="checkbox" value="" />
            </td>
            <td>
              <button class="btn cu-green-btn f-s-13 p-t-b-3" type="button" (click)="requestFeedback(feedback)">Edit</button>
            </td>
            <td>
              <button class="btn cu-green-btn f-s-13 p-t-b-3" type="submit" (click)="updateResponse(feedback)" *ngIf="feedback?.feedbackRequests?.length > 0">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" *ngIf="(action === 'edit') || (action === 'update')">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Feedback ID" maxlength="10" id="feedbackID" formControlName="feedbackID" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Beneficiary Name" id="beneficiaryName" formControlName="beneficiaryName" maxlength="10" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Feedback Date" id="Feedback Date" formControlName="feedbackDate" maxlength="10" readonly>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Feedback Type" id="BeneficiaryRegID" formControlName="feedbackTypeName" maxlength="10" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Feedback Status" id="FeedbackStatus" formControlName="feedbackStatus" maxlength="10" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Email Status" id="EmailStatus" formControlName="emailStatus" maxlength="10" readonly>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Institution Name ." id="InstitutionName" formControlName="institutionName" maxlength="10" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Designation Name ." id="DesignationName" formControlName="designationName" maxlength="10" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Severity Type" id="SeverityTypeName" formControlName="severityTypeName" maxlength="10" readonly>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Service" id="ServiceName" formControlName="serviceName" maxlength="20" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="UserName" id="UserName" formControlName="userName" maxlength="50" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Phone Number For SMS" id="SMSPhoneNo" formControlName="smsPhoneNo" maxlength="50" readonly>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Created By" id="CreatedBy" formControlName="createdBy" maxlength="10" readonly>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="Modified By" id="ModifiedBy" formControlName="modifiedBy" maxlength="10" readonly>
        </md-input-container>
      </div>
      
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="action==='edit'">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <md-input-container style="width: 100%">
          <textarea mdInput rows="3"  id="Feedback" placeholder="Feedback"  formControlName="feedbackSupSummary"></textarea>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="action==='update'">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <md-input-container style="width: 100%">
          <textarea mdInput rows="3"  id="Feedback" placeholder="Feedback"  formControlName="feedbackSupSummary"></textarea>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="action==='edit'">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <md-input-container style="width: 100%">
          <textarea mdInput rows="3"  id="comments" placeholder="Comment"  formControlName="comments"></textarea>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngIf="action==='update'">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <md-input-container style="width: 100%">
          <textarea mdInput  rows="3"  id="response" placeholder="Response Received"  formControlName="comments"></textarea>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="action==='update'">
      <button class="btn cu-green-btn pull-right" type="submit" name="save">Save</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Feedback Status" [style.width]="'100%'" formControlName="feedbackStatusID">
            <md-option *ngFor="let feedbackStatus of feedbackStatuses" value="{{feedbackStatus.feedbackStatusID}}">
              {{feedbackStatus.feedbackStatus}}
            </md-option>
          </md-select>
          <md-hint>
            <span class="error_text"></span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Email Status" [style.width]="'100%'" formControlName="emailStatusID">
            <md-option *ngFor="let emailStatus of emailStatuses" value="{{emailStatus.emailStatusID}}">
              {{emailStatus.emailStatus}}
            </md-option>
          </md-select>
          <md-hint>
            <span class="error_text"></span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" *ngIf="action==='edit'">
        <button class="btn cu-green-btn pull-right" type="submit" name="save" > Save/Email</button>
      </div>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="feedBackRequestsResponse?.length>0">
    <h4>FeedBack Request/Response</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="feedBackRequestsResponse?.length>0">
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>FeedBack Request ID</th>
          <th>Comments</th>
          <th>Email Status</th>
          <th>Email Status Description</th>
        </tr>
      </thead>
      <tbody *ngFor="let feedBackRequest of feedBackRequestsResponse">
        <tr style="cursor:pointer" (click)="showResponse($event)">
          <td>{{feedBackRequest.feedbackRequestID}}</td>
          <td>{{feedBackRequest.comments}}</td>
          <td>{{feedBackRequest.emailStatus?.emailStatus}}</td>
          <td>{{feedBackRequest.emailStatus?.emailStatusDesc}}</td>
        </tr>
        <tr *ngFor="let feedBackResponse of feedBackResponses" [collapse]="isCollapsedResponse">
          <td>{{feedBackResponse.feedbackRequestID}}</td>
          <td>{{feedBackResponse.comments}}</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="action === 'Click'">
    <h4 class="pull-left"> Complete FeedBack Details</h4>
  </div> -->
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="action === 'Click'">
    <div class="table-responsive m-t-10">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Complaint Id</th>
            <th>Feedback</th>
            <th>Modified Feedback</th>
            <th>Responce</th>
            <th>Auth Name</th>
            <th>Auth Designation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback1 of feedbackresponceList | paginate: { itemsPerPage: 8, currentPage: p } ">
            <td>{{feedback1.feedbackID}}</td>
            <td>{{feedback1.feedback}}</td>
            <td>{{feedback1.feedbackSupSummary}}</td>
            <td>{{feedback1.responseSummary}}</td>
            <td>{{feedback1.authName}}</td>
            <td>{{feedback1.authDesignation}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div> -->
</div>
