<div class="headerDiv">
  <md-icon
    class="
      mdicon
      mat-icon
      material-icons
      pull-right
      cursorPointer
      p-t-2
      f-c-w
      closeIcon
    "
    mdTooltip="Close"
    role="img"
    aria-hidden="true"
    (click)="dialogRef.close()"
  >
    clear
  </md-icon>
  <h4 class="popupHeader">
    {{ assignSelectedLanguageValue?.beneficiaryHistory }}
  </h4>
</div>
<md-dialog-content>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="table-responsive removeScroll">
        <table
          class="table table-responsive table-striped"
          [md2Data]="data"
          #md2="md2DataTable"
          [rowsPerPage]="5"
          aria-describedby="adminDetails"
        >
          <thead>
            <tr>
              <th md2SortBy="benCallID" id="beneficiaryCallId">
                {{ assignSelectedLanguageValue?.beneficiaryCallId }}
              </th>
              <th md2SortBy="createdDate" id="callTime">
                {{ assignSelectedLanguageValue?.callTime }}
              </th>
              <th md2SortBy="informationServices" id="information">
                {{ assignSelectedLanguageValue?.information }}
              </th>
              <th md2SortBy="counsellingServices" id="counselling">
                {{ assignSelectedLanguageValue?.counselling }}
              </th>
              <th md2SortBy="referralServices" id="referral">
                {{ assignSelectedLanguageValue?.referral }}
              </th>
              <th md2SortBy="feedbackServices" id="feedback">
                {{ assignSelectedLanguageValue?.feedback }}
              </th>
              <th id="callType">{{ assignSelectedLanguageValue?.callType }}</th>
              <th id="callSubtype">{{ assignSelectedLanguageValue?.callSubtype }}</th>
              <th id="remarks">{{ assignSelectedLanguageValue?.remarks }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="md2.data.length < 1">
              <td class="t-a-c record-not-found" colspan="9">
                {{ assignSelectedLanguageValue?.noRecordsFound }}
              </td>
            </tr>
            <tr *ngFor="let service of md2.data">
              <td>{{ service.benCallID }}</td>
              <td class="white-space-nowrap">
                {{
                  service.createdDate
                    ? (millisToUTCDate(service.createdDate)
                      | date: "dd/MM/yyyy hh:mm a")
                    : ""
                }}
              </td>
              <td>{{ service.informationServices }}</td>
              <td>{{ service.counsellingServices }}</td>
              <td>{{ service.referralServices }}</td>
              <td>{{ service.feedbackServices }}</td>
              <td>{{ service.callTypeObj?.callGroupType }}</td>
              <td>{{ service.callTypeObj?.callType }}</td>
              <td class="white-space-nowrap">{{ service.remarks }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <md2-pagination></md2-pagination>
              </td>
              <td colspan="2">
                <p class="pull-left">
                  {{ assignSelectedLanguageValue?.totalNoOfRecords }} :
                  {{ totalRecord }}
                </p>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</md-dialog-content>
<div>
  <button
    class="pull-right m-a-5"
    md-raised-button
    color="primary"
    (click)="dialogRef.close()"
  >
    {{ assignSelectedLanguageValue?.ok }}
  </button>
</div>
