<div class="container-fluid">
  <div class="row">
    <h2 md-dialog-title class="m-b-5">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">Beneficiary History</div>
      <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4"></div>
      <div class="pull-right">
        <button md-icon-button class="closeBtn" md-dialog-close>
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </h2>
    <md-dialog-content>
      <!-- <jobPreference-form-render [jobPreferenceData]="jobPreferenceValue"></jobPreference-form-render>
  <div fxLayout="row"> -->
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="5">
              <thead>

                <tr>
                  <th md2SortBy="benCallID">Beneficiary Call ID</th>
                  <th md2SortBy="createdDate">Call Time</th>
                  <th md2SortBy="informationServices">Information</th>
                  <th md2SortBy="counsellingServices">Counselling</th>
                  <th md2SortBy="referralServices">Referral</th>
                  <th md2SortBy="feedbackServices">Feedback</th>
                  <th>Call Type</th>
                  <th>Call Sub-Type</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="md2.data.length < 1">
                  <td class="t-a-c" colspan="9">
                    No Records Found
                  </td>
                </tr>
                <tr *ngFor="let service of md2.data ">
                  <td>{{service.benCallID}}</td>
                  <td class="white-space-nowrap">{{service.createdDate?(millisToUTCDate(service.createdDate)|date:'dd/MM/yyyy HH:mm'):''}}</td>
                  <td >{{service.informationServices}}</td>
                  <td>{{service.counsellingServices}}</td>
                  <td>{{service.referralServices}}</td>
                  <td>{{service.feedbackServices}}</td>
                  <td>{{service.callTypeObj?.callGroupType}}</td>
                  <td>{{service.callTypeObj?.callType}}</td>
                  <td class="white-space-nowrap">{{service.remarks}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="7">
                    <md2-pagination></md2-pagination>
                  </td>
                  <td colspan="2">
                    <p class="pull-left">Total no of Records : {{totalRecord}} </p>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </md-dialog-content>
  </div>
</div>
