.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.mat-dialog-container{
  padding:15px !important;
}

.removeScroll {
  max-width: 100%;
  overflow-x: hidden;
}