
 

<div class="col-xs-12 col-sm-12">
  <h4 class="pull-left f-s-b m-b-30">User Details</h4>
<button class="btn cu-green-btn pull-right" *ngIf="!showCreateFlag" (click)="showCreate()">Create </button>
</div>
   <div class="m-t-10"  *ngIf="!showCreateFlag">
     
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive m-t-10">
        <table class="table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>User Name</th>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userslist | paginate:{itemsPerPage:8,currentPage:p}">
              <td>{{user.FirstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.UserName}}</td>
              <td><i class="fa fa-pencil fa-lg cursorPointer" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg cursorPointer" aria-hidden="true"></i></td>
            </tr>
          </tbody>
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </table>
      </div>
    </div>
    
  </div>

 <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="showCreateFlag" autocomplete="off">
<div class="panel-body card p-a-0 bg-white"  >
 
    <div class="col-xs-12 col-sm-12">
      <!--<h4>User Details</h4>-->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="Enter FirstName Name" maxlength="50" id="firstName" formControlName="firstName">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="middleName">MiddleName</label>
        <input type="text" class="form-control" placeholder="Enter MiddleName" maxlength="50" id="middleName" formControlName="middleName">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="lastName">LastName</label>
        <input type="text" class="form-control" placeholder="Enter LastName." maxlength="50" id="lastName" formControlName="lastName">
      </div>
    </div>
    <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="titleID">Title ID</label>
        <input type="text" class="form-control" placeholder="Enter TitleID"  maxlength="6" id="titlelID" formControlName="titleID">
      </div>
    </div>-->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="userName">UserName</label>
        <input type="text" class="form-control" placeholder="Enter UserName"  maxlength="20" id="userName" formControlName="userName" required>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input type="password" class="form-control" placeholder="Enter Password"  maxlength="20" id="password" formControlName="password">
        </div>
    </div>
     <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="statusID">Status ID</label>
        <input type="text" class="form-control" placeholder="Enter StatusID"  maxlength="6" id="statusID" formControlName="statusID">
      </div>
    </div>-->
  <div class="col-xs-12 col-sm-12 pull right m-b-10">
      <button md-raised-button color="primary" class="pull-right p-l-r-38 f-s-18" type="submit" name="save"> Save</button>
    </div>
    
   </div>  
  
 </form>

  
