<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.everwellGuidelinesList}}</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
    <table class="table table-striped table-hover" [md2Data]="trainingResources" id="table" #md2="md2DataTable" [rowsPerPage]="5" aria-describedby="everwellGuidelinesDetails">
      <thead>
        <tr>
          <th id="sno" style="width: 10%;">{{currentLanguageSet?.sno}}</th>
          <th id="name" style="width: 15%;">{{currentLanguageSet?.name}} </th>
          <th id="category" style="width: 15%;">{{currentLanguageSet?.category}} </th>
          <th id="description" style="width: 30%;">{{currentLanguageSet?.description}}</th>
          <th id="attachment" style="width: 15%;">{{currentLanguageSet?.attachment}}</th>
          <th id="action" style="width: 15%;">{{currentLanguageSet?.action}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="md2.data?.length==0">
          <td colspan="7" class="record-not-found">
            {{currentLanguageSet?.noRecordsFound}}
          </td>
        </tr>
        <tr *ngFor="let row of md2.data; let i = index ">
          <ng-container *ngIf="!(row?.deleted)">
          <td>
            <strong>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</strong>
          </td>
          <td>{{row?.guidelineName}}</td>
          <td>{{row?.category}}</td>
          <td>{{row.guidelineDesc}}</td>
          <td>
              <a (click)="openDoc(row.fileContent)">{{row.fileName}}</a>
          </td>
          <td>
            <span class="mdicon material-icons cursorPointer" id="delete" mdTooltip="{{currentLanguageSet?.delete}}" *ngIf="!(row?.deleted)" (click)="deactivate(row,true)">delete</span>
          
          </td>
        </ng-container>
        </tr>
     
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <md2-pagination></md2-pagination>
          </td>
          <td colspan="3" class="p-r-0">
            <button md-raised-button color="primary" class="pull-right" id="upload" type="button" (click)="go2form()">{{currentLanguageSet?.uploadEverwellGuidelines}}</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row" *ngIf="showForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.everwellGuidelines}}</h4>
  </div>
  <form #trainingResources="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <md-input-container class="width100">
        <input allowText = "inputFieldValidator" [disabled]="!create" type="text" maxlength="100" mdInput placeholder="{{currentLanguageSet?.guidelineName}}" name="guideline_name" [(ngModel)]="guideline_name"
          #guidelineName="ngModel" id="guideline_name" required>
        <md-hint *ngIf="guidelineName.errors && guidelineName.touched">
          <span class="error_text">{{currentLanguageSet?.enterGuidelineName}}</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <md-input-container class="width100">
        <textarea mdInput allowText = "textAreaValidator" rows="1" placeholder="{{currentLanguageSet?.guidelineDescription}}" id="guideline_desc" maxlength="300" name="guideline_description" [(ngModel)]="guideline_description" #schemeDesc="ngModel"
          required (keyup)="updateCount2()"></textarea>
        <md-hint *ngIf="schemeDesc.errors && schemeDesc.touched">
          <span class="error_text">{{currentLanguageSet?.enterGuidelinedescription}}</span>
        </md-hint>
        <md-hint align="end">{{this.count}}</md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 p-b-1-5">
        <md-select placeholder="{{currentLanguageSet?.selectCategory}}" [style.width]="'100%'" id="category" required [(ngModel)]="category" name="category">
          <md-option *ngFor="let item of Categories" [value]="item">
            {{item}}
          </md-option>
        </md-select>
    </div>
    
    
    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 m-t-40">
      <label for="upload-file" id="upload_file_label">{{currentLanguageSet?.uploadFileSizeLimitInMb}} :{{maxFileSize}} {{currentLanguageSet?.mb}}) {{currentLanguageSet?.supportedFormat}}- .pdf</label>
      <input type="file" accept="*" size="100" [disabled]="trainingResources.invalid" placeholder="{{currentLanguageSet?.uploadFile}}" id="upload-file" (change)="onFileUpload($event)" name="file"
        ngModel #uploadfile="ngModel">

      <span class="f-s-10 error_text" *ngIf="invalid_file_flag">{{currentLanguageSet?.supportedFileFormatIsPdf}}</span>
      <span class="f-s-10 error_text" *ngIf="error1">{{currentLanguageSet?.fileSizeShouldNotExceed}} {{maxFileSize}} {{currentLanguageSet?.mb}}</span>
      <span class="f-s-10 error_text" *ngIf="error2">{{currentLanguageSet?.fileSizeShouldBeGreatorThan0}}</span>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
    <button id="back" md-raised-button color="primary" class="pull-left" (click)="go2table()">{{currentLanguageSet?.back}}</button>
    <button [disabled]="trainingResources.invalid || invalid_file_flag || error1 || error2" id="submit"
      md-raised-button color="accent" class="pull-right" (click)="createTrainingResource(trainingResources.value)">{{currentLanguageSet?.submit}}</button>
  </div>
</div>



