<div class="col-xs-12 col-sm-12">
  <h4>Outbond Call Records</h4>
</div>
<div class="col-xs-12 col-sm-12 row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <!-- <h5>Mother Records</h5> -->
    <div class="table-responsive">
      <table id="outbondListTable" class="table table-bordered">
        <tbody>
          <tr>
            <th>All Records</th>
            <td>{{tot_unAllocatedCalls}} <button type="button" (click)="allocateCalls(_unAllocatedCalls, $event)" class="btn btn-primary btn-xs pull-right">Allocate</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="showFlage">
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
      <app-outbound-allocate-records (outboundCount)="assignCount($event)" [outboundCallRequests]="records"></app-outbound-allocate-records>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12">
  <!--(click)="getCount(searchInputs.value) this was to for search option-->
  <!--<button type="button" class="btn cu-blue-btn p-l-r-38 font-regular f-s-18" id="allocateScreen">Allocate</button>-->
</div>
<div class="clearfix"></div>
