<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label class="pull-left">
        <h4 class="f-s-b m-b-30">Outbound Call Report </h4>
      </label>
    </div>
  </div>
  <div class="row">
    <form #getOutboundForm="ngForm">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <md2-datepicker name="startDate" placeholder="Valid From" #startDate="ngModel" ngModel required [style.width]="'100%'" name="filterStartDate"></md2-datepicker>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <md2-datepicker name="endDate" placeholder="Valid Till" [min]="startDate.value" #endDate="ngModel" ngModel required [style.width]="'100%'"
          name="filterEndDate"></md2-datepicker>
        <br>
        <span class="error-text" *ngIf="(endDate.value < startDate.value) && endDate.dirty">End Date cannot be before Start Date!</span>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select Language" [style.width]="'100%'" #language="ngModel" ngModel name="preferredLanguageName">
            <md-option> </md-option>
            <md-option *ngFor="let lang of languages" [value]="lang">
              {{lang.languageName}}
            </md-option>
          </md-select>
          <!-- <md-hint *ngIf="languageName.invalid && (languageName.dirty || languageName.touched)">
        <span class="error_text">Language is required </span>
      </md-hint> -->
        </md-input-container>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 m-t-10">
        <button type="button" md-raised-button color="primary" [disabled]="startDate.invalid || endDate.invalid" (click)="getUnallocateCall(getOutboundForm.value)">Search</button>
      </div>
    </form>
  </div>
  <div class="clearfix"></div>
  <div class="row" *ngIf="showCount">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <!-- <h5>Mother Records</h5> -->
      <div class="table-responsive">
        <table id="outbondListTable" class="table table-bordered">
          <tbody>
            <tr>
              <th>All Records</th>
              <td>{{tot_unAllocatedCalls}}
                <button type="button" (click)="allocateCalls(_unAllocatedCalls,startDate.value,endDate.value,language.value, $event)" md-raised-button
                  color="primary" class="md-btn pull-right">Allocate</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" *ngIf="showFlage">
      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
        <app-outbound-allocate-records (outboundCount)="assignCount($event)" [outboundCallRequests]="records"></app-outbound-allocate-records>
      </div>
    </div>
  </div>

  <!-- <div class="col-xs-12 col-sm-12"> -->
  <!--(click)="getCount(searchInputs.value) this was to for search option-->
  <!--<button type="button" class="btn cu-blue-btn p-l-r-38 font-regular f-s-18" id="allocateScreen">Allocate</button>-->
  <!-- </div> -->
  <div class="clearfix"></div>
</div>
