<!-- <div class='col-xs-12 col-sm-12'>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h4>Call Details</h4>
    </div> -->
<!-- <div class="bg-white p-t-20 m-t-10 "> -->
<div class="col-xs-12 col-sm-12" *ngIf="showCallSummary">
  <div class="table-responsive">
    <label class="control-label" for="callSummary">{{currentlanguage.closure?.table_labels?.table_heading}}</label>
    <table class="table">
      <thead>
        <tr>
          <th>{{currentlanguage?.closure?.table_labels?.call_id}}</th>
          <th>{{currentlanguage?.closure?.table_labels?.information}}</th>
          <th>{{currentlanguage?.closure?.table_labels?.counselling}}</th>
          <th>{{currentlanguage?.closure?.table_labels?.referral}}</th>
          <th>{{currentlanguage?.closure?.table_labels?.feedback}}</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer;" *ngFor="let summaryDetails of summaryList">
          <td>{{summaryDetails.benCallID}}</td>
          <td>{{summaryDetails.informationServices}}</td>
          <td>{{summaryDetails.counsellingServices}}</td>
          <td>{{summaryDetails.referralServices}}</td>
          <td>{{summaryDetails.feedbackServices}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- </div> -->
<!-- <form #Form="ngForm" (submit)="closeCall(Form.value); Form.reset()">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
          <md-slide-toggle ngDefaultControl name="isFollowupRequired" color="primary" (change)="isFollow($event)" [(ngModel)]="isFollowupRequired">Is followup required?</md-slide-toggle>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="row" *ngIf="isFollowUp">
            <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
              <div class="form-group">
                <label class="control-label" for="prefferedDateTime" i18n>Preferred Date</label>
                <input class="form-control" [mdDatepicker]="picker" name="prefferedDateTime" placeholder="Preferred Date" [(ngModel)]="preferredDateTime">
              </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1  m-t-25">
              <button mdPrefix [mdDatepickerToggle]="picker"></button>
              <md-datepicker #picker></md-datepicker>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
              <div class="form-group">
                <label class="control-label" for="requestedFor" i18n>Follow-up Reason </label>
                <input class="form-control" placeholder="Follow-up Reason" name="requestedFor" [(ngModel)]="requestedFor">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <label class="control-label" for="callTypeID" i18n>Select Call Type</label>
                <select class="form-control drop-arrow" name="callTypeID" [(ngModel)]="callTypeID">
                  <option *ngFor="let calltype of calltypes" value="{{calltype.callTypeID}},{{calltype.fitToBlock}}">{{calltype.callTypeDesc}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <label class="control-label" for="remarks" i18n>Call Remarks</label>
                <input type="text" class="form-control" id="remarks" placeholder="Enter Remarks" name="remarks" [(ngModel)]="remarks">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 m-t-5 m-b-5">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <button type="button" class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18" i18n>Submit and Continue </button>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <button type="submit" class="btn cu-green-btn pull-left p-l-r-38 font-regular f-s-18" i18n>Submit and Close </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->
<div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>{{currentlanguage.closure?.call_details}}</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
    <form #Form="ngForm" (ngSubmit)="closeCall(Form.value); Form.reset()" novalidate>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select required placeholder="{{currentlanguage.closure?.calltype}}" [style.width]="'100%'" ngModel name="callType" #callType="ngModel">
              <md-option *ngFor="let calltype of calltypes" value="{{calltype.callTypeDesc}}" (click)="getCallSubType(calltype.callTypeDesc)">
                {{calltype.callTypeDesc}}
              </md-option>
            </md-select>
            <md-hint  *ngIf="callType.invalid && (callType.dirty || callType.touched)">
              <span class="error_text">Call Type is required </span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select required placeholder="{{currentlanguage.closure?.calltype}}" [style.width]="'100%'" [(ngModel)]="callTypeID" name="callTypeID" #subCallType="ngModel">
              <md-option *ngFor="let callSubtype of callSubTypes" value="{{callSubtype.callTypeID}},{{callSubtype.fitToBlock}}" (click)="sliderVisibility(callSubtype.fitForFollowUp)">
                {{callSubtype.callType}}
              </md-option>
            </md-select>
            <md-hint *ngIf="subCallType.invalid && (subCallType.dirty || subCallType.touched)">
              <span class="error_text">Sub Call Type is required </span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md-input-container style="width: 100%">
            <input mdInput id="remarks" placeholder="{{currentlanguage.closure?.remarks}}" name="remarks" [(ngModel)]="remarks">
          </md-input-container>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left" *ngIf="showSlider">
        <md-checkbox ngDefaultControl color="primary" name="isFollowupRequired" [value]=true [(ngModel)]="isFollowupRequired" (change)="isFollow($event)">{{currentlanguage.closure?.followup_question}}</md-checkbox>
        <!-- <md-slide-toggle ngDefaultControl name="isFollowupRequired" color="primary" (change)="isFollow($event)" [(ngModel)]="isFollowupRequired">{{currentlanguage.closure?.followup_question}}</md-slide-toggle> -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="isFollowUp">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md2-datepicker [min]="minDate" [style.width]="'100%'" name="prefferedDateTime" placeholder="{{currentlanguage.closure?.preferred_date}}"
            [(ngModel)]="preferredDateTime"></md2-datepicker>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="{{currentlanguage.closure?.follow_up_reason}}" name="requestedFor" [(ngModel)]="requestedFor">
          </md-input-container>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="submit" [disabled]="callType.invalid || subCallType.invalid"class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18">{{currentlanguage.closure?.submit}}</button>
      </div>
    </form>
  </div>
</div>
