<div class="container-fluid">
  <form id="closeForm" #Form="ngForm" novalidate>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 m-t-10">
      <h4 align="center" class="f-s-b m-b-30">{{currentlanguage.closure?.call_details}}</h4>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required placeholder="{{currentlanguage.closure?.calltype}}" [style.width]="'100%'" ngModel name="callType" #callType="ngModel">
            <md-option *ngFor="let calltype of calltypes" value="{{calltype.callTypeDesc}}" (click)="getCallSubType(calltype.callTypeDesc)">
              {{calltype.callTypeDesc}}
            </md-option>
          </md-select>
          <md-hint *ngIf="callType.invalid && (callType.dirty || callType.touched)">
            <span class="error_text">Call Type is required </span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required placeholder="{{currentlanguage.closure?.callSubtype}}" [style.width]="'100%'" [(ngModel)]="callTypeID"
            name="callTypeID" #subCallType="ngModel">
            <md-option *ngFor="let callSubtype of callSubTypes" value="{{callSubtype?.callTypeID}},{{callSubtype?.fitToBlock}}" (click)="sliderVisibility(callSubtype.fitForFollowUp)">
              {{callSubtype.callType}}
            </md-option>
          </md-select>
          <md-hint *ngIf="subCallType.invalid && (subCallType.dirty || subCallType.touched)">
            <span class="error_text">Sub Call Type is required </span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 m-t-3">
        <md-input-container style="width: 100%">
          <input mdInput id="remarks" placeholder="{{currentlanguage.closure?.remarks}}" name="remarks" [(ngModel)]="remarks">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left" *ngIf="showSlider">
        <md-checkbox ngDefaultControl color="primary" name="isFollowupRequired" [value]=true [(ngModel)]="isFollowupRequired" (change)="isFollow($event)">{{currentlanguage.closure?.followup_question}}</md-checkbox>
        <!-- <md-slide-toggle ngDefaultControl name="isFollowupRequired" color="primary" (change)="isFollow($event)" [(ngModel)]="isFollowupRequired">{{currentlanguage.closure?.followup_question}}</md-slide-toggle> -->
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" *ngIf="isFollowUp">
        <md2-datepicker required (keydown)="blockey($event)" [min]="minDate" [style.width]="'100%'" name="prefferedDateTime" placeholder="{{currentlanguage.closure?.preferred_date}}"
          [(ngModel)]="preferredDateTime"></md2-datepicker>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 m-t-3" *ngIf="isFollowUp">
        <md-input-container style="width: 100%">
          <input mdInput placeholder="{{currentlanguage.closure?.follow_up_reason}}" name="requestedFor" [(ngModel)]="requestedFor">
        </md-input-container>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 m-t-3" *ngIf="isFollowUp">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required placeholder="{{currentlanguage.closure?.language}}" [style.width]="'100%'" [(ngModel)]="preferredLanguageName"
            name="preferredLanguageName" #languageName="ngModel">
            <md-option *ngFor="let lang of languages" [value]="lang.languageName">
              {{lang.languageName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="languageName.invalid && (languageName.dirty || languageName.touched)">
            <span class="error_text">Language is required </span>
          </md-hint>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <label class="control-label" for="callSummary">{{currentlanguage.closure?.table_labels?.table_heading}} ({{currentlanguage?.closure?.table_labels?.call_id}} - {{summaryList[0]?.benCallID}})
        </label>
      </div>
      <table class="table table-bordered ta">
        <thead>
          <tr>
            <th>{{currentlanguage?.closure?.table_labels?.service_name}}</th>
            <th>{{currentlanguage?.closure?.table_labels?.count}}</th>
            <!-- <th>{{currentlanguage?.closure?.table_labels?.counselling}}</th>
            <th>{{currentlanguage?.closure?.table_labels?.referral}}</th>
            <th>{{currentlanguage?.closure?.table_labels?.feedback}}</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
          <td>{{currentlanguage?.closure?.table_labels?.call_id}}</td>
          <td>{{summaryList[0].benCallID}}</td>
        </tr> -->
          <tr>
            <td>{{currentlanguage?.closure?.table_labels?.information}}</td>
            <td>{{summaryList[0]?.informationServices}}</td>
          </tr>
          <tr>
            <td>{{currentlanguage?.closure?.table_labels?.counselling}}</td>
            <td>{{summaryList[0]?.counsellingServices}}</td>
          </tr>
          <tr>
            <td>{{currentlanguage?.closure?.table_labels?.referral}}</td>
            <td>{{summaryList[0]?.referralServices}}</td>
          </tr>
          <tr>
            <td>{{currentlanguage?.closure?.table_labels?.feedback}}</td>
            <td>{{summaryList[0]?.feedbackServices}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
      <button md-raised-button color="primary" type="submit" name="save" value="submitClose" [disabled]="callType.invalid || subCallType.invalid"
        class="font-regular mar-right" (click)="closeCall(Form.value,$event.currentTarget.value); Form.reset()">{{currentlanguage.closure?.submitClose}}</button>
      <button *ngIf="current_campaign.toUpperCase() !== 'OUTBOUND'" md-raised-button color="primary" type="submit" name="save"
        value="submitContinue" [disabled]="isCallDisconnected || callType.invalid || subCallType.invalid " class="font-regular"
        (click)="closeCall(Form.value,$event.currentTarget.value)">{{currentlanguage.closure?.submitContinue}}</button>
    </div>
    <!-- </div> -->
  </form>
</div>