<div class="clearfix"></div>
<div class="col-xs-12 col-sm-12 m-t-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 ">
      <nav class="navbar navbar-default m-b-5">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- <li  class="cursorPointer"  routerLink='/MultiRoleScreenComponent/dashboard' routerLinkActive="active">
                  <i class="fa fa-arrow-left fa-lg" aria-hidden="true" md-tooltip="Dashboard"></i>
                </li> -->
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li style="cursor: pointer" (click)='show("2")'>
                    <a>Agent Status</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("3")'>
                    <a>Blacklist a Number</a>
                  </li>
                  <!-- <li style="cursor: pointer" (click)='show("4")'><a>Dial a Beneficiary</a></li> -->
                  <!-- <li style="cursor: pointer" (click)='show("6")'>
                    <a>Notifications</a>
                  </li> -->
                  <li style="cursor: pointer" (click)='show("12")'>
                    <a>Outbound Call List</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("13")'>
                    <a>Outbound Call Re-Allocation</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("5")'>
                    <a>Call Auditing</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("26")'>
                    <a>Everwell Call Allocation</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("27")'>
                    <a>Everwell Call Re-Allocation</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("28")'>
                    <a>Everwell Guidelines Upload</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("1")'>
                    <a>Feedback Tracking</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("14")'>
                    <a>Campaign Status</a>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Communication *</a>
                    <ul class="dropdown-menu">
                      <li style="cursor: pointer" (click)='show("19")'>
                        <a>Alerts & Notifications</a>
                      </li>
                      <li style="cursor: pointer" (click)='show("20")'>
                        <a>Location Messages</a>
                      </li>
                       <li style="cursor: pointer" (click)='show("21")'>
                        <a>Training Resource</a>
                      </li>
                      <li style="cursor: pointer" (click)='show("22")'>
                        <a>Emergency Contacts</a>
                      </li> 
                    </ul>
                  </li>
                  <li style="cursor: pointer" (click)='show("23")'>
                    <a>Force Logout</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li style="cursor: pointer" (click)='show("7")'>
                    <a>Telephony Reports</a>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Call Reports</a>
                    <ul class="dropdown-menu">
                      <li style="cursor: pointer" (click)='show("9")'>
                        <a>Call Type Report</a>
                      </li>
                      <li style="cursor: pointer" (click)='show("15")'>
                        <a>Caller Age Report</a>
                      </li>
                      <li style="cursor: pointer" (click)='show("16")'>
                        <a>Sexual Orientation Report</a>
                      </li>
                      <li style="cursor: pointer" (click)='show("17")'>
                        <a>Language Distribution Report</a>
                      </li>
                      <li style="cursor: pointer" (click)='show("18")'>
                        <a>Gender Distribution Report</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configurations
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li style="cursor: pointer" (click)='show("10")'>
                    <a>Knowledge Management</a>
                  </li>
                  <li style="cursor: pointer" (click)='show("24")'>
                    <a>SMS Templates</a>
                  </li>
                </ul>
              </li>
            </ul>
             <button class="pull-right m-a-5" md-raised-button color="primary" routerLink='/MultiRoleScreenComponent/dashboard' routerLinkActive="active">Back To Dashboard</button> 
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12">

  <div class="panel-body card p-a-0 bg-white ">
    <div class="container-fluid p-a-0 overflow-y" style="min-height:570px">
      <!--<div class="row">-->
      <div [ngSwitch]="Activity_Number" class="col-xs-12 col-sm-12">
        <div>



          <supervisor-grievance *ngSwitchCase="1">
          </supervisor-grievance>
          <app-agent-status *ngSwitchCase="2"></app-agent-status>
          <app-block-unblock-number *ngSwitchCase="3"></app-block-unblock-number>
          <app-dial-beneficiary *ngSwitchCase="4"></app-dial-beneficiary>
          <app-quality-audit *ngSwitchCase="5"></app-quality-audit>
          <app-supervisor-notifications *ngSwitchCase="6"></app-supervisor-notifications>
          <app-supervisor-reports *ngSwitchCase="7"></app-supervisor-reports>
          <app-supervisor-configurations *ngSwitchCase="8"></app-supervisor-configurations>
          <app-supervisor-calltype-reports *ngSwitchCase="9"></app-supervisor-calltype-reports>
          <app-knowledge-management *ngSwitchCase="10"></app-knowledge-management>
          <app-outbound-search-records *ngSwitchCase="12"></app-outbound-search-records>
          <app-reallocate-calls *ngSwitchCase="13"></app-reallocate-calls>
          <app-supervisor-campaign-status *ngSwitchCase="14"></app-supervisor-campaign-status>
          <app-caller-age-report *ngSwitchCase="15"></app-caller-age-report>
          <app-sexual-orientation-report *ngSwitchCase="16"></app-sexual-orientation-report>
          <app-language-distribution-report *ngSwitchCase="17"></app-language-distribution-report>
          <app-gender-distribution-report *ngSwitchCase="18"></app-gender-distribution-report>

          <app-supervisor-alerts-notifications *ngSwitchCase="19"></app-supervisor-alerts-notifications>
          <app-supervisor-location-communication *ngSwitchCase="20"></app-supervisor-location-communication>
          <app-supervisor-training-resources *ngSwitchCase="21"></app-supervisor-training-resources>
          <app-supervisor-emergency-contacts *ngSwitchCase="22"></app-supervisor-emergency-contacts>
          <app-force-logout  *ngSwitchCase="23"></app-force-logout>
          <app-sms-template *ngSwitchCase="24"></app-sms-template>
          <everwell-allocate *ngSwitchCase="26"></everwell-allocate>
          <everwell-reallocate *ngSwitchCase="27"></everwell-reallocate>
          <app-everwell-guidelines-upload *ngSwitchCase="28"></app-everwell-guidelines-upload>
         
        </div>
      </div>
      <!--</div>-->
    </div>
  </div>
</div>

<div [hidden]="true">
  <iframe [src]="ssoURL" width="100%" height="700px" title="Success Handler menu"></iframe>

</div>
