<div class="clearfix"></div>
<div class="col-xs-12 col-sm-12 b-t-2-w">
  <div class="panel-body card p-a-0 bg-white ">
    <div class="container-fluid p-a-0 overflow-y" style="height:600px">
      <div class=" b-t-2-w">
        <div class="col-xs-12 col-sm-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 ">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                      aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li style="cursor: pointer" (click)='show("1")'><a>Track Feedbacks</a></li>
                          <li style="cursor: pointer" (click)='show("2")'><a>Agent Status</a></li>
                          <li style="cursor: pointer" (click)='show("3")'><a>Call Dispositioning</a></li>
                          <li style="cursor: pointer" (click)='show("4")'><a>Dial a Beneficiary</a></li>
                          <li style="cursor: pointer" (click)='show("5")'><a>Quality Audit</a></li>
                          <li style="cursor: pointer" (click)='show("6")'><a>Notifications</a></li>
                          <li style="cursor: pointer" (click)='show("12")'><a>Outbound Call List</a></li>

                        </ul>
                      </li>
                      <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li style="cursor: pointer" (click)='show("7")'><a>Telephony Reports</a></li>
                          <li style="cursor: pointer" (click)='show("9")'><a>Call Type Reports</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configurations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li style="cursor: pointer" (click)='show("10")'><a>Knowledge Management</a></li>

                        </ul>
                      </li>

                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="row">
            <div [ngSwitch]="Activity_Number" class="col-xs-12 col-sm-12">
              <div>
                <supervisor-grievance *ngSwitchCase="1"></supervisor-grievance>
                <!--<p *ngSwitchCase="1">grievience</p>-->
                <app-agent-status *ngSwitchCase="2"></app-agent-status>
                <app-block-unblock-number *ngSwitchCase="3"></app-block-unblock-number>
                <app-dial-beneficiary *ngSwitchCase="4"></app-dial-beneficiary>
                <app-quality-audit *ngSwitchCase="5"></app-quality-audit>
                <app-supervisor-notifications *ngSwitchCase="6"></app-supervisor-notifications>
                <app-supervisor-reports *ngSwitchCase="7"></app-supervisor-reports>
                <app-supervisor-configurations *ngSwitchCase="8"></app-supervisor-configurations>
                <app-supervisor-calltype-reports *ngSwitchCase="9"></app-supervisor-calltype-reports>
                <app-knowledge-management *ngSwitchCase="10"></app-knowledge-management>
                <app-outbound-allocate-records *ngSwitchCase="12"></app-outbound-allocate-records>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <span class="footer-text">Powered by: WIPRO</span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <p class="footer-text t-a-c">2017
        <md-icon color="" class="copyright_icon">copyright</md-icon> PSMRI</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <!-- <button md-raised-button type="button" color="primary" class="footer-height pull-right" *ngIf="barMinimized" (click)="toggleBar()">CZentrix</button> -->
    </div>
  </div>
</footer>