<md-grid-list class = "gridListHeight" cols="1" rowHeight="650px" (mouseup)='hidePWD()'>
  <md-grid-tile>
    <md-card style="width: 400px;height: 400px;margin-left: 10px;margin-right: 10px;">
      <md-card-title>
        <div class="row text-center">
          <img src="assets/images/Piramal-logo-login.png" alt="Logo"> </div>
        <div class="row text-center">
          <h4 class="font-Medium f-s-24">Account Support</h4>
          <h5 class="f-s-16 f-c-54">Follow the steps to change/reset the password</h5>
        </div>
      </md-card-title>
      <md-card-content>
          <form #passwordFields="ngForm" autocomplete="off">

            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1 m-t--5">
                <em class="material-icons m-t-30" style="color: gray">lock</em>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11">
                <md-input-container class="width100">
                  <input mdInput type="{{dynamictype}}" id="password" placeholder="New Password" [(ngModel)]="newpwd" name="newpwd" [pattern]="passwordPattern"
                    minlength="8" maxlength="12" #pwrd="ngModel" required>
                  <md-icon mdSuffix class="mdicon mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Password" (mousedown)='showPWD()'
                    style="color:gray">visibility</md-icon>
                  <md-hint *ngIf="pwrd.hasError('pattern')" class="errorText">
                    Password is required(min:8,max:12,alphanumeric,1 special character,1 upper case)
                  </md-hint>
                </md-input-container>
              </div>
            </div>

            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1 m-t--5">
                <em class="material-icons m-t-30" style="color: gray">lock</em>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11">
                <md-input-container class="width100">
                  <input mdInput type="{{dynamictype}}" id="confirm_password" placeholder="Confirm Password" [(ngModel)]="confirmpwd" name="confirmpwd"
                    [pattern]="passwordPattern" minlength="8" maxlength="12" required>
                  <md-icon mdSuffix class="mdicon mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Password" (mousedown)='showPWD()'
                    style="color:gray">visibility</md-icon>
                </md-input-container>
              </div>
            </div>
          </form>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <button type="button" md-raised-button color="accent" [disabled]="!passwordFields.valid" class="full-width largeBtn" (click)="updatePassword(newpwd)">Change Password</button>
          </div>
        </div>

      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>