<div class="container-fluid p-a-0 header p-t-b-3">
  <div class="header noprint">
    <div class="col-xs-12 col-sm-12">
      <div class="pull-left">
        <img src="assets/images/smLogo.png" alt="Logo">
      </div>
      <div class=" p-t-1">
        <ul class="list-inline list-unstyled pull-left m-b-0">
          <li class="m-l-lg-40 m-t-5" *ngIf="checkRole">
            <!-- <img src="assets/images/transferCallIcon.png " alt="Caller Icon
    " title="Caller Icon " /> -->
            <span class="m-l-lg-20 f-s-14 font-Semibold f-c-green">{{callStatus}}</span>
            <span class="m-l-lg-20 f-s-14 whiteC font-Semibold">{{callDuration}}</span>
            <!-- <span class="m-l-lg-20 f-s-14 whiteC font-Semibold" *ngIf="wrapupTime"> Time Remaining -{{ticks}}</span> -->
          </li>
        </ul>
        <label class="f-c-w f-s-15 p-t-5">{{current_service}} {{current_role}}</label>
        <ul class="list-inline list-unstyled topIcon pull-right m-l-20  m-b-0">
          <!--   <li style="color: white"> Welcome {{data.userName}}</li> -->
          <li class="">
            <img src="assets/images/icon-user-active.png" class="cursorPointer" alt="User Icon" title="User Icon" [mdMenuTriggerFor]="menuNotification">
          </li>
          <md-menu #menuNotification x-position="before"  class="m-t-40"  >
            <md-list class="p-t-0">
              <md-list-item>
                <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_circle</md-icon>
                {{data.userName}}</md-list-item>
              <md-list-item class="b-t-1-w">ID:{{id}}-{{current_role}}-{{current_service}}</md-list-item>
            </md-list>
          </md-menu>
          <!-- <li class="help cursorPointer" *ngIf= routerLink="/MultiRoleScreenComponent/dashboard" title="Home">
              <md-icon class="material-icons" class="homeIcon" role="img" aria-hidden="true">home</md-icon>
            </li> -->
          <li class="logout" title="Logout" (click)="log_out()">
            <a>&nbsp;</a>
          </li>
        </ul>
        <ul class="list-inline list-unstyled pull-right m-b-0">
          <li>
            <select class="form-control drop-arrow border-radius-20 height-30 m-b-4" [(ngModel)]="language_change" (change)="getLanguageObject(language_change)">
              <option selected="selected " value="english">{{currentLanguageSet?.english}} </option>
              <option value="kannada"> {{currentLanguageSet?.kannada}}</option>
            </select>
          </li>
        </ul>
        <ul class="list-inline list-unstyled pull-right m-l-20  m-b-0">
          <li class="m-l-lg-40 m-t-5">
            <span class="m-l-lg-20 f-s-14 whiteC font-Semibold">{{TotalCalls}}</span>
            <span class="m-l-lg-20 f-s-14 whiteC font-Semibold">{{TotalTime}}</span>
          </li>
        </ul>
        <!-- <ul>
            <li>Total Calls -11 </li> -->
        <!-- <li>Total Call Duration -</li> -->
        <!-- </ul> -->
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 " (click)="minimizeBar()">
  <div class="row">
    <div class="col-xs-12 col-sm-12 noprint" *ngIf='checkRole'>
      <div class="row b-t-2-w ">
        <div class="col-xs-12 col-sm-12 m-t-3 ">
          <div class="row ">
            <div class="m-t-5">
              <ul class="list-inline list-unstyled pull-left m-b-3 ">
                <li class="cursorPointer" *ngIf='!checkRole' routerLink='/MultiRoleScreenComponent/dashboard' routerLinkActive="active">
                  <span class="fa fa-arrow-left fa-lg " aria-hidden="true "></span>
                </li>
                <!--                 <li class="m-l-10 "><img src="assets/images/dashboardIcon.png " alt="Dashboard Icon
    " title="Dashboard Icon " /></li> -->
                <!--   <li class="f-s-16 font-Semibold ">My ID : {{current_role}} - {{current_service}}</li> -->
                <!--<li class="f-s-16 font-Semibold ">My ID : CO0111120</li>-->
                <!--<li class="f-s-16 font-Semibold ">Service: {{current_service}}</li>
                                <li class="f-s-16 font-Semibold ">Role: {{current_role}}</li>-->
                <!--                 <li class="m-l-lg-40 " *ngIf='checkRole'><img src="assets/images/durationIcon.png " alt="Caller Icon
    " title="Caller Icon " />
                  <span class="m-l-lg-20 f-s-14 f-c-14508c font-Semibold ">{{callDuration}}</span>
                </li> -->
                <!-- <li class="f-s-14 font-regular ">My ID : CO0111120</li> -->
              </ul>
            </div>
            <!--             <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 " *ngIf='checkRole'>
              <select class="form-control drop-arrow border-radius-20 height-30 m-b-4 ">
                <option selected="selected " value="1 ">English </option>
                <option value="2 ">Kannada </option>
              </select>
            </div> -->
            <div>
              <!--               <div class=" ">
                <ul class="list-inline list-unstyled pull-right m-t-3 m-b-3 ">
                  <li class="font-regular "><span class="f-s-14 ">No. Calls :</span><span class="f-s-14
    f-c-14508c ">20</span> </li>
                  <li class="font-regular ">Total talk time :<span class="f-s-14 f-c-14508c "> 2 hr:30 min:20 sec</span> </li>
                </ul>
              </div> -->
              <ul class="list-unstyled list-inline pull-left  p-a-0 m-b-3 ">
                <!-- <li><img src="assets/images/callerIcon.png " alt="Caller Icon " title="Caller Icon " /></li> -->
                <li *ngIf="zoneName">Zone: {{zoneName}}</li>
                <li>
                  <span class="m-l-lg-20 f-s-16 f-c-0 font-Medium ">{{selectedBenData.id}}</span>
                </li>
                <li *ngIf="selectedBenData.name">{{selectedBenData.name}}</li>
                <li *ngIf="selectedBenData.mob">{{selectedBenData.mob}}</li>
                <li *ngIf="selectedBenData.age">{{selectedBenData?.age}}</li>
                <li *ngIf="selectedBenData.state">{{selectedBenData.state}}</li>
                <li *ngIf="selectedBenData.district">{{selectedBenData.district}}</li>
                <li *ngIf="selectedBenData.block">{{selectedBenData.block}}</li>
                <li *ngIf="selectedBenData.village">{{selectedBenData.village}}</li>
                <li *ngIf="selectedBenData.language">{{selectedBenData.language}}</li>
                <li *ngIf="selectedBenData.relation">{{selectedBenData.relation}}</li>
              </ul>
              <ul class="list-unstyled list-inline pull-left  p-a-0 m-b-3 ">
                <!-- <li><img src="assets/images/callerIcon.png " alt="Caller Icon " title="Caller Icon " /></li> -->
                <li *ngIf="EverwellBeneficiaryRegID">{{EverwellBeneficiaryRegID}}</li>
                <li *ngIf="everwellFullname">{{everwellFullname}}</li>
                <li *ngIf="everwellPrimaryNumber">{{everwellPrimaryNumber}}</li>
                <li *ngIf="everwellState">{{everwellState}}</li>
                <li *ngIf="everwellDistrict">{{everwellDistrict}}</li>
                <li *ngIf="everwellGender">{{everwellGender}}</li>   
              </ul>
              <span *ngIf="wrapupTime" class="pull-right">{{currentLanguageSet?.timeRemaining}}:
                <strong>{{ticks}}</strong>
              </span>
              <!-- <ul class="list-unstyled list-inline pull-right m-b-0 "> -->
              <!--               <li class="text-center "><span><img src="assets/images/transferCallIcon.png " alt="Transfer Icon
    " title="Transfer Icon "/></span>
                <br />
                <span class="f-s-14 ">Transfer Call</span></li> -->
              <!-- <li class="text-center m-l-lg-40 f-s-9"><span><img src="assets/images/flagCallIcon.png " class="f-s-9" alt="Flag Call
    Icon " title="Flag Call Icon "/></span>
                  <br />
                  <span class="f-s-14 ">Flag Call</span></li> -->
              <!-- <li class="text-center m-l-lg-40 "><span><img src="assets/images/endCallIcon.png " alt="End Call
    Icon " title="End Call Icon "/></span>
              <br />
              <span class="f-s-14 ">End Call</span></li> -->
              <!-- </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix "></div>
    <div>
      <!-- <router-outlet></router-outlet> -->
      <app-1097 *ngIf="current_service==='1097'" (beneficiarySelected)="getSelectedBenDetails($event)" (submitBtnCheck) = "finalSubmitBtnCheck($event)" (everwellBeneficiarySelected)="getEverwellSelectedBenDetails($event)" [current_language]="currentlanguageSet"></app-1097>
    </div>
  </div>
  <!-- <iframe [src]="ctiHandlerURL" width="230px" height="350px" class="czenrix-bar" [hidden]="barMinimized" (click)="toggleBar()"></iframe> -->
</div>
<!-- <footer class="footer">
  <div class="col-sm-4 col-xs-4">
    <span class="footer-text footer-text-height">Powered by: WIPRO</span>
  </div>
  <div class="col-sm-4 col-xs-4">
    <p class="footer-text t-a-c footer-text-height">2017
      <md-icon color="" class="copyright_icon">copyright</md-icon> PSMRI</p>
  </div>
  <div class="col-sm-4 col-xs-4" *ngIf="checkRole">
    <button md-raised-button type="button" color="primary" class="footer-height pull-right" *ngIf="barMinimized" (click)="toggleBar()">CZentrix</button>
  </div>
</footer> -->