<div class="container-fluid p-a-0 header p-t-b-3">
  <div class="header">
    <div class="col-xs-12 col-sm-12">
      <div routerLink="/MultiRoleScreenComponent" class="pull-left"><img src="assets/images/smLogo.png" alt="Logo" title="Logo"></div>
      <div class=" p-t-1">
        <ul class="list-inline list-unstyled pull-left m-b-0">
          <li class="m-l-lg-40 m-t-5" *ngIf='checkRole'><img src="assets/images/transferCallIcon.png " alt="Caller Icon
    " title="Caller Icon " />
            <span class="m-l-lg-20 f-s-14 font-Semibold f-c-green ">ON CALL</span>
          </li>
        </ul>
        <ul class="list-inline list-unstyled topIcon pull-right m-l-20  m-b-0">
          <!--   <li style="color: white"> Welcome {{data.userName}}</li> -->
          <li class=""><img src="assets/images/icon-user-active.png" class="cursorPointer" alt="User Icon" title="User Icon" [mdMenuTriggerFor]="menuNotification"></li>
          <md-menu #menuNotification x-position="before"  class="m-t-40"  >
            <md-list class="p-t-0">
              <md-list-item>
                <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_circle</md-icon>
                {{data.userName}}</md-list-item>
              <md-list-item class="b-t-1-w">ID: {{current_role}}-{{current_service}}</md-list-item>
            </md-list>
            </md-menu>
            <li class="help"><a class="">&nbsp;</a></li>
            <li class="logout" routerLink="/loginContentClass"><a class="">&nbsp;</a></li>
        </ul>
        <ul class="list-inline list-unstyled pull-right m-b-0">
          <li>
            <select class="form-control drop-arrow border-radius-20 height-30 m-b-4 ">
              <option selected="selected " value="1 ">English </option>
              <option value="2 ">Kannada </option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 " (click)="minimizeBar()">
  <div class="row">
    <div class="col-xs-12 col-sm-12 " [hidden]="current_campaign == 'OUTBOUND'">
      <div class="row b-t-2-w ">
        <div class="col-xs-12 col-sm-12 m-t-3 ">
          <div class="row ">
            <div class="col-xs-12 col-sm-8 col-md-2 col-lg-2 m-t-5">
              <ul class="list-inline list-unstyled pull-left m-b-3 ">
                <li class="cursorPointer " [routerLink]="[ '/MultiRoleScreenComponent', { outlets: {
    'postLogin_router': [ 'dashboard'] } }] ">
                  <i class="fa fa-arrow-left fa-lg " aria-hidden="true "></i></li>
                <!--                 <li class="m-l-10 "><img src="assets/images/dashboardIcon.png " alt="Dashboard Icon
    " title="Dashboard Icon " /></li> -->
                <!--   <li class="f-s-16 font-Semibold ">My ID : {{current_role}} - {{current_service}}</li> -->
                <!--<li class="f-s-16 font-Semibold ">My ID : CO0111120</li>-->
                <!--<li class="f-s-16 font-Semibold ">Service: {{current_service}}</li>
                                <li class="f-s-16 font-Semibold ">Role: {{current_role}}</li>-->
                <li class="m-l-lg-40 " *ngIf='checkRole'><img src="assets/images/durationIcon.png " alt="Caller Icon
    " title="Caller Icon " />
                  <span class="m-l-lg-20 f-s-14 f-c-14508c font-Semibold ">{{callDuration}}</span>
                </li>
                <!-- <li class="f-s-14 font-regular ">My ID : CO0111120</li> -->
              </ul>
            </div>
            <!--             <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 " *ngIf='checkRole'>
              <select class="form-control drop-arrow border-radius-20 height-30 m-b-4 ">
                <option selected="selected " value="1 ">English </option>
                <option value="2 ">Kannada </option>
              </select>
            </div> -->
            <div *ngIf='checkRole' >
              <!--               <div class=" ">
                <ul class="list-inline list-unstyled pull-right m-t-3 m-b-3 ">
                  <li class="font-regular "><span class="f-s-14 ">No. Calls :</span><span class="f-s-14
    f-c-14508c ">20</span> </li>
                  <li class="font-regular ">Total talk time :<span class="f-s-14 f-c-14508c "> 2 hr:30 min:20 sec</span> </li>
                </ul>
              </div> -->
              <ul class="list-unstyled list-inline pull-left m-t-lg-10 p-a-0 m-b-3 ">
                <!-- <li><img src="assets/images/callerIcon.png " alt="Caller Icon " title="Caller Icon " /></li> -->
                <li><span class="m-l-lg-20 f-s-16 f-c-0 font-Medium ">{{selectedBenData.id}}</span></li>
                <li>{{selectedBenData.name}}</li>
                <li>{{selectedBenData.mob}}</li>
                <li>{{selectedBenData.age}}</li>
                <li>{{selectedBenData.state}}</li>
                <li>{{selectedBenData.district}}</li>
                <li>{{selectedBenData.block}}</li>
                <li>{{selectedBenData.village}}</li>
                <li>{{selectedBenData.language}}</li>
                <li>{{selectedBenData.relation}}</li>
              </ul>
              <ul class="list-unstyled list-inline pull-right m-b-0 ">
                <!--               <li class="text-center "><span><img src="assets/images/transferCallIcon.png " alt="Transfer Icon
    " title="Transfer Icon "/></span>
                <br />
                <span class="f-s-14 ">Transfer Call</span></li> -->
                <li class="text-center m-l-lg-40 f-s-9"><span><img src="assets/images/flagCallIcon.png " class="f-s-9" alt="Flag Call
    Icon " title="Flag Call Icon "/></span>
                  <br />
                  <span class="f-s-14 ">Flag Call</span></li>
                <!-- <li class="text-center m-l-lg-40 "><span><img src="assets/images/endCallIcon.png " alt="End Call
    Icon " title="End Call Icon "/></span>
              <br />
              <span class="f-s-14 ">End Call</span></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix "></div>
    <div>
      <app-1097 *ngIf=" current_service==='1097' " (beneficiarySelected)="getSelectedBenDetails($event) "></app-1097>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <span class="footer-text">Powered by: WIPRO</span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <p class="footer-text t-a-c">2017
        <md-icon color="" class="copyright_icon">copyright</md-icon> PSMRI</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <button md-raised-button type="button" color="primary" class="footer-height pull-right" *ngIf="barMinimized" (click)="toggleBar()">CZentrix</button>
    </div>
  </div>
</footer>
