<div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label class="pull-left"><h4 class="f-s-b m-b-10 m-t-20"> Call Auditing </h4> </label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form #qaForm='ngForm' autocomplete="off" >
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md2-datepicker name="startDate" (keydown)="blockey($event)"  placeholder="Valid From" #startDate="ngModel" ngModel required [style.width]="'100%'" (change)="setMinMaxDate(startDate.value)"></md2-datepicker>
          <span class="error_text f-s-10 p-l-10" *ngIf="startDate.touched && startDate.errors?.required">Start Date is required</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md2-datepicker name="endDate" (keydown)="blockey($event)" [min]="min" [max]="max"  placeholder="Valid Till" #endDate="ngModel" ngModel required [style.width]="'100%'" (change)="setEndDate(endDate.value)"></md2-datepicker>
          <span class="error_text f-s-10 p-l-10" *ngIf="endDate.touched && endDate.errors?.required">End Date is required</span>
          <span class="error_text f-s-10 p-l-10" *ngIf="(endDate.value<startDate.value) && endDate.dirty">End Date can not be before Start Date</span>          
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select placeholder="Service Line" [style.width]="'100%'" [(ngModel)]="serviceID" name="ServiceLine" required>
              <md-option *ngFor="let item of servicelines" [value]="item.serviceID">
                {{item.serviceName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select placeholder="Role" [style.width]="'100%'" [(ngModel)]="role" name="Role">
              <md-option *ngFor="let item of roles" [value]="item.roleName">
                {{item.roleName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select placeholder="Inbound/Outbound Call" [style.width]="'100%'" [(ngModel)]="ioc" name="InboundOutbound">
              <md-option value="inbound">
              Inbound
              </md-option>
              <md-option value="outbound">
              Outbound
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select placeholder="Agent" [style.width]="'100%'" [(ngModel)]="agent" name="Agent">
              <md-option *ngFor="let item of agentIDs"  [value]="item.agentID">
                {{item.agentID}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" myMobileNumber>
          <md-input-container [style.width]="'100%'">
            <input mdInput placeholder="Beneficiary Phone Number" [(ngModel)]="phno" minlength="10" maxlength="10" name="benPhoneNo">
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select placeholder="Call Type" [style.width]="'100%'" name="CallType" [(ngModel)]="callGroupType" (change)="populateCallSubTypes(callGroupType)" required>
              <md-option *ngFor="let item of callTypes" [value]="item.callGroupType" >
                {{item.callGroupType}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <md-input-container class="hide_underline" [style.width]="'100%'">
              <input mdInput style="display:none">
              <md-select placeholder="Call SubType" [style.width]="'100%'" [(ngModel)]="callsubtype" [disabled]="callGroupType==='All'" name="CallSubType" required>
                <md-option *ngFor="let item of callSubTypes" [value]="item.callTypeID" >
                  {{item.callType}}
                </md-option>
              </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <button md-raised-button color="accent" class="m-t-10" (click)="getFilteredCallList(qaForm.value)" [disabled]="qaForm.invalid || (endDate.value<startDate.value)">Search</button>
            <button md-raised-button color="accent" class="m-t-10" (click)="reset()">Reset</button>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
        <table class="table table-hover table-striped" [md2Data]="filteredCallList" #md2="md2DataTable" [rowsPerPage]="4">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Call ID</th>
                <th>Call Date & Time</th>
                <th>Beneficiary ID</th>
                <th>Beneficiary Name</th>
                <th>Beneficiary Phone No.</th>
                <th>Call Remarks</th>
                <th>Call Type</th>
                <th>Case Sheet</th>
                <th>Voice Record</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="md2.data.length==0">
                <td class="record-not-found" colspan="10">
                    No records found
                </td>
              </tr>
              <tr *ngFor="let record of  md2.data;let i=index ">
               <td>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</td>
               <td>{{record.benCallID?record.benCallID:'-'}}</td>
               <td>{{record.callTime| utcDate| date:'dd/MM/yyyy HH:mm a'}}</td>
               <td>{{record.beneficiaryID?record.beneficiaryID:'-'}}</td>
               <td>{{record.name?record.name:'-'}}</td>
               <td>{{record.phoneNo?record.phoneNo:'-'}}</td>
               <td>{{record.remarks?record.remarks:'-'}}</td>
               <td>{{record.callType?record.callType:'-'}}</td>
               <td><i class="fa fa-file-text-o f-s-20 m-t--8 pull-left f-c-g cursorPointer" aria-hidden="true" (click)="invokeCaseSheetDialog(record.benCallID)"></i></td>
               <td>
                 <audio controls>  
                  <source src="{{record?.recordingPath}}" type="audio/ogg">
                  <source src="{{record?.recordingPath}}" type="audio/mpeg">
                </audio>
              </td>               
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10">
                  <md2-pagination></md2-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
    </div>
  </div>
  
  <!--Below line commented on 21 may,2018 for screen revamp, Diamond Khanna  -->
  <!-- <iframe [src]="qualityAuditURL" width="100%" height="700px"></iframe> -->