<div class="row" [hidden]="showCaseSheet">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="pull-left">
      <h4 class="f-s-b m-b-10 m-t-20"> {{currentLanguageSet?.callAuditing}} </h4>
    </label>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form #qaForm='ngForm' autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md2-datepicker name="startDate" (keydown)="blockey($event)"  [(ngModel)]="validFrom" placeholder="{{currentLanguageSet?.validFrom}}" #startDate="ngModel" ngModel required
        [max]="today"  [style.width]="'100%'"   (change)="setEndDate()"></md2-datepicker>
        <span class="error_text f-s-10 p-l-10" *ngIf="startDate.touched && startDate.errors?.required">{{currentLanguageSet?.startDateIsRequired}}</span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md2-datepicker name="endDate" (keydown)="blockey($event)"  [min]="startDate.value" [max]="maxEndDate"  [(ngModel)]="validTill" placeholder="{{currentLanguageSet?.validTill}}" #endDate="ngModel"
          ngModel required [style.width]="'100%'"  (change)="resetValuesOnchange()"></md2-datepicker>
        <span class="error_text f-s-10 p-l-10" *ngIf="endDate.touched && endDate.errors?.required">{{currentLanguageSet?.endDateIsRequired}}</span>
        <span class="error_text f-s-10 p-l-10" *ngIf="(endDate.value<startDate.value) && endDate.dirty">{{currentLanguageSet?.endDateCanNotBeBeforeStartDate}}</span>
        <span class="error_text f-s-10 p-l-10" *ngIf="(max<endDate.value) && endDate.dirty">{{currentLanguageSet?.startDateEndDateCanHaveMax15DaysGap}}</span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
     
          <md-select placeholder="{{currentLanguageSet?.serviceLine}}" [style.width]="'100%'" [(ngModel)]="serviceID" name="ServiceLine" required>
            <md-option *ngFor="let item of servicelines" [value]="item.serviceID">
              {{item.serviceName}}
            </md-option>
          </md-select>
       
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
      
          <md-select placeholder="{{currentLanguageSet?.role}}" [style.width]="'100%'" [(ngModel)]="role" name="Role" (change)="getRoleSpecificAgents(role,roles)">
            <md-option *ngFor="let item of roles" [value]="item.roleName">
              {{item.roleName}}
            </md-option>
          </md-select>
       
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
      
          <md-select placeholder="{{currentLanguageSet?.inboundOrOutboundCall}}" [style.width]="'100%'" [(ngModel)]="ioc" name="InboundOutbound">
            <md-option value="inbound">
              Inbound
            </md-option>
            <md-option value="outbound">
              Outbound
            </md-option>
          </md-select>
        
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
     
          <md-select placeholder="{{currentLanguageSet?.agent}}" [style.width]="'100%'" [(ngModel)]="agent" name="Agent">
            <md-option *ngFor="let item of agentIDs" [value]="item.agentID">
              {{item.agentID}}
            </md-option>
          </md-select>
      
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" myMobileNumber>
        <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="{{currentLanguageSet?.beneficiaryPhoneNo}}" [(ngModel)]="phno" minlength="10" maxlength="10" name="benPhoneNo">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
       
          <md-select placeholder="{{currentLanguageSet?.callType}}" [style.width]="'100%'" name="CallType" [(ngModel)]="callGroupType" (change)="populateCallSubTypes(callGroupType)"
            required>
            <md-option *ngFor="let item of callTypes" [value]="item.callGroupType">
              {{item.callGroupType}}
            </md-option>
          </md-select>
       
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
       
          <md-select placeholder="{{currentLanguageSet?.callSubType}}" [style.width]="'100%'" [(ngModel)]="callsubtype" [disabled]="callGroupType==='All'"
            name="CallSubType" required>
            <md-option *ngFor="let item of callSubTypes" [value]="item.callTypeID">
              {{item.callType}}
            </md-option>
          </md-select>
    
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button md-raised-button color="accent" class="m-t-10" (click)="callRecordingRequestFordate(1,qaForm.value);resetFlag()" [disabled]="qaForm.invalid || (endDate.value<startDate.value)">{{currentLanguageSet?.search}}</button>
        <button md-raised-button color="primary" class="m-t-10" (click)="reset();resetFlag()">{{currentLanguageSet?.reset}}</button>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-12">

    <div class="table-responsive">
    <table class="table table-hover table-striped" [md2Data]="filteredCallList" #md2="md2DataTable" [rowsPerPage]="5" aria-describedby="qualityAuditList">
      <thead>
        <tr>
          <th id="sno">{{currentLanguageSet?.sno}}</th>
          <th id="callId">{{currentLanguageSet?.callId}}</th>
          <th id="callDateandTime">{{currentLanguageSet?.callDateandTime}}</th>
          <th id="beneficiaryId">{{currentLanguageSet?.beneficiaryId}}</th>
          <th id="beneficiaryName">{{currentLanguageSet?.beneficiaryName}}</th>
          <th id="beneficiaryPhoneNo">{{currentLanguageSet?.beneficiaryPhoneNo}}</th>
          <th id="callRemarks">{{currentLanguageSet?.callRemarks}}</th>
          <th id="callType">{{currentLanguageSet?.callType}}</th>
          <th id="caseSheet">{{currentLanguageSet?.caseSheet}}</th>
          <th id="voiceRecord">{{currentLanguageSet?.voiceRecord}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="md2.data.length==0">
          <td class="record-not-found" colspan="10">
            {{currentLanguageSet?.noRecordsFound}}
          </td>
        </tr>
        <tr *ngFor="let record of  md2.data;let i=index ">
          <td>{{filteredCallList.indexOf(record) + 1 }}</td>
          <td>{{record.benCallID?record.benCallID:'-'}}</td>
          <td>{{record.callTime| utcDate| date:'dd/MM/yyyy hh:mm a'}}</td>
          <td>{{record.beneficiaryID?record.beneficiaryID:'-'}}</td>
          <td>{{record.name?record.name:'-'}}</td>
          <td>{{record.phoneNo?record.phoneNo:'-'}}</td>
          <td>{{record.remarks?record.remarks:'-'}}</td>
          <td>{{record.callType?record.callType:'-'}}</td>
          <td>
            <i class="fa fa-file-text-o f-s-20 m-t--8 pull-left f-c-g cursorPointer" aria-hidden="true" (click)="invokeCaseSheetDialog(record.benCallID,record)"></i>
          </td>
          <td>
               
            <img *ngIf="!(dispFlag==((md2.activePage-1)*(md2.rowsPerPage)+i+1))" style="width:30px;height:30px" (click)="check(record.agentID,record.callID,(md2.activePage-1)*(md2.rowsPerPage)+i+1)" src="assets/images/playicon.jpg" alt="Play" title="{{currentLanguageSet?.play}}">
                              
            <audio  *ngIf="dispFlag==((md2.activePage-1)*(md2.rowsPerPage)+i+1)" controls autoplay preload="none">  
              
              <source src="{{audioResponse}}" type="audio/ogg">
              <source src="{{audioResponse}}" type="audio/mpeg">
                
              </audio>
            
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td
            colspan="1"
            class="m-t-5"
            *ngIf="pager?.pages && pager?.pages.length"
          >
            <label>{{ currentLanguageSet.totalPages }}:</label>
            {{ pageCount }}
          </td>
          <td colspan="10">
            <ul
              *ngIf="pager?.pages && pager?.pages.length"
              class="pagination pull-right"
            >
              <li [ngClass]="{ disabled: pager.currentPage <= 1 }">
                <a (click)="setPage(1, qaForm.value)"> << </a>
              </li>
              <li [ngClass]="{ disabled: pager.currentPage <= 1 }">
                <a (click)="setPage(pager.currentPage - 1, qaForm.value)">
                  <
                </a>
              </li>
              <li
                *ngFor="let page of pager.pages"
                [ngClass]="{ active: pager.currentPage === page }"
              >
                <a (click)="setPage(page, qaForm.value)">{{ page }}</a>
              </li>
              <li
                [ngClass]="{ disabled: pager.currentPage >= pager.totalPages }"
              >
                <a (click)="setPage(pager.currentPage + 1, qaForm.value)">></a>
              </li>
              <li
                [ngClass]="{ disabled: pager.currentPage >= pager.totalPages }"
              >
                <a (click)="setPage(pager.totalPages, qaForm.value)">>></a>
              </li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  </div>
</div>
<div class="row p-r-30" [hidden]="!showCaseSheet">
    <div class="col-xs-12 col-sm-12">
      <h4 class="pull-left">{{currentLanguageSet?.caseSheet}}</h4>
      <button md-raised-button color="primary" class="m-t-5 pull-right noprint" (click)="hideCaseSheetFunction()"><span class="noprint">{{currentLanguageSet?.back}}</span></button>
    </div>
    <div class="col-xs-12 col-sm-12 "> 
      <h4 class="col-xs-12 col-sm-12 m-t-10 ">{{currentLanguageSet?.serviceTypeOneZeroNineSeven}}
        <ul class="pull-right list-inline list-unstyled noprint"> 
           <li class="f-s-14 noprint"><a class="noprint" (click)="print()"><i class="fa fa-download cursorPointer noprint" aria-hidden="true"></i>{{currentLanguageSet?.download}}</a></li>  
          <li class="f-s-14">
            <strong> {{currentLanguageSet?.date}} :</strong>
            <span> {{current_date|date:'dd/MM/yyyy'}}</span>
          </li>
        </ul>
      </h4>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-10 "> </div>
    </div> 
    <div class="col-xs-12 col-sm-12 border-a-1 m-b-20 m-l-15">
      <h4 class="m-t--15">
        <span class="caseSheetHeader">{{currentLanguageSet?.beneficiaryDetails}}</span>
      </h4>
      <div class="table-responsive">
        <table class="table printTable m-b-0" aria-describedby="CallDetailsList">
          <tr>
            <td class="col-xs-12 col-sm-3 p-l-0">
              <strong> {{currentLanguageSet?.callId}} :</strong>
            </td>
            <td class="col-xs-12 col-sm-3">{{benData?.benCallID}}</td>
            <td class="col-xs-12 col-sm-3 p-l-0">
              <strong>{{currentLanguageSet?.agentId}}</strong>
            </td>
            <td class="col-xs-12 col-sm-3">{{benData?.agentID}}</td>
          </tr>
          <tr>
            <td class="col-xs-12 col-sm-3 p-l-0">
              <strong> {{currentLanguageSet?.firstName}} :</strong>
            </td>
            <td class="col-xs-12 col-sm-3">{{benData?.beneficiaryModel?.firstName}}</td>
            <td class="col-xs-12 col-sm-3 p-l-0">
              <strong>{{currentLanguageSet?.lastName}} :</strong>
            </td>
            <td class="col-xs-12 col-sm-3">{{benData?.beneficiaryModel?.lastName}}</td>
          </tr>
          <tr>
            <td class="col-xs-12 col-sm-3 p-l-0">
              <strong> {{currentLanguageSet?.age}} </strong>
            </td>
            <td class="col-xs-12 col-sm-3">{{benData?.beneficiaryModel?.actualAge}} {{benData?.beneficiaryModel?.ageUnits}}</td>
            <td class="col-xs-12 col-sm-3 p-l-0">
              <strong> {{currentLanguageSet?.gender}} :</strong>
            </td>
            <td class="col-xs-12 col-sm-3">{{benData?.beneficiaryModel?.m_gender?.genderName}}</td>
          </tr>
          <tr>
            <td class="col-xs-12 col-sm-3 p-l-0">
              <strong> {{currentLanguageSet?.address}} :</strong>
            </td>
            <td class="col-xs-12 col-sm-3">{{benData?.beneficiaryModel?.i_bendemographics?.districtBranchName?benData?.beneficiaryModel?.i_bendemographics?.districtBranchName:'-'}},
              {{benData?.beneficiaryModel?.i_bendemographics?.blockName?benData?.beneficiaryModel?.i_bendemographics?.blockName:'-'}},
              {{benData?.beneficiaryModel?.i_bendemographics?.districtName?benData?.beneficiaryModel?.i_bendemographics?.districtName:'-'}},
              {{benData?.beneficiaryModel?.i_bendemographics?.stateName?benData?.beneficiaryModel?.i_bendemographics?.stateName:'-'}}
              - {{benData?.beneficiaryModel?.i_bendemographics?.pinCode?benData?.beneficiaryModel?.i_bendemographics?.pinCode:'-'}}
              | India</td>
            <td class="col-xs-12 col-sm-3 p-l-0">
              <strong> {{currentLanguageSet?.beneficiaryId}} :</strong>
            </td>
            <td class="col-xs-12 col-sm-3">{{benData?.beneficiaryModel?.beneficiaryID}}</td>
          </tr>
          
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 border-a-1 m-b-20 m-l-15 m-b-40 p-l-12 p-r-46">
      <h4 class="m-t--15">
        <span class="caseSheetHeader">{{currentLanguageSet?.serviceRequested}}</span>
      </h4>
      <div class="col-xs-12 col-sm-12 border-a-1 m-b-10">
        <h4 class="">
          <span class="">{{currentLanguageSet?.informationService}}</span>
        </h4>
        <div class="table-responsive">
          <table class="table printTable m-b-0" aria-describedby="informationServicesList">
            <tbody *ngFor="let item of information_services">
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong> {{currentLanguageSet?.category}} :</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.categoryDetails?.categoryName}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.subCategory}} </strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.subCategoryName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 border-a-1 m-b-10">
        <h4 class="">
          <span class="">{{currentLanguageSet?.counsellingService}}</span>
        </h4>
        <div class="table-responsive">
          <table class="table printTable m-b-0" aria-describedby="counsellingServicesList">
            <tbody *ngFor="let item of counselling_services">
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong> {{currentLanguageSet?.category}} :</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.categoryDetails?.categoryName}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.subCategory}}</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.subCategoryName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 border-a-1 m-b-10">
        <h4 class="">
          <span class="">{{currentLanguageSet?.feedbackService}}</span>
        </h4>
        <div class="table-responsive">
          <table class="table printTable m-b-0" aria-describedby="feedbackServicesList">
            <tbody *ngFor="let item of feedback_services">
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.state}}:</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.states?.stateName}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.district}} :</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.district?.districtName}}</td>
              </tr>
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.subDistrict}} :</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.districtBlock?.blockName}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.instituteName}}</strong>
                </td>
                <td class="col-xs-12 col-sm-3">-</td>
              </tr>
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.designation}} :</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.designation?.designationName}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.typeOfFeedback}}:</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.FeedbackTypeID?.feedbackTypeName}}</td>
              </tr>
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.incidentDate}} :</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.serviceAvailDate|utcDate|date:'dd/MM/yyyy'}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.severity}}:</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.severity?.severityTypeName}}</td>
              </tr>
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.feedbackDescription}}:</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.feedback}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.feedbackId}}:</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item?.feedbackID}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 border-a-1 m-b-10">
        <h4 class="">
          <span class="">{{currentLanguageSet?.referralService}}</span>
        </h4>
        <div class="table-responsive">
          <table class="table printTable m-b-0" aria-describedby="referralServicesList">
            <tbody *ngFor="let item of refferal_services">
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.state}}:</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item.institutionDetails.states.stateName}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.district}} :</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item.institutionDetails.m_district.districtName}}</td>
              </tr>
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.subDistrict}} :</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item.institutionDetails.block.blockName}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong>{{currentLanguageSet?.informationRequired}}</strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item.directory.instituteDirectoryName}},{{item.subDirectory.instituteSubDirectoryName}}</td>
              </tr>
              <tr>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong> {{currentLanguageSet?.results}} </strong>
                </td>
                <td class="col-xs-12 col-sm-3">{{item.institutionDetails.institutionName}},{{item.institutionDetails.address}}</td>
                <td class="col-xs-12 col-sm-3 p-l-0">
                  <strong> </strong>
                </td>
                <td class="col-xs-12 col-sm-3"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      
</div>
