<div class="col-xs-12 col-sm-12">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngIf="calledRadio;">
      <div class="">
        <md-slide-toggle ngDefaultControl [(ngModel)]="calledEarlier" color="primary" (change)="calledEarlierCheck($event)">Have you Called Earlier?</md-slide-toggle>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" *ngIf="calledEarlier">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
<!--           <div class="form-group m-b-0 form-group-custome">
            <label class="sr-only" for="registrationNumber">Registration Number</label>
            <input class="form-control" id="registrationNumber" name="search" placeholder="Enter Registration Number" type="text" [(ngModel)]="registrationNo">
            <span class="glyphicon glyphicon-search form-control-feedback m-r-10"></span>
          </div> -->
          <md-input-container class="form-group-custome m-b-0" >
              <input mdInput placeholder="Registration Number"  name="search " [(ngModel)]="registrationNo">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <button type="button" class="btn btn-default" id="retrieve" (click)="retrieveRegHistory(registrationNo)">Retrieve</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" *ngIf="advanceBtnHide">
      <button type="button" class="btn btn-default" id="adSearch" (click)="toggleSearch(searchValue);searchForm.reset()">{{searchValue}}</button>
    </div>
  </div>
  <div class="row" [collapse]="isAdvancedSearch">
    <form #searchForm="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b-9">
<!--         <div class="form-group">
          <div myName>
            <label class="control-label" for="validity">First Name <em>*</em></label>
            <input type="text" class="form-control" id="firstname" required minlength="3" maxlength="24" placeholder="Enter Name" name="firstName"
              [(ngModel)]="FirstName">
          </div>
        </div> -->
      <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="First Name" required minlength="3" maxlength="25" name="firstName " [(ngModel)]="FirstName" #first="ngModel">
          <md-hint [hidden]= first.valid> 
         
          <span class="error_text" *ngIf="!first.required  && ( first.dirty || first.touched)">Enter atleast 3 characters</span>
          </md-hint>
      </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b-9">
<!--         <div class="form-group">
          <label class="control-label" for="lastName">Last name/Surname </label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name / Surname" name="lastName" [(ngModel)]="LastName">
        </div> -->
      <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="Last name/Surname" maxlength="25" name="lastName " [(ngModel)]="LastName">
          
      </md-input-container>
      </div>
<!--       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label class="control-label" for="fatherNameHusbandNameSearch">Father Name / Husband Name</label>
          <input type="text" class="form-control" id="fatherNameHusbandNameSearch" placeholder="Enter Father Name / Husband Name" name="fatherNameHusbandNameSearch"
            [(ngModel)]="fatherNameHusbandNameSearch">
        </div>
      </div> -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<!--         <div class="form-group">
          <label class="control-label" for="gender">Select Gender <em>*</em></label>
          <select class="form-control " name="gender" [(ngModel)]="gender" #genderSelected>
                            <option value="">Select Gender</option>
                            <option *ngFor="let gen of genders" value="{{gen.genderID}}" >{{gen.genderName}} </option>
                        </select>
          <div *ngIf=" genderErrFlag" class="errorText">
            Select Gender
          </div>
        </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select  required placeholder="Select Gender"  [(ngModel)]="gender" name="gender " #genderSelected="ngModel" (change)="genderchange(genderSelected.value)" (blur)="genderchange(genderSelected.value)">
              <md-option *ngFor="let gen of genders" value="{{gen.genderID}}">
                 {{gen.genderName}}
              </md-option>
              </md-select>
                <md-hint *ngIf=" genderErrFlag">
                      <span class="error_text">Please select gender </span>
                     </md-hint>
     </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b-9">
<!--         <div class="form-group">
          <label class="control-label" for="beneficiaryID">Beneficiary ID</label>
          <input type="text" class="form-control" id="beneficiaryID" placeholder="Enter Beneficiary ID" name="beneficiaryID" [(ngModel)]="beneficiaryID">
        </div> -->
      <md-input-container [style.width]="'100%'">
          <input mdInput placeholder="Beneficiary ID"  name="beneficiaryID " [(ngModel)]="beneficiaryID">
          
      </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<!--         <div class="form-group">
          <label class="control-label" for="stateSearch">State</label>
          <select class="form-control" name="stateSearch" [(ngModel)]="state" (change)="GetDistricts(state)">
                            <option value="">Select State</option>
                            <option *ngFor="let state of states" value="{{state.stateID}}">{{state.stateName}}</option>
                        </select>
        </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select State" [style.width]="'100%'" [(ngModel)]="state " name="state " (change)="GetDistricts(state)">
              <md-option *ngFor="let state of states" value="{{state.stateID}}">
                 {{state.stateName}}
              </md-option>
              </md-select>
     </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<!--         <div class="form-group">
          <label class="control-label" for="districtSearch">District</label>
          <select class="form-control" name="districtSearch" [(ngModel)]="district" (change)="GetTaluks(district)">
                            <option value="">Select District</option>
                            <option *ngFor="let district of districts" value="{{district.districtID}}">{{district.districtName}}</option>
                        </select>
        </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select District" [style.width]="'100%'" [(ngModel)]="district " name="district " (change)="GetTaluks(district)">
              <md-option *ngFor="let district of districts" value="{{district.districtID}}">
                 {{district.districtName}}
              </md-option>
              </md-select>
     </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<!--         <div class="form-group">
          <label class="control-label" for="talukSearch">Taluka/Tahsil/Mandal</label>
          <select class="form-control " name="talukSearch" [(ngModel)]="taluk">
                           <option value="">Select Taluks</option>
                            <option *ngFor="let taluk of taluks" value="{{taluk.talukID}}">{{taluk.talukName}}</option>
                        </select>
        </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select Taluk" [style.width]="'100%'" [(ngModel)]="taluk " name="talukSearch " >
              <md-option *ngFor="let taluk of taluks" value="{{taluk.talukID}}">
                 {{taluk.talukName}}
              </md-option>
              </md-select>
     </md-input-container>
      </div>
      <div class="pull-right col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg-20">
        <button type="button" class="pull-right btn cu-green-btn font-regular f-s-18 m-r-5" value="search" (click)="searchBeneficiary(searchForm.value)">Search</button>
      </div>
    </form>
  </div>
  <!--  Code Modified by Neeraj( 298657 ); 22-jun-2017 -->
  <div class="row">
    <div class="col-xs-12 col-sm-12" *ngIf="showSearchResult">
      <div class="table-responsive m-t-10">
        <table class="table ">
          <thead>
            <tr>
              <th class="col-xs-1 col-md-1">Beneficiary ID</th>
              <th class="col-xs-2 col-md-1">Full Name </th>
              <th class="col-xs-1 col-md-1">Date Of Birth</th>
              <th class="col-xs-1 col-md-1">Age</th>
              <th class="col-xs-1 col-md-1">Gender</th>
              <th class="col-xs-1 col-md-1">State</th>
              <th class="col-xs-1 col-md-1">District</th>
              <th class="col-xs-1 col-md-1">Taluk</th>
              <th class="col-xs-1 col-md-1">Village</th>
              <th class="col-xs-1 col-md-1">Preferred Language</th>
              <th class="col-xs-1 col-md-1">Beneficiary Tagging</th>
            </tr>
          </thead>
          <tbody *ngIf="regHistoryList?.length>0">
            <tr style="cursor: pointer" (click)="selectBeneficiary(regHistory)" *ngFor="let regHistory of regHistoryList | paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{regHistory.beneficiaryID}}</td>
              <td>{{regHistory.firstName}} {{regHistory.middleName}} {{regHistory.lastName}}</td>
              <td>{{regHistory.dOB|date:'dd-MM-yyyy'}}</td>
              <td>{{regHistory.age}}</td>regHistoryList
              <td>{{regHistory.m_gender?.genderName}}</td>
              <td>{{regHistory.i_bendemographics?.m_state?.stateName}}</td>
              <td>{{regHistory.i_bendemographics?.m_district?.districtName}}</td>
              <td>{{regHistory.i_bendemographics?.m_districtblock?.blockName}}</td>
              <td>{{regHistory.i_bendemographics?.m_districtbranchmapping?.villageName}}</td>
              <td>{{regHistory.i_bendemographics?.m_language?.languageName}}</td>
              <td>{{regHistory.benPhoneMaps[0]?.benRelationshipType?.benRelationshipType}}</td>
              <td><button class=".btn pull-right" (click)="passBenRegHistoryData(regHistory)">Edit</button></td>
            </tr>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </tbody>
          <tbody *ngIf="regHistoryList?.length==0" class="t-a-c">
            <tr colspan="6"><i class="material-icons">sentiment_very_dissatisfied</i>No Records Found
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--End  Code Modified by Neeraj( 298657 ); 22-jun-2017 -->
  <!-- <form #Form="ngForm" (submit)="registerBeneficiary(Form.value); Form.reset()" *ngIf="notCalledEarlier"> -->
  <div class="row bg-white m-t-10 " *ngIf="notCalledEarlier">
    <div class=" col-xs-12 col-sm-12 ">
      <h4>Registration form</h4>
    </div>
    <form autocomplete="off">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
<!--       <div class="form-group ">
        <label class="control-label" for="TitleId ">TitleId</label>
        <select class="form-control drop-arrow " name="TitleId " [(ngModel)]="TitleId ">
                        <option *ngFor="let title of titles " value={{title.titleID}}>{{title.titleName}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select  placeholder="TitleId" [style.width]="'100%'" [(ngModel)]="TitleId " name="TitleId ">
              <md-option *ngFor="let title of titles" value="{{title.titleID}}">
                 {{title.titleName}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-b-9">
<!--       <div class="form-group ">
        <label class="control-label" for="firstName ">Name</label>
        <input type="text " class="form-control col-sm-9 " placeholder="Enter first name " name="FirstName " [(ngModel)]="FirstName"
          maxlength="25">
      </div> -->
      <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="First Name"  required minlength="3" maxlength="25" name="FirstName " [(ngModel)]="FirstName" #first="ngModel">
          <md-hint [hidden]= first.valid> 
         
          <span class="error_text" *ngIf="!first.required  && ( first.dirty || first.touched)">Enter atleast 3 characters</span>
          </md-hint>
      </md-input-container>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-b-9">
<!--       <div class="form-group ">
        <label class="control-label" for="lastName "> Last name/Surname</label>
        <input type="text " class="form-control col-sm-9 " placeholder="Enter Last name/Surname " name="LastName " [(ngModel)]="LastName"
          maxlength="25">
      </div> -->
      <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="Last name/Surname" maxlength="25" name="LastName " [(ngModel)]="LastName">
          
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
<!--       <div class="form-group ">
        <label class="control-label" for="firstName ">Select Gender</label>
        <select class="form-control drop-arrow " name="GenderID " [(ngModel)]="GenderID ">
                        <option *ngFor="let gender of genders " value={{gender.genderID}}>{{gender.genderName}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select  required placeholder="Select Gender" [style.width]="'100%'" [(ngModel)]="GenderID" name="GenderID " #genderSelected="ngModel" (change)="genderchange(genderSelected.value)" (blur)="genderchange(genderSelected.value)">
              <md-option *ngFor="let gender of genders" value="{{gender.genderID}}">
                 {{gender.genderName}}
              </md-option>
              </md-select>
                <md-hint *ngIf=" genderErrFlag">
                      <span class="error_text">Please select gender </span>
                     </md-hint>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
 <!--      <div class="form-group ">
        <label class="control-label" for="marital ">Select Marital</label>
        <select class="form-control drop-arrow " name="MaritalStatusID " [(ngModel)]="MaritalStatusID ">
                        <option *ngFor="let maritalstatus of maritalStatuses " value={{maritalstatus.maritalStatusID}}>
                            {{maritalstatus.status}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select Marital" [style.width]="'100%'" [(ngModel)]="MaritalStatusID " name="MaritalStatusID ">
              <md-option *ngFor="let maritalstatus of maritalStatuses" value="{{maritalstatus.maritalStatusID}}">
                 {{maritalstatus.status}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-b-7">
      <div class="form-group">
      <!--   <label class="control-label" for="dOB" i18n>DOB</label> -->
        <md2-datepicker [min]="minDate" [max]="maxDate" [style.width]="'100%'" placeholder="DOB: dd-MM-yyyy" name="dateOfBirth" (change)="calculateAge($event.value)"
          [(ngModel)]="DOB"></md2-datepicker>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-b-9">
<!--       <div class="form-group ">
        <label class="control-label" for="lastName ">Age </label>
        <input type="text " class="form-control " #ageRef placeholder="Enter age" name="age" (blur)="calculateDOB(ageRef.value)"
          [(ngModel)]="age" readonly="readonly" autocomplete="off" (dblclick)="enableAge($event)" />
      </div> -->
      <md-input-container myMobileNumber [style.width]="'100%'">
          <input mdInput required placeholder="Age" #ageRef name="age " [(ngModel)]="age" (blur)="calculateDOB(ageRef.value)">
          
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-b-9">
<!--       <div class="form-group ">
        <label class="control-label" for="PhoneNo ">Alternate Number</label>
        <input type="text " class="form-control " placeholder="Enter PhoneNo " name="PhoneNo " [(ngModel)]="PhoneNo ">
      </div> -->
      <md-input-container myMobileNumber [style.width]="'100%'">
          <input mdInput placeholder="Alternate Number" maxlength="10"  name="PhoneNo " [(ngModel)]="PhoneNo">
          
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 " *ngIf="isParentBeneficiary">
<!--       <div class="form-group ">
        <label class="control-label" for="beneficiaryRealtion">{{relationshipWith}}</label>
        <select class="form-control drop-arrow" name="beneficiaryRealtionID" [(ngModel)]="beneficiaryRelationID">
                    <option *ngFor="let beneficiaryRelation of beneficiaryRelations" value={{beneficiaryRelation.benRelationshipID}}>
                        {{beneficiaryRelation.benRelationshipType}}
                </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select  required placeholder="{{relationshipWith}}" [style.width]="'100%'" [(ngModel)]="beneficiaryRelationID" name="beneficiaryRealtionID ">
              <md-option *ngFor="let beneficiaryRelation of beneficiaryRelations" value="{{beneficiaryRelation.benRelationshipID}}">
                 {{beneficiaryRelation.benRelationshipType}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 m-b-10 ">
      <button class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " (click)="captureOtherInfo()">Next</button>
    </div>
    </form>
  </div>

  <div class="row bg-white m-t-10 " *ngIf="notCalledEarlierLowerPart">
    <form autocomplete="off">
        <div class="row" style="display:none; ">
      <div class="form-group ">
        <label class="control-label" for="ParentBenRegID ">Parent Reg ID</label>
        <input type="text " class="form-control " value="130 " name="ParentBenRegID " [(ngModel)]="ParentBenRegID ">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 " style="display:none; ">
      <div class="form-group ">
        <label class="control-label" for="BeneficiaryTypeID ">Relationship </label>
        <input type="text " class="form-control " name="BeneficiaryTypeID " [(ngModel)]="BeneficiaryTypeID ">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
<!--       <div class="form-group ">
        <label class="control-label" for="identityType ">Identity Type </label>
        <select class="form-control drop-arrow" #idType name="identityType " [(ngModel)]="identityType">
                        <option *ngFor="let identityType of identityTypes" value={{identityType.govtIdentityTypeID}}>
                            {{identityType.identityType}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Identity Type" [style.width]="'100%'" [(ngModel)]="identityType " name="identityType ">
              <md-option *ngFor="let identityType of identityTypes" value="{{identityType.govtIdentityTypeID}}">
                 {{identityType.identityType}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-b-9">
<!--       <div class="form-group ">
        <label class="control-label" for="aadharNo ">ID No.</label>
        <input type="text " class="form-control " placeholder="Enter Aadhar No. " maxlength="15" name="aadharNo " [(ngModel)]="aadharNo">
      </div> -->
      <md-input-container myMobileNumber [style.width]="'100%'">
          <input mdInput placeholder="ID Number"  name="aadharNo " [(ngModel)]="aadharNo">
          
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
<!--       <div class="form-group ">
        <label class="control-label" for="caste ">Select Caste</label>
        <select class="form-control drop-arrow " name="caste " [(ngModel)]="caste ">
                        <option *ngFor="let caste of communities " value={{caste.communityID}}>
                            {{caste.communityType}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select Caste" [style.width]="'100%'" [(ngModel)]="caste " name="caste ">
              <md-option *ngFor="let caste of communities" value="{{caste.communityID}}">
                 {{caste.communityType}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
<!--       <div class="form-group ">
        <label class="control-label" for="educationQualification" i18n>Select Education Qualification</label>
        <select class="form-control drop-arrow" name="educationQualification" [(ngModel)]="educationQualification">
                        <option *ngFor="let education of benEdus" value={{education.educationID}}>
                            {{education.educationType}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select Education Qualification" [style.width]="'100%'" [(ngModel)]="educationQualification " name="educationQualification ">
              <md-option *ngFor="let education of benEdus" value="{{education.educationID}}">
                 {{education.educationType}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
<!--       <div class="form-group">
        <label class="control-label" for="state" i18n>Select State</label>
        <select class="form-control drop-arrow" name="state" [(ngModel)]="state" (change)="GetDistricts(state)">
                        <option *ngFor="let benState of states" value={{benState.stateID}}>
                            {{benState.stateName}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select State" [style.width]="'100%'" [(ngModel)]="state " name="state " (change)="GetDistricts(state)">
              <md-option *ngFor="let benState of states" value="{{benState.stateID}}">
                 {{benState.stateName}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
<!--       <div class="form-group">
        <label class="control-label" for="district" i18n>Select District</label>
        <select class="form-control drop-arrow" name="district" [(ngModel)]="district" (change)="GetTaluks(district)">
                        <option *ngFor="let benDistrict of districts" value={{benDistrict.districtID}}>
                            {{benDistrict.districtName}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select District" [style.width]="'100%'" [(ngModel)]="district " name="district " (change)="GetTaluks(district)">
              <md-option *ngFor="let benDistrict of districts" value="{{benDistrict.districtID}}">
                 {{benDistrict.districtName}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
<!--       <div class="form-group">
        <label class="control-label" for="taluk" i18n>Taluk</label>
        <select class="form-control drop-arrow" name="taluk" [(ngModel)]="taluk" (change)="GetBlocks(taluk)">
                        <option *ngFor="let benTaluk of taluks" value={{benTaluk.blockID}}>
                            {{benTaluk.blockName}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select Taluk" [style.width]="'100%'" [(ngModel)]="taluk " name="taluk " (change)="GetBlocks(taluk)">
              <md-option *ngFor="let benTaluk of taluks" value="{{benTaluk.blockID}}">
                 {{benTaluk.blockName}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
<!--       <div class="form-group">
        <label class="control-label" for="village" i18n>Panchayat/Village</label>
        <select class="form-control drop-arrow" name="village" [(ngModel)]="village">
                        <option *ngFor="let benBlock of blocks" value={{benBlock.districtBranchID}}>
                            {{benBlock.villageName}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select Panchayat/Village" [style.width]="'100%'" [(ngModel)]="village " name="village ">
              <md-option *ngFor="let benBlock of blocks" value="{{benBlock.districtBranchID}}">
                 {{benBlock.villageName}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
<!--       <div class="form-group">
        <label class="control-label" for="pincode" i18n>Pin code </label>
        <input type="text" class="form-control" placeholder="Enter Pincode" name="pincode" [(ngModel)]="pincode">
      </div> -->
      <md-input-container myMobileNumber class="m-b-9" [style.width]="'100%'" >
          <input mdInput placeholder="Pin code" maxlength="6"  name="pincode " [(ngModel)]="pincode">
          
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
<!--       <div class="form-group">
        <label class="control-label" for="preferredLanguage" i18n>Select Preferred Language</label>
        <select class="form-control drop-arrow" name="preferredLanguage" [(ngModel)]="preferredLanguage">
                        <option *ngFor="let benLang of language" value={{benLang.languageID}}>
                            {{benLang.languageName}}</option>
                    </select>
      </div> -->
      <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none" >
          <md-select   placeholder="Select Preferred Language" [style.width]="'100%'" [(ngModel)]="preferredLanguage " name="preferredLanguage ">
              <md-option *ngFor="let benLang of language" value="{{benLang.languageID}}">
                 {{benLang.languageName}}
              </md-option>
              </md-select>
     </md-input-container>
    </div>

    <!--  Code added by Neeraj( 298657 ); 21-jun-2017 -->
    <div class="col-xs-12 col-sm-12 m-b-10 ">
      <button class="btn cu-green-btn p-l-r-38 font-regular f-s-18 " *ngIf="!updationProcess " (click)="capturePrimaryInfo() ">Back</button>
      <button class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " *ngIf="!updationProcess " (click)="registerBeneficiary()">Generate</button>
    </div>
    <div class="col-xs-12 col-sm-12 m-b-10 " *ngIf="updationProcess ">
      <button class="btn cu-green-btn p-l-r-38 font-regular f-s-18 " (click)="editBenPrimaryContent() ">Back</button>
      <button class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " (click)="updateBeneficiary() ">Update</button>
    </div>
  </form>
  </div>
  <!-- </form> -->

  <!-- </div> -->
</div>