<div class="col-xs-12 col-sm-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="">
                <label class="" for="calledEarlier"><span class="f-c-g">Have you called earlier?</span></label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="yes" (click)="calledEarlierCheck('yes')"> Yes </label>
                <label class="radio-inline">
                    <input type="radio" value="no" name="optradio" (click)="calledEarlierCheck('no')"> No
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" *ngIf="calledEarlier">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="form-group m-b-0 form-group-custome">
                        <label class="sr-only" for="registrationNumber">Registration Number</label>
                        <input class="form-control" id="registrationNumber" name="search" placeholder="Enter Registration Number" type="text" [(ngModel)]="registrationNo">
                        <span class="glyphicon glyphicon-search form-control-feedback m-r-10"></span>
                    </div>
                    <!-- <div class="input-group add-on form-group">
                    <label class="control-label" for="registrationNumber">Registration Number</label>
                    <input class="form-control" placeholder="Enter Registration Number" name="registrationNumber" id="registrationNumber" type="text" [(ngModel)]="registrationNo">
                    <div class="input-group-btn">
                        <button class="btn  btn-default-custome" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div> -->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <button type="button" class="btn btn-default" id="retrieve" (click)="retrieveRegHistory(registrationNo)">Retrieve</button>
                </div>
            </div>
        </div>
    </div>
    <!--  Code Modified by Neeraj( 298657 ); 22-jun-2017 -->
    <div class="row">
        <div class="col-xs-12 col-sm-12" *ngIf="showSearchResult">
            <div class="table-responsive m-t-10">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Beneficiary ID</th>
                            <th>Full Name </th>
                            <th>Date Of Birth</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>State</th>
                            <th>District</th>
                            <th>Taluk</th>
                            <th>Village</th>
                            <th>Preferred Language</th>
                            <th>Beneficiary Tagging</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer" (click)="selectBeneficiary(regHistory)" *ngFor="let regHistory of regHistoryList | paginate: { itemsPerPage: 5, currentPage: p }">
                            <td>{{regHistory.beneficiaryID}}</td>
                            <td>{{regHistory.firstName}} {{regHistory.middleName}} {{regHistory.lastName}}</td>
                            <td>{{regHistory.dOB|date:'dd-MM-yyyy'}}</td>
                            <td>{{regHistory.age}}</td>
                            <td>{{regHistory.m_gender?.genderName}}</td>
                            <td>{{regHistory.i_bendemographics?.m_state?.stateName}}</td>
                            <td>{{regHistory.i_bendemographics?.m_district?.districtName}}</td>
                            <td>{{regHistory.i_bendemographics?.m_districtblock?.blockName}}</td>
                            <td>{{regHistory.i_bendemographics?.m_districtbranchmapping?.villageName}}</td>
                            <td>{{regHistory.i_bendemographics?.m_language?.languageName}}</td>
                            <td>{{regHistory.benPhoneMaps[0]?.benRelationshipType?.benRelationshipType}}</td>
                            <td><button class=".btn pull-right" (click)="passBenRegHistoryData(regHistory)">Edit</button></td>
                        </tr>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--End  Code Modified by Neeraj( 298657 ); 22-jun-2017 -->
    <!--<form #Form="ngForm" (submit)="registerBeneficiary(Form.value)" *ngIf="notCalledEarlier">-->
    <div class="row bg-white m-t-10 " *ngIf="notCalledEarlier">
        <div class=" col-xs-12 col-sm-12 ">
            <h4>Registration form</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="TitleId ">TitleId</label>
                <!--<input type="text " class="form-control col-sm-9 " placeholder="Enter Title " name="TitleId " [(ngModel)]="TitleId ">-->
                <select class="form-control drop-arrow " name="TitleId " [(ngModel)]="TitleId ">
                        <option *ngFor="let title of titles " value={{title.titleID}}>{{title.titleName}}</option>
                    </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="firstName ">Name</label>
                <input type="text " class="form-control col-sm-9 " placeholder="Enter first name " name="FirstName " [(ngModel)]="FirstName " maxlength="25">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="lastName "> Last name/Surname</label>
                <input type="text " class="form-control col-sm-9 " placeholder="Enter Last name/Surname " name="LastName " [(ngModel)]="LastName " maxlength="25">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="firstName ">Select Gender</label>
                <select class="form-control drop-arrow " name="GenderID " [(ngModel)]="GenderID ">
                        <option *ngFor="let gender of genders " value={{gender.genderID}}>{{gender.genderName}}</option>
                        <!--<option value="1 ">Male </option>
                        <option value="2 ">Female </option>
                        <option value="3 ">Transgender </option>-->
                    </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="marital ">Select Marital</label>
                <select class="form-control drop-arrow " name="MaritalStatusID " [(ngModel)]="MaritalStatusID ">
                        <option *ngFor="let maritalstatus of maritalStatuses " value={{maritalstatus.maritalStatusID}}>
                            {{maritalstatus.status}}</option>
                        <!--<option value=" "></option>
                        <option value="1 ">Single</option>
                        <option value="2 ">Married</option>
                        <option value="3 ">Separated</option>
                        <option value="4 ">Divorced</option>
                        <option value="5 ">Widowed</option>-->
                    </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <!-- <md-input-container class="m-t-25"> -->
            <div class="col-md-8 col-lg-8">
                <div class="form-group">
                    <label class="control-label" for="dOB" i18n>DOB</label>
                    <input class="form-control" [mdDatepicker]="picker" placeholder="DOB" [(ngModel)]="DOB">
                </div>
            </div>
            <div class="col-md-4 col-lg-4 m-t-25 ">
                <button mdPrefix [mdDatepickerToggle]="picker "></button>
                <md-datepicker #picker [min]="minDate" [max]="maxDate"></md-datepicker>
            </div>
            <!-- </md-input-container> -->
            <!--<div class="form-group ">
                    <label class="control-label " for="DOB ">DOB</label>-->
            <!--<input mdInput [mdDatepicker]="myDatepicker " class="form-control " formControlName="DOB " [(ngModel)]="DOB ">-->
            <!--<input mdInput [mdDatepicker]="myDatepicker " class="form-control " [(ngModel)]="DOB ">
                    <div class="calendarIconPosition "><button mdSuffix [mdDatepickerToggle]="myDatepicker "></button></div>
                </div>
                <md-datepicker #myDatepicker></md-datepicker>-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="lastName ">Age </label>
                <input type="text " class="form-control " placeholder="Enter age " name="age " [(ngModel)]="age ">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="PhoneNo ">Alternate Number</label>
                <input type="text " class="form-control " placeholder="Enter PhoneNo " name="PhoneNo " [(ngModel)]="PhoneNo ">
                <!--<i class="fa fa-calendar fa-lg pull-right m-t--20 m-r-5 " aria-hidden="true "></i> </div>-->
            </div>
        </div>
        <!--  Code added by Neeraj( 298657 ); 21-jun-2017 -->
        <div class="col-xs-12 col-sm-12 m-b-10 ">
            <!--<button class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " *ngIf="!updationProcess " (click)="captureOtherInfo() ">Next</button>-->
            <button class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " (click)="captureOtherInfo() ">Next</button>
        </div>
    </div>


    <div class="row bg-white m-t-10 " *ngIf="notCalledEarlierLowerPart ">
        <!-- End of Code added by Neeraj( 298657 ); 21-jun-2017  -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 " style="display:none; ">
            <div class="form-group ">
                <label class="control-label " for="ParentBenRegID ">Parent Reg ID</label>
                <input type="text " class="form-control " value="130 " name="ParentBenRegID " [(ngModel)]="ParentBenRegID ">
                <!--<i class="fa fa-calendar fa-lg pull-right m-t--20 m-r-5 " aria-hidden="true "></i>--></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 " style="display:none; ">
            <div class="form-group ">
                <label class="control-label " for="BeneficiaryTypeID ">Relationship </label>
                <input type="text " class="form-control " name="BeneficiaryTypeID " [(ngModel)]="BeneficiaryTypeID ">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="aadharNo ">Aadhar No. </label>
                <input type="text " class="form-control " placeholder="Enter Aadhar No. " name="aadharNo " [(ngModel)]="aadharNo ">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="caste ">Select Caste</label>
                <select class="form-control drop-arrow " name="caste " [(ngModel)]="caste ">
                        <option *ngFor="let caste of communities " value={{caste.communityID}}>
                            {{caste.communityType}}</option>
                    </select>
            </div>
        </div>
        <!--    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label " for="educationQualification ">Select Education Qualification</label>
                <select class="form-control drop-arrow " name="educationQualification " [(ngModel)]="educationQualification ">
                        <option *ngFor="let education of benEdus " value={{education.educationID}}>
                            {{education.educationType}}</option>
                    </select>
            </div>
        </div>-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
            <div class="form-group ">
                <label class="control-label" for="educationQualification" i18n>Select Education Qualification</label>
                <select class="form-control drop-arrow" name="educationQualification" [(ngModel)]="educationQualification">
                        <option *ngFor="let education of benEdus" value={{education.educationID}}>
                            {{education.educationType}}</option>
                    </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="state" i18n>Select State</label>
                <select class="form-control drop-arrow" name="state" [(ngModel)]="state" (change)="GetDistricts(state)">
                        <option *ngFor="let benState of states" value={{benState.stateID}}>
                            {{benState.stateName}}</option>
                    </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="district" i18n>Select District</label>
                <select class="form-control drop-arrow" name="district" [(ngModel)]="district" (change)="GetTaluks(district)">
                        <option *ngFor="let benDistrict of districts" value={{benDistrict.districtID}}>
                            {{benDistrict.districtName}}</option>
                    </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="taluk" i18n>Taluk</label>
                <!--<input type="text" class="form-control" placeholder="Enter taluk" name="taluk" [(ngModel)]="taluk" (change)="GetBlocks(taluk)">-->
                <select class="form-control drop-arrow" name="taluk" [(ngModel)]="taluk" (change)="GetBlocks(taluk)">
                        <option *ngFor="let benTaluk of taluks" value={{benTaluk.blockID}}>
                            {{benTaluk.blockName}}</option>
                    </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="village" i18n>Panchayat/Village</label>
                <!--<input type="text" class="form-control" placeholder="Enter Panchayat/Village" name="village" [(ngModel)]="village">-->
                <select class="form-control drop-arrow" name="village" [(ngModel)]="village">
                        <option *ngFor="let benBlock of blocks" value={{benBlock.districtBranchID}}>
                            {{benBlock.villageName}}</option>
                    </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="pincode" i18n>Pin code </label>
                <input type="text" class="form-control" placeholder="Enter Pincode" name="pincode" [(ngModel)]="pincode">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="preferredLanguage" i18n>Select Preferred Language</label>
                <select class="form-control drop-arrow" name="preferredLanguage" [(ngModel)]="preferredLanguage">
                        <!--<option value=""></option>-->
                        <option *ngFor="let benLang of language" value={{benLang.languageID}}>
                            {{benLang.languageName}}</option>
                    </select>
            </div>
        </div>
        <!--  Code added by Neeraj( 298657 ); 21-jun-2017 -->
        <div class="col-xs-12 col-sm-12 m-b-10 ">
            <!--<button type="submit " class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " *ngIf="!updationProcess ">Generate</button>-->
            <button class="btn cu-green-btn p-l-r-38 font-regular f-s-18 " *ngIf="!updationProcess " (click)="capturePrimaryInfo() ">Back</button>
            <button class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " *ngIf="!updationProcess " (click)="registerBeneficiary() ">Generate</button>
            <!-- <button class=" btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " *ngIf="updationProcess " (click)="updateBeneficiary() ">Update</button> -->
        </div>
        <!-- <div class="col-xs-12 col-sm-12 m-b-10 " *ngIf="updationProcess && notCalledEarlier ">-->

        <div class="col-xs-12 col-sm-12 m-b-10 " *ngIf="updationProcess ">
            <button class="btn cu-green-btn p-l-r-38 font-regular f-s-18 " (click)="editBenPrimaryContent() ">Back</button>
            <button class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 " (click)="updateBeneficiary() ">Update</button>
        </div>
        <!-- End of  Code added by Neeraj( 298657 ); 21-jun-2017 -->
    </div>
    <!--</form>-->
</div>