<div class="container-fluid">
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left">
      <label>
      <h4 class="f-s-b m-b-30">Create/Find Beneficiary</h4></label>
  </div> -->
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
  <div class="row p-t-20" *ngIf="current_campaign == 'INBOUND'">
<!--     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngIf="calledRadio;">
 -->    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngIf="calledEarlier">
      <h4> <strong>{{currentlanguage.beneficiary_registration?.create_search}}</strong></h4>
      <h5> {{currentlanguage.beneficiary_registration?.call_confirmation_question}}</h5>
      <md-radio-group  name="called_earlier" (change)="calledEarlierCheck($event.value)" [(ngModel)]="calledEarlier">
        <md-radio-button ngDefaultControl color="primary" [value]=true>Yes</md-radio-button>
        <md-radio-button ngDefaultControl color="primary" [value]=false>No</md-radio-button>
      </md-radio-group>
      <!-- <md-slide-toggle ngDefaultControl [(ngModel)]="calledEarlier" color="primary" (change)="calledEarlierCheck($event)">{{currentlanguage.beneficiary_registration?.call_confirmation_question}}</md-slide-toggle> -->

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-5 pull-right" *ngIf="calledEarlier">
<div class="row m-t-sm-10">
   <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">
     <md-input-container class="form-group-custome m-t--10 pull-right width100 ">
        <input mdInput placeholder="{{currentlanguage.beneficiary_registration?.registration_number}}" name="search" [(ngModel)]="registrationNo">
      </md-input-container>
   </div>

   <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
    <button type="button" md-raised-button color="primary" class="pull-right " id="adSearch" (click)="toggleSearch(searchValue);searchForm.reset()">{{searchValue}}</button>
    <button type="button" md-raised-button color="primary" class="pull-right m-r-10" id="retrieve" (click)="retrieveRegHistory(registrationNo)">{{currentlanguage.beneficiary_registration?.retrieve}}</button>
    
  </div>

</div>

      
      
      </div>
    <!-- <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 m-t-10" *ngIf="advanceBtnHide">
      
    </div> -->
  </div>
  <div class="row" [collapse]="isAdvancedSearch">
    <form id="benForm" #searchForm="ngForm" autocomplete="off">
          <div class=" col-xs-12 col-sm-12">
        <h4 class="f-s-b m-b-10 m-t-20">{{currentlanguage.beneficiary_registration?.search_form}}</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container myName [style.width]="'100%'">
          <input required mdInput placeholder="{{currentlanguage.beneficiary_registration?.first_name}}" maxlength="25" name="firstName" [(ngModel)]="FirstName"
          #firstN="ngModel">
          <md-hint class="error_text" *ngIf="firstN.invalid && firstN.touched">

            {{currentlanguage.beneficiary_registration?.name_validation}}

          </md-hint>
        </md-input-container>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
        <!--         <div class="form-group">
          <label class="control-label" for="lastName">Last name/Surname </label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name / Surname" name="lastName" [(ngModel)]="LastName">
        </div> -->

        <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="{{currentlanguage.beneficiary_registration?.last_name}}" maxlength="25" name="lastName" [(ngModel)]="LastName">
        </md-input-container>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required placeholder="{{currentlanguage.beneficiary_registration?.gender}}" [style.width]="'100%'" [(ngModel)]="gender"
            name="gender" #genderSelected1="ngModel" (change)="genderchange(genderSelected.value)" (blur)="genderchange(genderSelected.value)">
            <md-option *ngFor="let gen of genders" [value]="gen.genderID">
              {{gen.genderName}}
            </md-option>
          </md-select>

          <md-hint *ngIf="genderSelected1.invalid && genderSelected1.touched">
            <span class="error_text">{{currentlanguage.beneficiary_registration?.gender_validation}}</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">

          <md-select required placeholder="{{currentlanguage.beneficiary_registration?.state}}" [style.width]="'100%'" [(ngModel)]="state"
            name="stateSearch" (change)="GetDistricts(state)" #stateSelectedd="ngModel" >
            <md-option *ngFor="let state of states" [value]="state.stateID">
              {{state.stateName}}
            </md-option>
          </md-select>

          <md-hint *ngIf="stateSelectedd.invalid && stateSelectedd.touched">
            <span class="error_text">{{currentlanguage.beneficiary_registration?.state_validation}}</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">

          <md-select required placeholder="{{currentlanguage.beneficiary_registration?.district}}" [style.width]="'100%'" [(ngModel)]="district"
            name="districtSearch" (change)="GetTaluks(district)" #citySelectedd="ngModel" (blur)="GetTaluks(district)">
            <md-option *ngFor="let district of districts" [value]="district.districtID">
              {{district.districtName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="citySelectedd.invalid && citySelectedd.touched">
            <span class="error_text">{{currentlanguage.beneficiary_registration?.district_validation}}</span>
          </md-hint>
        </md-input-container>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">

          <md-select placeholder="{{currentlanguage.beneficiary_registration?.taluk}}" [style.width]="'100%'" [(ngModel)]="taluk" name="talukSearch">
            <md-option *ngFor="let taluk of taluks" [value]="taluk.blockID">
              {{taluk.blockName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg-20">
        <button [disabled]="searchForm.invalid" type="button" md-raised-button color="accent" class="f-s-18 m-r-10 pull-right"
          value="search" (click)="searchBeneficiary(searchForm.value)">{{currentlanguage.beneficiary_registration?.search}}</button>
       <!--  <button type="button" md-raised-button color="accent" class="f-s-18" value="search" (click)="back1()">{{currentlanguage.beneficiary_registration?.back}}</button> -->
      </div>
    </form>
  </div>
  <!--  Code Modified by Neeraj( 298657 ); 22-jun-2017 -->
  <div class="row">
    <div class="col-xs-12 col-sm-12" *ngIf="showSearchResult">
      <div class="table-responsive m-t-10">
        <table class="table table-responsive table-striped" [md2Data]="regHistoryList" #md2="md2DataTable" [rowsPerPage]="3">
          <thead>
            <tr>
              <th width=2%>{{currentlanguage.beneficiary_registration?.table_labels?.sno}}</th>
              <th md2SortBy="beneficiaryID" width=5%>{{currentlanguage.beneficiary_registration?.table_labels?.beneficiary_id}}</th>
              <th md2SortBy="firstName" width=12%>{{currentlanguage.beneficiary_registration?.table_labels?.fullname}}</th>
              <!-- <th class="col-xs-1 col-md-1">{{currentlanguage.beneficiary_registration?.table_labels?.dob}}</th> -->
              <th md2SortBy="age" width=3%>{{currentlanguage.beneficiary_registration?.table_labels?.age}}</th>
              <th md2SortBy="m_gender.genderName" width=5%>{{currentlanguage.beneficiary_registration?.table_labels?.gender}}</th>
              <th md2SortBy="i_bendemographics.m_state.stateName" width=20%>{{currentlanguage.beneficiary_registration?.table_labels?.state}}</th>
              <th md2SortBy="i_bendemographics.m_district.districtName" width=20%>{{currentlanguage.beneficiary_registration?.table_labels?.district}}</th>
              <th width=10%>{{currentlanguage.beneficiary_registration?.table_labels?.taluk}}</th>
              <th width=10%>{{currentlanguage.beneficiary_registration?.table_labels?.village}}</th>
              <!-- <th class="col-xs-1 col-md-1">{{currentlanguage.beneficiary_registration?.table_labels?.preferred_language}}</th> -->
              <th width=15%>{{currentlanguage.beneficiary_registration?.table_labels?.beneficiary_tagging}}</th>
              <th width=5%>{{currentlanguage.beneficiary_registration?.table_labels?.action}}</th>
            </tr>
          </thead>
          <!-- <tbody *ngIf="regHistoryList?.length==0" class="t-a-c">
            <tr width=100%>{{currentlanguage.beneficiary_registration?.table_labels?.no_records_found}}
            </tr>
          </tbody> -->
          <tbody *ngIf="md2.data?.length==0">
            <tr>
              <td class="t-a-c" colspan="11">
                {{currentlanguage.beneficiary_registration?.table_labels?.no_records_found}}
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="md2.data?.length>0">

            <tr  (click)="selectBeneficiary(regHistory)" *ngFor="let regHistory of md2.data;let i=index " style="cursor: pointer">

              <td>{{(md2.activePage-1)*(md2.rowsPerPage)+i+1}}</td>
              <td >{{regHistory.beneficiaryID}}</td>
              <td>{{regHistory.firstName}} {{regHistory.middleName}} {{regHistory.lastName}}</td>
              <!-- <td>{{regHistory.dOB|date:'dd-MM-yyyy'}}</td> -->
              <td >{{regHistory.age}}</td>
              <td>{{regHistory.m_gender?.genderName}}</td>
              <td>{{regHistory.i_bendemographics?.m_state?.stateName}}</td>
              <td>{{regHistory.i_bendemographics?.m_district?.districtName}}</td>
              <td>{{regHistory.i_bendemographics?.m_districtblock?.blockName}}</td>
              <td>{{regHistory.i_bendemographics?.m_districtbranchmapping?.villageName}}</td>
              <!-- <td>{{regHistory.i_bendemographics?.m_language?.languageName}}</td> -->
              <td>{{regHistory.benPhoneMaps[0]?.benRelationshipType?.benRelationshipType}}</td>
              <td>
                <a class="pull-right" (click)="passBenRegHistoryData(regHistory)">
                  <md-icon class="f-s-22" color="">mode_edit</md-icon>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="11">
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!--End  Code Modified by Neeraj( 298657 ); 22-jun-2017 -->
  <!-- <form #Form="ngForm" (submit)="registerBeneficiary(Form.value); Form.reset()" *ngIf="notCalledEarlier"> -->
  <form #BeneficaryForm="ngForm" autocomplete="off">
        <div class=" col-xs-12 col-sm-12">
        <h4 class="f-s-b m-b-10 m-t-20">{{currentlanguage.beneficiary_registration?.registration_form}}</h4>
      </div>
    <div class="row" [hidden]="!notCalledEarlier">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--       <div class="form-group">
        <label class="control-label" for="TitleId">TitleId</label>
        <select class="form-control drop-arrow" name="TitleId" [(ngModel)]="TitleId">
                        <option *ngFor="let title of titles" value={{title.titleID}}>{{title.titleName}}</option>
                    </select>
                  </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">

          <md-select placeholder="{{currentlanguage.beneficiary_registration?.title}}" [style.width]="'100%'" [(ngModel)]="TitleId"
            name="TitleId" (change)="titleSelected(TitleId)">
            <md-option *ngFor="let title of titles" [value]="title.titleID">
              {{title.titleName}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-b-9">
        <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="{{currentlanguage.beneficiary_registration?.first_name}}" maxlength="25" name="FirstName" [(ngModel)]="FirstName"
            #first="ngModel">
          <!--           <md-hint [hidden]=first.valid>

            <span class="error_text" *ngIf="!first.required  && ( first.dirty || first.touched)">Enter atleast 3 characters</span>
          </md-hint> -->
        </md-input-container>
      </div>
      <div class="clearfix visible-xs visible-sm"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-b-9">
        <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="{{currentlanguage.beneficiary_registration?.last_name}}" maxlength="25" name="LastName" [(ngModel)]="LastName">
        </md-input-container>
      </div>
       <div class="clearfix visible-md"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--       <div class="form-group">
        <label class="control-label" for="firstName">Select Gender</label>
        <select class="form-control drop-arrow" name="GenderID" [(ngModel)]="GenderID">
          <option *ngFor="let gender of genders" value={{gender.genderID}}>{{gender.genderName}}</option>-->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">

          <md-select required placeholder="{{currentlanguage.beneficiary_registration?.gender}}" [style.width]="'100%'" [(ngModel)]="GenderID"
            name="GenderID" #genderSelected="ngModel" (change)="genderchange(genderSelected.value)" (blur)="genderchange(genderSelected.value)">
            <md-option *ngFor="let gender of genders" [value]="gender.genderID">
              {{gender.genderName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="genderSelected.invalid && genderSelected.touched">
            <span class="error_text">{{currentlanguage.beneficiary_registration?.gender_validation}}</span>
          </md-hint>
        </md-input-container>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <div class="form-group">
          <!--   <label class="control-label" for="dOB" i18n>DOB</label> -->
          <md2-datepicker (keydown)="blockey($event)" [min]="minDate" [max]="maxDate" [style.width]="'100%'" placeholder="{{currentlanguage.beneficiary_registration?.dob}}"
            name="dateOfBirth" (change)="calculateAge($event.value)" [(ngModel)]="DOB"></md2-datepicker>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-b-7">
        <!--       <div class="form-group">
        <label class="control-label" for="lastName">Age </label>
        <input type="text" class="form-control" #ageRef placeholder="Enter age" name="age" (blur)="calculateDOB(ageRef.value)"
          [(ngModel)]="age" readonly="readonly" autocomplete="off" (dblclick)="enableAge($event)" />
        </div> -->
        <md-input-container myMobileNumber [style.width]="'100%'">
          <input mdInput placeholder="{{currentlanguage.beneficiary_registration?.age}}" required #ageRef min="0" max="120" name="age" maxlength="3" 
            [(ngModel)]="age" (keyup)="calculateDOB(ageRef.value)" #ageEvent="ngModel" >
          <md-hint *ngIf=" !ageEvent.valid && ( ageEvent.dirty || ageEvent.touched)">
            <span class="error_text">Enter valid age (max:120) </span>
          </md-hint>
        </md-input-container>
      </div>
       <div class="clearfix visible-md"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">

          <md-select placeholder="{{currentlanguage.beneficiary_registration?.marital_status}}" [style.width]="'100%'" [(ngModel)]="MaritalStatusID"
            name="MaritalStatusID">
            <md-option *ngFor="let maritalstatus of maritalStatuses" [value]="maritalstatus.maritalStatusID">
              {{maritalstatus.status}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-b-9" [hidden]="!isParentBeneficiary">
        <!--       <div class="form-group">
        <label class="control-label" for="beneficiaryRealtion">{{relationshipWith}}</label>
        <select class="form-control drop-arrow" name="beneficiaryRealtionID" [(ngModel)]="beneficiaryRelationID">
                    <option *ngFor="let beneficiaryRelation of beneficiaryRelations" value={{beneficiaryRelation.benRelationshipID}}>
                        {{beneficiaryRelation.benRelationshipType}}
                </select>
              </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required placeholder="{{relationshipWith}}" #benRelation="ngModel" [style.width]="'100%'" [(ngModel)]="beneficiaryRelationID"
            name="beneficiaryRealtionID">
            <md-option *ngFor="let beneficiaryRelation of beneficiaryRelations" [value]="beneficiaryRelation.benRelationshipID">
              {{beneficiaryRelation.benRelationshipType}}
            </md-option>
          </md-select>
<!--           <md-hint *ngIf="showTagging">
            <span class="error_text">Please Select Beneficiary Tagging</span>
          </md-hint> -->
        </md-input-container>

      </div>
      <!-- </form> -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-10">
        <button *ngIf="isParentBeneficiary" [disabled]="!genderSelected.valid || !ageEvent.valid || !benRelation.valid" md-raised-button color="primary" class="pull-right font-regular"
          (click)="captureOtherInfo()">{{currentlanguage.beneficiary_registration?.next}}</button>
          <button *ngIf="!isParentBeneficiary" [disabled]="!genderSelected.valid || !ageEvent.valid" md-raised-button color="primary" class="pull-right font-regular"
          (click)="captureOtherInfo()">{{currentlanguage.beneficiary_registration?.next}}</button>
      </div>
    </div>
    <div class="row bg-white m-t-10" *ngIf="notCalledEarlierLowerPart">
      <!-- <form autocomplete="off"> -->
      <div class="row" style="display:none;">
        <div class="form-group">
          <label class="control-label" for="ParentBenRegID">Parent Reg ID</label>
          <input type="text" class="form-control" value="130" name="ParentBenRegID" [(ngModel)]="ParentBenRegID">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:none;">
        <div class="form-group">
          <label class="control-label" for="BeneficiaryTypeID">Relationship </label>
          <input type="text" class="form-control" name="BeneficiaryTypeID" [(ngModel)]="BeneficiaryTypeID">
        </div>
      </div>
      <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> -->
      <!--       <div class="form-group">
        <label class="control-label" for="identityType">Identity Type </label>
        <select class="form-control drop-arrow" #idType name="identityType" [(ngModel)]="identityType">
                        <option *ngFor="let identityType of identityTypes" value={{identityType.govtIdentityTypeID}}>
                            {{identityType.identityType}}</option>
                    </select>
                  </div> -->
      <!-- <md-input-container class="hide_underline" [style.width]="'100%'"> -->
      <!-- <input mdInput style="display:none">

        <md-select placeholder="{{currentlanguage.beneficiary_registration?.identity_type}}" [style.width]="'100%'" [(ngModel)]="identityType"
          name="identityType" (change)="validateID(identityType)">
          <md-option *ngFor="let identityType of identityTypes" [value]="identityType.govtIdentityTypeID">
            {{identityType.identityType}}
          </md-option>
        </md-select>
      </md-input-container>

    </div> -->
      <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b-9"> -->
      <!--       <div class="form-group">
        <label class="control-label" for="aadharNo">ID No.</label>
        <input type="text" class="form-control" placeholder="Enter Aadhar No." maxlength="15" name="aadharNo" [(ngModel)]="aadharNo">
      </div> -->
      <!-- <md-input-container [style.width]="'100%'">
        <input mdInput required placeholder="{{currentlanguage.beneficiary_registration?.id_number}}" name="aadharNo" [(ngModel)]="aadharNo"
          [maxlength]="idMaxValue" [minlength]="idMinValue" [pattern]="patternID" #idNumber="ngModel">
        <md-hint [hidden]="idNumber.valid || idNumber.pristine">
          <span class=" error_text" [hidden]="!idNumber.hasError('required')">ID Number is required</span>
          <span class=" error_text" [hidden]="!idNumber.hasError('pattern')">{{idErrorText}}</span>
        </md-hint> -->
      <!-- <md-hint *ngIf="!idNumber.valid && ( idNumber.dirty || idNumber.touched)">
          <span>{{idErrorText}}</span>
        </md-hint> -->
      <!-- </md-input-container>
    </div> -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

        <md-input-container class="hide_underline" [style.width]=" '100%'">
          <input mdInput style="display:none">

          <md-select placeholder="{{currentlanguage.beneficiary_registration?.caste}}" [style.width]=" '100%'
                    " [(ngModel)]="caste" name="caste">
            <md-option *ngFor="let caste of communities" [value]="caste.communityID">
              {{caste.communityType}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>
        <!--       <div class="form-group">
        <label class="control-label" for="educationQualification" i18n>Select Education Qualification</label>
        <select class="form-control drop-arrow" name="educationQualification" [(ngModel)]="educationQualification">
                        <option *ngFor="let education of benEdus" value={{education.educationID}}>
                            {{education.educationType}}</option>
                    </select>
                  </div> -->            
      <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]=" '100%'">
          <input mdInput style="display:none">

          <md-select placeholder="{{currentlanguage.beneficiary_registration?.education}}" [style.width]=" '100%'
                    " [(ngModel)]="educationQualification" name="educationQualification">
            <md-option *ngFor="let education of benEdus" [value]="education.educationID">
              {{education.educationType}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>-->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--       <div class="form-group">
        <label class="control-label" for="state" i18n>Select State</label>
        <select class="form-control drop-arrow" name="state" [(ngModel)]="state" (change)="GetDistricts(state)">
                        <option *ngFor="let benState of states" value={{benState.stateID}}>
                            {{benState.stateName}}</option>
                    </select>
                  </div> -->
        <md-input-container class="hide_underline" [style.width]=" '100%'">
          <input mdInput style="display:none">

          <md-select required placeholder="{{currentlanguage.beneficiary_registration?.state}}" [style.width]=" '100%'
                    " [(ngModel)]="state" name="state" (change)="GetDistricts(state)" #stateSelected="ngModel" >
            <md-option *ngFor="let benState of states" [value]="benState.stateID">
              {{benState.stateName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="stateSelected.invalid && stateSelected.touched">
            <span class="error_text">Please select state </span>
          </md-hint>
        </md-input-container>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--       <div class="form-group">
        <label class="control-label" for="district" i18n>Select District</label>
        <select class="form-control drop-arrow" name="district" [(ngModel)]="district" (change)="GetTaluks(district)">
                        <option *ngFor="let benDistrict of districts" value={{benDistrict.districtID}}>
                            {{benDistrict.districtName}}</option>
                    </select>
                  </div> -->
        <md-input-container class="hide_underline" [style.width]=" '100%'">
          <input mdInput style="display:none">

          <md-select required placeholder="{{currentlanguage.beneficiary_registration?.district}}" [style.width]="
                    '100%'" [(ngModel)]="district" name="district" (change)="GetTaluks(district)" #citySelected="ngModel"
            (blur)="GetTaluks(district)">
            <md-option *ngFor="let benDistrict of districts" [value]="benDistrict.districtID">
              {{benDistrict.districtName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="citySelected.invalid && citySelected.touched">
            <span class="error_text">Please Select District </span>
          </md-hint>
        </md-input-container>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--       <div class="form-group">
        <label class="control-label" for="taluk" i18n>Taluk</label>
        <select class="form-control drop-arrow" name="taluk" [(ngModel)]="taluk" (change)="GetBlocks(taluk)">
                        <option *ngFor="let benTaluk of taluks" value={{benTaluk.blockID}}>
                            {{benTaluk.blockName}}</option>
                    </select>
                  </div> -->
        <md-input-container class="hide_underline" [style.width]=" '100%'">
          <input mdInput style="display:none">

          <md-select placeholder="{{currentlanguage.beneficiary_registration?.taluk}}" [style.width]=" '100%'
                    " [(ngModel)]="taluk" name="taluk" (change)="GetBlocks(taluk)">
            <md-option *ngFor="let benTaluk of taluks" [value]="benTaluk.blockID">
              {{benTaluk.blockName}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--       <div class="form-group">
        <label class="control-label" for="village" i18n>Panchayat/Village</label>
        <select class="form-control drop-arrow" name="village" [(ngModel)]="village">
                        <option *ngFor="let benBlock of blocks" value={{benBlock.districtBranchID}}>
                            {{benBlock.villageName}}</option>
                    </select>
                  </div> -->
        <md-input-container class="hide_underline" [style.width]=" '100%'">
          <input mdInput style="display:none">

          <md-select placeholder="{{currentlanguage.beneficiary_registration?.village}}" [style.width]=" '100%'
                    " [(ngModel)]="village" name="village">
            <md-option *ngFor="let benBlock of blocks" [value]="benBlock.districtBranchID">
              {{benBlock.villageName}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--       <div class="form-group">
        <label class="control-label" for="pincode" i18n>Pin code </label>
        <input type="text" class="form-control" placeholder="Enter Pincode" name="pincode" [(ngModel)]="pincode">
      </div> -->
        <md-input-container myMobileNumber [style.width]=" '100%'">
          <input mdInput placeholder="{{currentlanguage.beneficiary_registration?.pincode}}" minlength="6" maxlength="6" name="pincode
        " [(ngModel)]="pincode" #pin="ngModel">
        <md-hint>
          <span class="error_text" *ngIf="pin.errors?.minlength">Enter Valid Pincode</span>
        </md-hint>
        </md-input-container>
      </div>
      <div class="clearfix visible-md visible-sm"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <!--       <div class="form-group">
        <label class="control-label" for="PhoneNo">Alternate Number</label>
        <input type="text" class="form-control" placeholder="Enter PhoneNo" name="PhoneNo" [(ngModel)]="PhoneNo">
      </div> -->
        <md-input-container myMobileNumber [style.width]="'100%'">
          <input mdInput placeholder="{{currentlanguage.beneficiary_registration?.alternate_number}}" maxlength="10" name="PhoneNo"
            [(ngModel)]="PhoneNo">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-left">
        <!--       <div class="form-group">
        <label class="control-label" for="preferredLanguage" i18n>Select Preferred Language</label>
        <select class="form-control drop-arrow" name="preferredLanguage" [(ngModel)]="preferredLanguage">
                        <option *ngFor="let benLang of language" value={{benLang.languageID}}>
                            {{benLang.languageName}}</option>
                    </select>
                  </div> -->
        <md-input-container class="hide_underline" [style.width]=" '100%'">
          <input mdInput style="display:none">
          <md-select placeholder="{{currentlanguage.beneficiary_registration?.preferred_language}}" [style.width]="
                    '100%'" [(ngModel)]="preferredLanguage" name="preferredLanguage">
            <md-option *ngFor="let benLang of language" [value]="benLang.languageID">
              {{benLang.languageName}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>

      <div class="col-xs-12 col-sm-12 m-b-10" *ngIf="!updationProcess">
        <button md-raised-button color="primary" class="p-l-r-38 font-regular f-s-18"  (click)="capturePrimaryInfo()">{{currentlanguage.beneficiary_registration?.back}}</button>
        
        <button md-raised-button color="primary" [disabled]="BeneficaryForm.invalid || !stateSelected.valid || !citySelected.valid || pin.errors?.minlength" class="pull-right p-l-r-38 font-regular
                f-s-18" (click)="registerBeneficiary()">{{currentlanguage.beneficiary_registration?.generate}}</button>
                <button md-raised-button class="pull-right p-l-r-38 m-l-10 m-r-10 font-regular
                f-s-18" (click)="BeneficaryForm.reset()">{{currentlanguage.beneficiary_registration?.clear}}</button>
      </div>
      <div class="col-xs-12 col-sm-12 m-b-10" *ngIf="updationProcess">
        <button md-raised-button color="accent" class="p-l-r-38 font-regular f-s-18"  (click)="editBenPrimaryContent()">{{currentlanguage.beneficiary_registration?.back}}</button>
        <button md-raised-button [disabled]="BeneficaryForm.invalid || pin.errors?.minlength" color="primary" class="pull-right p-l-r-38 font-regular f-s-18" (click)="updateBeneficiary()">{{currentlanguage.beneficiary_registration?.update}}</button>
      </div>
    </div>
  </form>
</div>
<!-- </form> -->
<!-- </div> -->
