<div class="col-xs-12 col-sm-12">
  <div class="container-fluid p-a-0">
    <div class="row header">
      <div class="col-xs-12 col-sm-12">
        <div class="pull-left">
          <img src="assets/images/smLogo.png" alt="Logo" title="Logo">
        </div>
        <div class="pull-right p-t-1">
          <!-- <ul class="list-inline list-unstyled pull-left m-b-0">
            <li>
              <form action="" class="search-form">
                <div class="form-group has-feedback m-b-0 form-group-custome">
                  <label for="search" class="sr-only">Search</label>
                  <input type="text" class="form-control border-radius-20" name="search" id="search" placeholder="search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span> </div>
              </form>
            </li>
          </ul> -->
          <ul class="list-inline list-unstyled topIcon pull-right m-l-20  m-b-0">
            <li style="color: white"> Welcome {{userName}}</li>
            <li class="">
              <img src="assets/images/icon-user-active.png" class="cursorPointer" alt="User Icon" title="User Icon" [mdMenuTriggerFor]="menuNotification">
            </li>
            <md-menu #menuNotification x-position="before"  class="m-t-40"  >
              <md-list class="p-t-0">
                <md-list-item>
                  <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_circle</md-icon>
                  {{data.userName}}</md-list-item>
                <md-list-item class="b-t-1-w">ID: {{id}}-{{current_role}}-{{current_service}}</md-list-item>
              </md-list>
              </md-menu>
              <li class="help" alt="Help Icon" title="Help">
                <a class="">&nbsp;</a>
              </li>
              <li class="logout" (click)="logOut()" alt="Logout Icon" title="Logout">
                <a class="">&nbsp;</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div (click)="minimizeBar()">
    <iframe [src]="ctiHandlerURL" width="230px" height="350px" class="czenrix-bar" [hidden]="barMinimized" (click)="toggleBar()"></iframe>
    <!-- <iframe src="http://10.201.13.17/bar/cti_handler.php" width="230px" height="350px" class="czenrix-bar"></iframe> -->
    <!-- <iframe *ngIf="current_role.toLowerCase().trim()!=='supervisor'" [src]="ctiHandlerURL" width="230px" height="350px" class="czenrix-bar"
      [hidden]="barMinimized" (click)="toggleBar()"></iframe> -->
  </div>
  <footer class="footer">
    <div class="col-sm-4 col-xs-4">
      <span class="footer-text footer-text-height">Powered by: WIPRO</span>
    </div>
    <div class="col-sm-4 col-xs-4">
      <p class="footer-text t-a-c footer-text-height">2017
        <md-icon color="" class="copyright_icon">copyright</md-icon> PSMRI</p>
    </div>
    <div class="col-sm-4 col-xs-4">
      <button md-raised-button type="button" color="primary" class="footer-height pull-right" (click)="toggleBar()">CZentrix</button>
    </div>
  </footer>
  <!-- <router-outlet name="postLogin_router"></router-outlet> -->
</div>
