<div class="" (click)="minimizeBar()">
  <div class="container-fluid p-a-0" *ngIf="hideHeader">
    <div class="header navbar-fixed-top">
      <div class="col-xs-12 col-sm-12">
        <div class="pull-left">
          <img src="assets/images/smLogo.png" alt="Logo" title="Logo">
        </div>
        <label id="db_label" class="f-c-w f-s-15 p-t-5 m-l-150">{{label}}</label>
        <div class="pull-right p-t-1">
      
          <ul class="list-inline list-unstyled topIcon pull-right m-l-20  m-b-0">
             <!--Multilingual dropdown-->
             <span style="color: white;">{{currentLanguageSet?.selectLanguage}}:</span>
             <li>

             
              
                <select  class="form-control drop-arrow border-radius-20 height-35 " name="app_language"
                  [(ngModel)]="app_language" (change)="changeLanguage(app_language)">
                  <option *ngFor="let language of languageArray" [value]="language.languageName">{{language.languageName}}
                  </option>
                  
      
      
                </select>
            </li>  
               <!--END-Multilingual dropdown-->
            <li style="color: white">{{currentLanguageSet?.welcome}} {{userName}}</li>
            <li *ngIf="showContacts" class=""><img src="assets/images/callerIcon.png" (click)="showEmergencyContacts()" class="cursorPointer w85" alt="Contacts" mdTooltip="{{currentLanguageSet?.emergencyContacts}}"></li>
            <li *ngIf="showContacts && current_role==='CO'"><img src="assets/images/flagCallIcon.png" class="cursorPointer w85" (click)="agentForceLogout()" alt="ForceLogout" mdTooltip="{{currentLanguageSet?.forceLogout}}"></li>
           
            <li class="">
              <img src="assets/images/icon-user-active.png" class="cursorPointer" alt="User Icon" mdTooltip="{{currentLanguageSet?.userIcon}}" [mdMenuTriggerFor]="menuNotification">
            </li>
            <md-menu #menuNotification x-position="before"  class="m-t-40"  >
              <md-list class="p-t-0">
                <md-list-item>
                  <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_circle</md-icon>
                  {{data.userName}}</md-list-item>
                <md-list-item class="b-t-1-w">ID: {{id}}-{{current_role}}-{{current_service}}</md-list-item>
              </md-list>
              </md-menu>
           
              <li class="help">
                <span class="fa fa-question-circle helpAlign cursorPointer" alt="Help" mdTooltip="{{currentLanguageSet?.help}}" [mdMenuTriggerFor]="knowAboutUs"></span>
              </li>
              <md-menu #knowAboutUs x-position="before"  class="m-t-40">
                <md-list class="p-t-0">
                   <md-list-item class="cursorPointer" (click)="viewVersionDetails()">Version</md-list-item>
                  <md-list-item><a target="_blank" href={{licenseURL}} rel="noopener noreferrer">License Info.</a></md-list-item>
                </md-list>
                </md-menu>
              <li class="logout" (click)="logOut()" alt="Logout Icon" mdTooltip="{{currentLanguageSet?.logout}}">
                <a class="">&nbsp;</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  </div>
  <div (click)="minimizeBar()" *ngIf="hideBar">
    <iframe [src]="ctiHandlerURL" width="230px" height="380px" class="czenrix-bar" [hidden]="barMinimized" (click)="toggleBar()" title="Czentrix Bar"></iframe>
 
  </div>
  <footer class="footer noprint">
    <div class="col-sm-4 col-xs-4">
      <span class="footer-text footer-text-height">{{currentLanguageSet?.poweredByWipro}}</span>
    </div>
    <div class="col-sm-4 col-xs-4">
      <p class="footer-text t-a-c footer-text-height">2017
        <md-icon color="" class="copyright_icon">copyright</md-icon> PSMRI</p>
    </div>
    <div class="col-sm-4 col-xs-4" >
      <button *ngIf="(hideBar && (id != undefined || id != null))" md-raised-button type="button" color="primary" class="footer-height pull-right" (click)="toggleBar()">CZentrix</button>
    </div>
  </footer>


