<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-3 col-sm-3 col-md-3 clearfix"></div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <md-input-container style="width: 60%">
                <input type="text" mdInput placeholder="AgentName" [(ngModel)]="agent">
                <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true">search</md-icon>
            </md-input-container>
            <button md-raised-button (click)="findAgent(agent)">Search</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="col-xs-2 col-sm-2">
            <b>RECIPIENTS</b>
        </div>
        <div class="col-xs-10 col-sm-10">
            <md-chip-list>
                <md-chip *ngFor="let recipient of recipientArray;let i=index" color="primary" selected="true">{{recipient}}
                    <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="deleteRecipient(i)">cancel</md-icon>
                </md-chip>
                <!-- <md-chip>Two fish</md-chip>
            <md-chip color="primary" selected="true">Primary fish</md-chip>
            <md-chip color="accent" selected="true">Accent fish</md-chip> -->
            </md-chip-list>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 m-t-30">
        <label class="control-label" for="notificationMSG">Notification/Message</label>
        <textarea name="notification" class="form-control" rows="4 " id="notification" [(ngModel)]="notification" maxlength="500" (keyup)="updateCount()"></textarea><span id="count">0/500</span>
    </div>
    <div class="col-xs-12 col-sm-12">
        <button md-raised-button class="pull-right">Send</button>
    </div>
</div>
