<div class="col-xs-12 col-sm-12">
<div class="row">
    <!--<div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-3 col-sm-3 col-md-3 clearfix"></div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <md-input-container style="width: 60%">
                <input type="text" mdInput placeholder="AgentName" [(ngModel)]="agent">
                <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true">search</md-icon>
            </md-input-container>
            <button md-raised-button (click)="findAgent(agent)">Search</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="col-xs-2 col-sm-2">
            <b>RECIPIENTS</b>
        </div>
        <div class="col-xs-10 col-sm-10">
            <md-chip-list>
                <md-chip *ngFor="let recipient of recipientArray;let i=index" color="primary" selected="true">{{recipient}}
                    <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="deleteRecipient(i)">cancel</md-icon>
                </md-chip>-->
                <!-- <md-chip>Two fish</md-chip>
            <md-chip color="primary" selected="true">Primary fish</md-chip>
            <md-chip color="accent" selected="true">Accent fish</md-chip> -->
            <!--</md-chip-list>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 m-t-30">
        <label class="control-label" for="notificationMSG">Notification/Message</label>
        <textarea name="notification" class="form-control" rows="4 " id="notification" [(ngModel)]="notification" maxlength="500" (keyup)="updateCount()"></textarea><span id="count">0/500</span>
    </div>
    <div class="col-xs-12 col-sm-12">
        <button md-raised-button class="pull-right">Send</button>
    </div>-->

        <h4 >Notifications</h4>
        <form (ngSubmit)="onSubmit()" #notificationForm="ngForm">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <md-input-container class="hide_underline" [style.width]="'100%'">
                  <input mdInput style="display:none">
                        <md-select required [style.width]="'100%'" placeholder="Notification Type" name="notificationType" (change)="onChangeNotificationType($event)" ngModel  >
                    <md-option *ngFor="let notification of notificationTypes; let i=index" [value]="i">
                        {{ notification.notificationType }}
                    </md-option>
                </md-select>
        </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
                <md-select required [style.width]="'100%'" placeholder="Select Roles" [multiple]="true" name="roles" ngModel  >
                    <md-option *ngFor="let role of roleObjArray" [value]="role.RoleID">
                        {{ role.RoleName }}
                    </md-option>
                </md-select>
        </md-input-container>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-b m-b-7">
            <div class="form-group ">
                <md2-datepicker name="startDate" placeholder="Start Date" #startDate="ngModel" ngModel required [style.width]="'100%'"></md2-datepicker>
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 m-b-7">
            <div class="form-group ">
                <md2-datepicker name="endDate" placeholder="End Date" [min]="startDate.value" #endDate="ngModel" ngModel required [style.width]="'100%'"></md2-datepicker>
                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <md-input-container [style.width]="'100%'">
                    <input mdInput placeholder="Notification Subject" name="notificationSubject" ngModel required>
                </md-input-container>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <md-input-container [style.width]="'100%'">
                    <textarea mdInput rows="2" placeholder="Notification Message" name="notificationMessage" ngModel required></textarea>
                </md-input-container>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <button md-raised-button class="btn btn-primary pull-right m-l-15 m-b-20 m-t-15 c-b" [disabled]="!(notificationForm.valid) || error1 || error2" type="submit">Submit</button> 
                <label for="upload-file">Upload File(Size limit :{{maxFileSize}}MB)</label>
                <input type="file" accept="*" size="100" placeholder="Upload file" id="upload-file" (change)="onFileUpload($event)" name="file" ngModel #uploadfile="ngModel">
           
            <span class="help-block m-l-15" *ngIf="error1">Please choose a file for upload</span>
            <span class="help-block m-l-15" *ngIf="error2">File Size should not exceed {{maxFileSize}} MB</span>
            <span class="help-block m-l-15" *ngIf="(endDate.value < startDate.value) && endDate.dirty">End Date cannot be before Start Date!</span>
           </div>
        </form>

</div>
</div>