
    <div class="col-xs-12 col-sm-12">
      <div class="panel-body card p-a-0 bg-white m-b-40">
        <div class="container-fluid p-a-0">
          <div class=" b-t-2-w">
            <div id="myCarousel" class="carousel" data-ride="carousel" data-interval="false" data-wrap="false">
              <div class="carousel-inner">
                <div class="item active">
  <md-tab-group >
    <md-tab label="{{currentLanguageSet?.outboundWorklist}}">
      <app-outbond-worklist></app-outbond-worklist>
    </md-tab>
    <md-tab label="{{currentLanguageSet?.everwellOutboundWorkList}}">
      <app-everwell-outbound-worklist></app-everwell-outbound-worklist>
    </md-tab>
  </md-tab-group>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
