<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-t-lg-2 p-l-sm-2 p-r-sm-2 p-r-lg-1">
  <div id="uc" class="bg-fa">
    <div class="panel-heading">
      <span class="pull-left f-s-18">Activity for this week </span>
      <span class="pull-right">
        <i class="fa fa-times f-c-82 cursorPointer" aria-hidden="true" (click)="close()">
        </i>
      </span>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 bg-white height-160 m-t-5">
        <ul class="list-unstyled">
          <li title="Activity 1">Activity 1</li>
          <div  *ngIf="(role==='CO') && (this.getCommonData.current_campaign == 'OUTBOUND' )">
            <li>
              <a routerLink="/MultiRoleScreenComponent/InnerpageComponent"  routerLinkActive="active">Outbond Worklist</a>
            </li>
      </div>
      </ul>
    </div>
  </div>
  <div class="panel-footer animate-show border-none">

    <div class="clearfix"></div>
  </div>
</div>
</div> -->

<div class="panel panel-default m-b-10">
	<div class="panel-heading p-t-b-3 f-s-16 bg-white">{{currentLanguageSet?.activityForThisWeek}}<span class="pull-right"><img src="assets/images/activityIcon.png" alt="Activity"></span></div>
	<div class="panel-body">
		<!-- <ol class="p-l-15" *ngIf="this.getCommonData.current_campaign != 'OUTBOUND'">
			<li>Outbound Worklist</li>
			<li>Surveryor Worklist</li>
			<li>Outbound Worklist</li>
			<li>Surveryor Worklist</li>
			<li>Outbound Worklist</li>
    </ol> -->
    <!-- <ul class="dots p-a-0" *ngIf="(role==='CO') && (this.getCommonData.current_campaign == 'OUTBOUND' )">
			<li><a routerLink="/MultiRoleScreenComponent/EverwellOutboundWorkList"  routerLinkActive="active">Everwell Outbound Worklist</a></li>
    </ul> -->
		<ul class="dots p-a-0" *ngIf="(role==='CO') && (this.getCommonData.current_campaign == 'OUTBOUND' )">
			<li><a style="cursor: pointer" (click)="agentLoginStatus()">{{currentLanguageSet?.outboundWorklist}}</a></li>
    </ul>
    <div class="row">         
      <div class="col-xs-3 col-sm-3 m-t-10">
        <ul class="dots p-a-0">
        <li>{{currentLanguageSet?.trainingResource}}</li>
        </ul>
      </div>
      <div class="col-xs-9 col-sm-9">
        <ul class="p-t-10 p-l-15 list-unstyled">
        <li data-toggle="modal" data-target="#alert" class="pull-left cursorPointer" (click)="openTrainingDialog()"><i class="fa fa-book f-s-20 m-t--8 pull-left f-c-g" aria-hidden="true"></i><div *ngIf="training_resource_count" class="w-h-20x20 border-radius-50 pull-left m-t--8 m-l--18 text-center f-c-w f-s-12 p-t-2" >{{training_resource_count}}</div></li>
        </ul>
      </div>         
    </div>
		<label class="f-s-12 pull-right m-b-0" *ngIf="this.getCommonData.current_campaign != 'OUTBOUND'"><a>{{currentLanguageSet?.moreWithDot}}</a></label>
	</div>
</div>