<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-t-lg-2 p-l-sm-2 p-r-sm-2 p-r-lg-1">
  <div id="uc" class="bg-fa">
    <div class="panel-heading">
      <span class="pull-left f-s-18">Activity for this week </span>
      <span class="pull-right">
        <i class="fa fa-times f-c-82 cursorPointer" aria-hidden="true" (click)="close()">
        </i>
      </span>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 bg-white height-160 m-t-5">
        <ul class="list-unstyled">
          <li title="Activity 1">Activity 1</li>
          <div  *ngIf="(role==='CO') && (this.getCommonData.current_campaign == 'OUTBOUND' )">
            <li>
              <a routerLink="/MultiRoleScreenComponent/InnerpageComponent"  routerLinkActive="active">Outbond Worklist</a>
            </li>
      </div>
      </ul>
    </div>
  </div>
  <div class="panel-footer animate-show border-none">

    <div class="clearfix"></div>
  </div>
</div>
</div> -->

<div class="panel panel-default m-b-10">
	<div class="panel-heading p-t-b-3 f-s-16 bg-white">Activity for this week <span class="pull-right"><img src="assets/images/activityIcon.png" alt="Activity"></span></div>
	<div class="panel-body">
		<ol class="p-l-15" *ngIf="campaign != 'OUTBOUND'">
			<li>Outbound Worklist</li>
			<li>Surveryor Worklist</li>
			<li>Outbound Worklist</li>
			<li>Surveryor Worklist</li>
			<li>Outbound Worklist</li>
		</ol>
		<ol class="p-l-15" *ngIf="(role==='CO') && (campaign== 'OUTBOUND' )">
			<li><a routerLink="/MultiRoleScreenComponent/InnerpageComponent"   routerLinkActive="active">Outbound Worklist</a></li>
		</ol>
		<label class="f-s-12 pull-right m-b-0" *ngIf="campaign != 'OUTBOUND'"><a>More...</a></label>
	</div>
</div>