<div class="container-fluid">
  <h2 md-dialog-title>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">Feedback Response/Request</div>
      <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4"></div>
      <div class="pull-right">
        <button md-icon-button class="closeBtn" md-dialog-close>
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>

  </h2>
  <md-dialog-content>
    <div class="row">
      <div class="col-md-12 col-lg-12" *ngIf="false">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>FeedBack Request ID</th>
              <th>Comments</th>
              <th>Email Status</th>
              <th>Email Status Description</th>
            </tr>
          </thead>
          <!-- <tbody> -->

          <tbody *ngFor="let feedBackRequest of feedBackRequests">
            <!-- <tbody> -->
            <tr style="cursor:pointer" (click)="showResponse($event)">
              <td>{{feedBackRequest.feedbackRequestID}}</td>
              <td>{{feedBackRequest.comments}}</td>
              <td>{{feedBackRequest.emailStatus?.emailStatus}}</td>
              <td>{{feedBackRequest.emailStatus?.emailStatusDesc}}</td>
            </tr>
            <!-- <ng-container *ngIf="feedBackResponse.feedbackRequestID==feedBackRequest.feedbackRequestID"> -->
            <tr *ngFor="let feedBackResponse of feedBackResponses" [collapse]="isCollapsedResponse">
              <td>{{feedBackResponse.feedbackRequestID}}</td>
              <td>{{feedBackResponse.comments}}</td>
            </tr>
            <!-- </ng-container> -->
            <!-- <tr >
              <td>feedbackRequestID</td>
              <td>comments</td>
              <td>emailStatus</td> 
              <td>emailStatus</td>
            </tr> -->
          </tbody>
          <!-- </tbody> -->
          <tfoot>
          </tfoot>
        </table>
        <p class="pull-right">Total no of Request : {{totalRecord}} </p>
      </div>
      <div class="col-md-12 col-lg-12">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>FeedBack Request ID</th>
              <th>Feedback Description</th>
              <th>Supervisor Comments</th>
              <th>Response Received</th>
              <th>Response Attachment</th>
              <th>Last Feedback Status</th>
              <th>Email Status</th>
              <th>Forwarded By</th>
              <th>Forwarded Date</th>
              <th>Updated By</th>
              <th>Updated Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="consolidatedRequests?.length==0">
              <td class="record-not-found" colspan="11">
                No records found
              </td>
            </tr>
            <tr *ngFor=" let feedBackRequest of consolidatedRequests ">
              <td>{{feedBackRequest.feedbackRequestID}}</td>
              <td>{{feedBackRequest.feedbackSupSummary}}</td>
              <td>{{feedBackRequest.comments}}</td>
              <td>{{feedBackRequest.responseComments}}</td>
              <td>
                <p *ngIf="feedBackRequest.attachmentPath">
                  <a href="{{feedBackRequest?.attachmentPath}}" target="_blank">{{feedBackRequest.kmFileManager?.fileName}}</a>
                </p>
              </td>
              <td>{{feedbackStatusName}}</td>
              <td>{{feedBackRequest.emailStatus?.emailStatus}}</td>
              <td>{{feedBackRequest.createdBy}}</td>
              <td>{{millisToUTCDate(feedBackRequest.createdDate) | date:'dd/MM/yyyy hh:mm'}}</td>
              <td>{{feedBackRequest.responseUpdatedBy}}</td>
              <td>{{feedBackRequest.responseDate?(millisToUTCDate(feedBackRequest.responseDate) | date:'dd/MM/yyyy hh:mm'):""}}</td>
            </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>
  </md-dialog-content>
  <div class="pull-right" style="padding:10px;">
    <button  md-raised-button color="primary" class="closeBtn" md-dialog-close>Close</button>   
  </div>
</div>