<div class="container-fluid">
  <h2 md-dialog-title>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">{{currentLanguageSet?.feedbackResponse/request}}</div>
      <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4"></div>
      <div class="pull-right">
        <button md-icon-button class="closeBtn" md-dialog-close>
          <span class="material-icons">{{currentLanguageSet?.close}}</span>
        </button>
      </div>
    </div>

  </h2>
  <md-dialog-content>
    <div class="row">
      <div class="col-md-12 col-lg-12" *ngIf="false">
        <table class="table table-responsive table-striped" aria-describedby="feedbackStatusDetails">
          <thead>
            <tr>
              <th id="feedbackRequestID">{{currentLanguageSet?.feedbackRequestId}}</th>
              <th id="comments">{{currentLanguageSet?.comments}}</th>
              <th id="emailStatus">{{currentLanguageSet?.emailStatus}}</th>
              <th id="emailStatusDescription">{{currentLanguageSet?.emailStatusDescription}}</th>
            </tr>
          </thead>

          <tbody *ngFor="let feedBackRequest of feedBackRequests">
            <tr style="cursor:pointer" (click)="showResponse($event)">
              <td>{{feedBackRequest.feedbackRequestID}}</td>
              <td>{{feedBackRequest.comments}}</td>
              <td>{{feedBackRequest.emailStatus?.emailStatus}}</td>
              <td>{{feedBackRequest.emailStatus?.emailStatusDesc}}</td>
            </tr>
            <tr *ngFor="let feedBackResponse of feedBackResponses" [collapse]="isCollapsedResponse">
              <td>{{feedBackResponse.feedbackRequestID}}</td>
              <td>{{feedBackResponse.comments}}</td>
            </tr>
           
          </tbody>
       
          <tfoot>
          </tfoot>
        </table>
        <p class="pull-right">{{currentLanguageSet?.totalNoOfRequest}} : {{totalRecord}} </p>
      </div>
      <div class="col-md-12 col-lg-12">
        <table class="table table-responsive table-striped" aria-describedby="feedbackDetails">
          <thead>
            <tr>
              <th id="feedbackRequestID">{{currentLanguageSet?.feedbackRequestId}}</th>
              <th id="feedbackDescription">{{currentLanguageSet?.feedbackDescription}}</th>
              <th id="supervisorComments">{{currentLanguageSet?.supervisorComments}}</th>
              <th id="responseReceived">{{currentLanguageSet?.responseReceived}}</th>
              <th id="responseAttachment">{{currentLanguageSet?.responseAttachment}}</th>
              <th id="lastFeedbackStatus">{{currentLanguageSet?.lastFeedbackStatus}}</th>
              <th id="emailStatus">{{currentLanguageSet?.emailStatus}}</th>
              <th id="forwardedBy">{{currentLanguageSet?.forwardedBy}}</th>
              <th id="forwardedDate">{{currentLanguageSet?.forwardedDate}}</th>
              <th id="updatedBy">{{currentLanguageSet?.updatedBy}}</th>
              <th id="updatedDate">{{currentLanguageSet?.updatedDate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="consolidatedRequests?.length==0">
              <td class="record-not-found" colspan="11">
                {{currentLanguageSet?.noRecordsFound}}
              </td>
            </tr>
            <tr *ngFor=" let feedBackRequest of consolidatedRequests ">
              <td>{{feedBackRequest.feedbackRequestID}}</td>
              <td>{{feedBackRequest.feedbackSupSummary}}</td>
              <td>{{feedBackRequest.comments}}</td>
              <td>{{feedBackRequest.responseComments}}</td>
              <td>
                <p *ngIf="feedBackRequest.attachmentPath">
                  <a href="{{feedBackRequest?.attachmentPath}}" target="_blank">{{feedBackRequest.kmFileManager?.fileName}}</a>
                </p>
              </td>
              <td>{{feedbackStatusName}}</td>
              <td>{{feedBackRequest.emailStatus?.emailStatus}}</td>
              <td>{{feedBackRequest.createdBy}}</td>
              <td>{{millisToUTCDate(feedBackRequest.createdDate) | date:'dd/MM/yyyy hh:mm'}}</td>
              <td>{{feedBackRequest.responseUpdatedBy}}</td>
              <td>{{feedBackRequest.responseDate?(millisToUTCDate(feedBackRequest.responseDate) | date:'dd/MM/yyyy hh:mm'):""}}</td>
            </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>
  </md-dialog-content>
  <div class="pull-right" style="padding:10px;">
    <button  md-raised-button color="primary" class="closeBtn" md-dialog-close>{{currentLanguageSet?.close}}</button>   
  </div>
</div>