<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="pull-left">
      <h4 class="f-s-b m-b-30">Blacklist A Number</h4>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-15">
    <md-checkbox color="primary" [(ngModel)]="searchByPhone" (change)="getBlackList($event)">Search By Phone Number </md-checkbox>
  </div>

  <div *ngIf="searchByPhone">
    <!--<div class="row">-->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <md-input-container [style.width]="'100%'" myMobileNumber>
        <input required minlength="5" maxlength="10" mdInput placeholder="Phone Number" [(ngModel)]="phoneNumber" #number="ngModel">
        <md-hint *ngIf="!number.valid">
          <span class="error_text" *ngIf=" number.dirty || number.touched ">Please Enter Phone Number</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-t-10">
      <button [disabled]="!number.valid" md-raised-button color="primary" (click)="addToBlockList()">Search</button>
    </div>
    <!--</div>-->
  </div>
</div>
<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 p-t-20">
    <div class="table-responsive">
      <table class="table table-responsive table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="5">
        <thead>
          <tr>
            <th>Phone Number</th>
            <th md2SortBy="isBlocked">Status</th>
            <th>Call Count</th>
            <th>Reason</th>
            <th>Blocked Till</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="md2.data.length < 1">
            <td colspan="6" class="t-a-c">
              <!-- <img src="assets/images/data_not_found.png" width="400" height="65"> -->
              No Records Found
            </td>
          </tr>
          <tr *ngFor="let blacklist of md2.data">
            <td>{{blacklist?.phoneNo}}</td>
            <td>{{blacklist?.isBlocked ? 'Blocked' : 'UnBlocked'}}</td>
            <td>{{blacklist?.noOfNuisanceCall ? ((blacklist.noOfNuisanceCall>0) ? blacklist.noOfNuisanceCall : 0): 0}}</td>
            <td>Nuisance Call</td>
            <td>{{blacklist?.isBlocked ? (millisToUTCDate(blacklist?.blockEndDate)|date: 'dd/MM/yyyy HH:mm'): ''}}</td>
            <td>
              <!--<button md-raised-button color="primary" *ngIf="blacklist.isBlocked" (click)="unblock(blacklist.phoneBlockID)">Unblock</button>
              <button md-raised-button color="primary" *ngIf="!blacklist.isBlocked" (click)="block(blacklist.phoneBlockID)">Block</button>-->
              <a style="cursor:pointer" *ngIf="blacklist.isBlocked" (click)="unblock(blacklist.phoneBlockID)">Unblock</a>
              <a style="cursor:pointer" *ngIf="!blacklist.isBlocked" (click)="block(blacklist.phoneBlockID)">Block</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
