<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
  <label><h4>BLACKLIST A NUMBER</h4></label>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <md-checkbox color="primary" [(ngModel)]="searchByPhone" (change)="getBlackList($event)">Search by Phone Number </md-checkbox>
  </div>
</div>
<div *ngIf="searchByPhone">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

      <md-input-container [style.width]="'100%'" myMobileNumber>
        <input required minlength="10" maxlength="10" mdInput placeholder="Phone Number" [(ngModel)]="phoneNumber" #number="ngModel">
        <md-hint *ngIf="!number.valid">
          <span class="error_text" *ngIf=" number.dirty || number.touched ">Please enter phone number</span>
        </md-hint>
      </md-input-container>
    </div>
    <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md2-datepicker [max]="maxDate" [style.width]="'100%'" placeholder="Blocked Date" name="blockedDate" #blockDate [(ngModel)]="blockedDate"></md2-datepicker> -->
    <!-- <input mdInput [mdDatepicker]="picker" placeholder="Blocked Date" [(ngModel)]="blockedDate" (blur)="getBlockedTillDate(blockedDate)">
            <button mdSuffix [mdDatepickerToggle]="picker"></button> -->
    <!-- </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md2-datepicker [min]="blockDate.value" [max]="maxDate" [style.width]="'100%'" placeholder="Blocked Till" name="blockedTill"
        [(ngModel)]="blockedTill"></md2-datepicker> -->
    <!-- <input mdInput placeholder="Blocked Till" [disabled]="true" [(ngModel)]="blockedTill"> -->
    <!-- </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="Blocked By">
      </md-input-container>
    </div>
  </div> -->
    <!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="Reason" [style.width]="'100%'" [(ngModel)]="reason">
          <md-option value="1">
            Disconnected Call
          </md-option>
          <md-option value="2">
            Nuisance Call
          </md-option>
          <md-option value="3">
            Missed Call
          </md-option>
          <md-option value="4">
            Silent No Noise Calls
          </md-option>
          <md-option value="5">
            Silent Noise Calls
          </md-option>
          <md-option value="5">
            Noise Disturbance
          </md-option>
          <md-option value="6">
            Terminated Call
          </md-option>
          <md-option value="7">
            Wrong Call
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="Remarks">
      </md-input-container>
    </div> -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="Type" [style.width]="'100%'" [(ngModel)]="isBlockedType">
          <md-option [value]=true>
            Blocked
          </md-option>
          <md-option [value]=false>
            UnBlocked
          </md-option>
          <md-option [value]=undefined>
            All
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <button [disabled]="!number.valid" md-raised-button (click)="addToBlockList()">Search</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 p-t-20">
    <div class="table-responsive ">
      <table class="table">
        <thead>
          <tr>
            <th>Phone Number</th>
            <th>Status</th>
            <!-- <th>Block Date</th>
            <th>Unblock Date</th> -->
            <th>Reason</th>
            <!-- <th>Agent</th> -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer;" *ngFor="let blacklist of blackList">
            <td>{{blacklist.phoneNo}}</td>
            <td>{{blacklist.isBlocked ? 'Blocked' : 'UnBlocked'}}</td>
            <!-- <td>24/06/2017</td>
            <td>31/06/2017</td> -->
            <td>Nuisence Call</td>
            <!-- <td>Neeraj</td> -->
            <td>
              <button class="btn btn-success" *ngIf="blacklist.isBlocked" (click)="unblock(blacklist.phoneBlockID)">Unblock</button>
              <button class="btn" *ngIf="!blacklist.isBlocked" (click)="block(blacklist.phoneBlockID)">Block</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>