<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="pull-left">
      <h4 class="f-s-b m-b-10 m-t-20">{{assignSelectedLanguageValue?.blacklistANumber}}</h4>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
    <md-checkbox color="primary" [(ngModel)]="searchByPhone" (change)="getBlackList($event)">{{assignSelectedLanguageValue?.searchByPhoneNumber}}</md-checkbox>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" [hidden]="!searchByPhone">
    <md-input-container [style.width]="'100%'" myMobileNumber>
      <input required minlength="5" maxlength="10" mdInput placeholder="{{assignSelectedLanguageValue?.phoneNumber}}" [(ngModel)]="phoneNumber" #number="ngModel">
      <md-hint *ngIf="!number.valid">
        <span class="error_text" *ngIf=" number.dirty || number.touched ">{{assignSelectedLanguageValue?.pleaseEnterPhoneNumber}}</span>
      </md-hint>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-t-10" [hidden]="!searchByPhone">
    <button class="hidden-sm hidden-xs" [disabled]="!number.valid" md-raised-button color="accent" (click)="addToBlockList()">{{assignSelectedLanguageValue?.search}}</button>
    <button class="visible-sm visible-xs pull-right" [disabled]="!number.valid" md-raised-button color="accent" (click)="addToBlockList()">{{assignSelectedLanguageValue?.search}}</button>
  </div>
</div>
<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 p-t-20">
    <div class="table-responsive">
      <table class="table table-responsive table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="5" aria-describedby="adminDetails">
        <thead>
          <tr>
            <th id="phoneNumber">{{assignSelectedLanguageValue?.phoneNumber}}</th>
            <th md2SortBy="isBlocked" id="status">{{assignSelectedLanguageValue?.status}}</th>
            <th id="callCount">{{assignSelectedLanguageValue?.callCount}}</th>
            <th id="reason">{{assignSelectedLanguageValue?.reason}}</th>
            <th id="blockedOn">{{assignSelectedLanguageValue?.blockedOn}}</th>
            <th id="blockedTill">{{assignSelectedLanguageValue?.blockedTill}}</th>
            <th id="action">{{assignSelectedLanguageValue?.action}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="md2.data.length < 1">
            <td colspan="7" class="record-not-found">
              {{assignSelectedLanguageValue?.noRecordsFound}}
            </td>
          </tr>
          <tr *ngFor="let blacklist of md2.data">
            <td>{{blacklist?.phoneNo}}</td>
            <td>{{blacklist?.isBlocked ? 'Blocked' : 'UnBlocked'}}</td>
            <td style="cursor: pointer">
              <a (click)="getRecording(blacklist)">{{blacklist?.noOfNuisanceCall ? ((blacklist.noOfNuisanceCall>0) ? blacklist.noOfNuisanceCall : 0): 0}}</a>
            </td>
            <td>Nuisance Call</td>
            <td>{{blacklist?.isBlocked ? (millisToUTCDate(blacklist?.blockStartDate)|date: 'dd/MM/yyyy hh:mm a'): ''}}</td>
            <td>{{blacklist?.isBlocked ? (millisToUTCDate(blacklist?.blockEndDate)|date: 'dd/MM/yyyy hh:mm a'): ''}}</td>
            <td>
              <a style="cursor:pointer" *ngIf="blacklist.isBlocked" (click)="unblock(blacklist.phoneBlockID)">Unblock</a>
              <a style="cursor:pointer" *ngIf="!blacklist.isBlocked" (click)="block(blacklist.phoneBlockID)">Block</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
      <hr class="m-t-10" *ngIf="showRecordings">
      <h4 class="pull-left" *ngIf="showRecordings">{{assignSelectedLanguageValue?.callRecordingsfor}}
        <strong>{{ph_no}}</strong>
      </h4>
      <table *ngIf="showRecordings" class="table table-responsive table-striped m-t-10" [md2Data]="recording_data" #md2="md2DataTable"
        [rowsPerPage]="5" aria-describedby="recordingDetails">
        <thead>
          <tr>
            <th id="beneficiaryID">{{assignSelectedLanguageValue?.beneficiaryId}}</th>
            <th id="beneficiaryName">{{assignSelectedLanguageValue?.beneficiaryName}}</th>
            <th id="age">{{assignSelectedLanguageValue?.age}}</th>
            <th id="phoneNumber">{{assignSelectedLanguageValue?.phoneNumber}}</th>
            <th id="callId">{{assignSelectedLanguageValue?.callId}}</th>
            <th id="callTime">{{assignSelectedLanguageValue?.callTime}}</th>
            <th id="agentID">{{assignSelectedLanguageValue?.agentId}}</th>
            <th id="remarks">{{assignSelectedLanguageValue?.remarks}}</th>
            <th id="audioRecording">{{assignSelectedLanguageValue?.audioRecording}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="md2.data.length < 1">
            <td colspan="9" class="record-not-found">
              {{assignSelectedLanguageValue?.noRecordsFound}}
            </td>
          </tr>
          <tr *ngFor="let item of md2.data">
            <td>{{item?.beneficiaryModel?.beneficiaryID?item.beneficiaryModel.beneficiaryID:'-'}}</td>
            <td>{{item?.beneficiaryModel?.firstName?item.beneficiaryModel.firstName:'-'}} {{item?.beneficiaryModel?.lastName?item.beneficiaryModel.lastName:'-'}}</td>
            <td>{{item?.beneficiaryModel?.actualAge?item.beneficiaryModel.actualAge:'-'}} {{item?.beneficiaryModel?.ageUnits?item.beneficiaryModel.ageUnits:'-'}}</td>
            <td>{{item?.phoneNo}}</td>
            <td>{{item?.benCallID}}</td>
            <td>{{item?.callTime ? (millisToUTCDate(item?.callTime)|date: 'dd/MM/yyyy hh:mm a'): ''}}</td>
            <td>{{item?.agentID}}</td>
            <td>{{item?.remarks?item.remarks:'-'}}</td>
            <td>
              <audio controls>
                <source src="{{item?.recordingPath}}" type="audio/ogg">
                <source src="{{item?.recordingPath}}" type="audio/mpeg">
              </audio>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>