<form id="otherDetailsForm" #Form="ngForm" (ngSubmit)="updateBeneficiary(Form.value);" autocomplete="off">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label class="pull-left">
          <h4 class="f-s-b m-b-10 m-t-20">{{currentLanguageSet?.otherDetails}}</h4>
        </label>
      </div>
     
      <div class="form-group">
        <input type="hidden" class="form-control" id="beneficiaryRegID" name="beneficiaryRegID" [(ngModel)]="beneficiaryRegID">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
      

          <md-select placeholder="{{currentLanguageSet?.occupation}}" [style.width]="'100%'" [(ngModel)]="occupationIDs"
            name="occupationIDs">
            <md-option *ngFor="let occupation of occupations" [value]="occupation.occupationID">

              {{occupation.occupationType}}
            </md-option>
          </md-select>
        
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
       

          <md-select placeholder="{{currentLanguageSet?.qualification}}" [style.width]="'100%'" [(ngModel)]="educationIDs"
            name="educationIDs">
            <md-option *ngFor="let educationQualification of educationQualifications" [value]="educationQualification.educationID">

              {{educationQualification.educationType}}
            </md-option>
          </md-select>
        
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
     

          <md-select placeholder="{{currentLanguageSet?.sexualOrientation}}" [style.width]="'100%'" [(ngModel)]="sexualOrientationID"
            name="sexualOrientationID">
            <md-option *ngFor="let sexualOrientation of sexualOrientations" [value]="sexualOrientation.sexualOrientationId">

              {{sexualOrientation.sexualOrientation}}
            </md-option>
          </md-select>
        
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      
        <md-input-container [style.width]="'100%'">
          <input mdInput textAreaValidator  placeholder="{{currentLanguageSet?.workPlace}}" maxlength="25" name="placeOfWork" [(ngModel)]="placeOfWork">
        </md-input-container>
      </div>
      <div class="clearfix visible-lg"></div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 m-b-20">
     
        <md-input-container [style.width]="'100%'">
          <textarea textAreaValidator  mdInput placeholder="{{currentLanguageSet?.remarks}}" rows="1" name="remarks" maxlength="300" [(ngModel)]="remarks"
            maxlength="300" (keyup)="updateCount()"></textarea>
          <md-hint>
            <span>{{count}}</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  p-b-1-5">
       


      
          <md-select placeholder="{{currentLanguageSet?.hivQuestion}} {{currentLanguageSet?.hivQuestionCondition}}"
            [style.width]="'100%'" [(ngModel)]="isHIVPos" name="isHIVPos">
            <md-option value="yes">Yes</md-option>
            <md-option value="no">No</md-option>
            <md-option value="">Not disclosed</md-option>
          </md-select>
         
      </div>
      <div class="clearfix visible-lg"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-b-1-5">
      

          <md-select multiple placeholder="{{currentLanguageSet?.feedbackQuestion}}" [style.width]="'100%'" [(ngModel)]="cameToKnowFrom"
            name="cameToKnowFrom" (change)="checkInCaseNotDisclosed(cameToKnowFrom)">
            <md-option *ngFor="let source of sourceOfInfo" [disabled]="source.disabled" value="{{source.value}}">

              {{source.name}}
            </md-option>
          </md-select>
        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b-10 p-t-lg-15">
        <button type="submit" md-raised-button color="accent" class="pull-right p-l-r-38 font-regular" [disabled]="!Form.dirty">{{currentLanguageSet?.update}}</button>
      </div>
    </div>

  </div>
</form>