<div>
  <div class="col-xs-12 col-sm-12">
    <h4>{{currentlanguage.information_service?.page_heading}}</h4>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select required placeholder="{{currentlanguage.information_service?.select_category}}" [style.width]="'100%'" [(ngModel)]="symptomCategory" name="symptomCategory" (change)="GetSubCategories(symptomCategory)" #category="ngModel">
        <md-option *ngFor="let symptomCategory of categoryList" value="{{symptomCategory.categoryID}}">
          {{symptomCategory.categoryName}}
        </md-option>
      </md-select>
      <md-hint>
        <span class="error_text"></span>
      </md-hint>
    </md-input-container>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select required placeholder="{{currentlanguage.information_service?.select_subcategory}}" [style.width]="'100%'" [(ngModel)]="symptomSubCategory" name="symptomSubCategory" #subCategory="ngModel">
        <md-option *ngFor="let symptomSubCategory of subCategoryList" value="{{symptomSubCategory.subCategoryID}}">
          {{symptomSubCategory.subCategoryName}}
        </md-option>
      </md-select>
      <md-hint>
        <span class="error_text"></span>
      </md-hint>
    </md-input-container>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-t-15">
    <button [disabled]="!category.valid || !subCategory.valid" type="button" class="btn cu-btn-default" (click)="GetSubCategoryDetails(symptomSubCategory)">{{currentlanguage.information_service?.get_details}}</button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="min-height-180 border-1-g" for="subCategoryDetails">
      <span *ngFor="let detail of detailsList">
            <a *ngIf="(detail?.subCatFilePath) && (detail?.subCatFilePath != null)" href="{{detail?.subCatFilePath}}" target="_blank">
                    {{detail?.subCategoryName}}:{{detail?.subCategoryDesc}}
            </a>
        </span>
    </div>
  </div>
</div>
