<router-outlet></router-outlet>
<footer class="footer">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <span class="footer-text">Powered by: WIPRO</span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <p class="footer-text t-a-c">2017
        <md-icon color="" class="copyright_icon">copyright</md-icon> PSMRI</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <button md-raised-button type="button" color="primary" class="footer-height pull-right" [hidden]="cZentrix">CZentrix</button>
    </div>
  </div>
</footer>
