

.sidebar-nav {
	position: relative;
	top: 0;
	width: 65px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	position: relative;
	line-height: 20px;
	display: inline-block;
	width: 100%;
	background:none !important;
}
.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: ;
	height: 100%;
	width: 3px;
	background-color: #1c1c1c;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}
.sidebar-nav li:first-child a {
	color: #fff;
	background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(2):before {
	background-color: #79aefe;
}
.sidebar-nav li:nth-child(3):before {
	background-color: #314190;
}
.sidebar-nav li:nth-child(4):before {
	background-color: #279636;
}
.sidebar-nav li:nth-child(5):before {
	background-color: #7d5d81;
}
.sidebar-nav li:nth-child(6):before {
	background-color: #ead24c;
}
.sidebar-nav li:nth-child(7):before {
	background-color: #2d2366;
}
.sidebar-nav li:nth-child(8):before {
	background-color: #35acdf;
}
.sidebar-nav li:hover:before, .sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}
.sidebar-nav li a {
	display: block;
	color: #828282;
	text-decoration: none;
	padding: 10px 15px 10px 30px;
	border-bottom: 2px solid #fff;
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 20px;
	line-height: 44px;
}
.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/


.search-form .form-group:hover, .search-form .form-group.hover {
	width: 100%;
	border-radius: 4px 25px 25px 4px;
}