<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
<!--     <div class="col-xs-12 col-sm-12">
        <h4>Feedback Services</h4>
      </div> -->
<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <label class="pull-left">Feedback Services </label>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label class="pull-left">
        <h4 class="f-s-b m-b-30">{{currentlanguage.feedback_service?.page_heading}}</h4>
      </label>
    </div>
  </div>
  <div class="row">
    <form id="feedbackForm" form="ngForm" *ngIf="showFormCondition">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">
          <md-select required #state="ngModel" placeholder="{{currentlanguage.feedback_service?.state}}" [style.width]="'100%'" [(ngModel)]="selected_state"
            name="state" (change)="GetDistricts(selected_state)">
            <md-option *ngFor="let state of states" [value]="state.stateID">
              {{state.stateName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="(state.invalid && (state.dirty || state.touched))">
            <span class="error_text">State is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--                 <div class="form-group">
                    <label class="control-label" for="district1">District</label>
                    <select class="form-control drop-arrow ng-pristine ng-untouched ng-valid ng-empty" name="district" [(ngModel)]="selected_district"
                        (change)="GetTaluks(selected_district)">
                            <option *ngFor="let district of districts" value="{{district.districtID}}">{{district.districtName}}</option>
                        </select>
                      </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">
          <md-select required #district="ngModel" placeholder="{{currentlanguage.feedback_service?.district}}" [style.width]="'100%'"
            [(ngModel)]="selected_district" name="district" (change)="GetTaluks(selected_district)">
            <md-option *ngFor="let district of districts" [value]="district.districtID">
              {{district.districtName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="district.invalid && (district.dirty || district.touched)">
            <span class="error_text">District is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--                 <div class="form-group">
                    <label class="control-label" for="taluk1">Taluk</label>
                    <select class="form-control drop-arrow ng-pristine ng-untouched ng-valid ng-empty" name="taluk" [(ngModel)]="selected_taluk"
                        (change)="GetBlocks(selected_taluk)">
                            <option *ngFor="let taluk of taluks" value="{{taluk.blockID}}">{{taluk.blockName}}</option>
                        </select>
                      </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">
          <md-select placeholder="{{currentlanguage.feedback_service?.taluk}}" [style.width]="'100%'" [(ngModel)]="selected_taluk"
            name="taluk" (change)="GetBlocks(selected_taluk)">
            <md-option *ngFor="let taluk of taluks" [value]="taluk.blockID">
              {{taluk.blockName}}
            </md-option>
          </md-select>
          <md-hint>
            <span class="error_text"></span>
          </md-hint>
        </md-input-container>
      </div>
      <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> -->
      <!--                 <div class="form-group">
                    <label class="control-label" for="sdt">Sub-District/Taluka/Block</label>
                    <select class="form-control drop-arrow ng-pristine ng-untouched ng-valid ng-empty" name="sdtb" [(ngModel)]="selected_sdtb"
                        (change)="GetInstitutes()">
                            <option *ngFor="let block of blocks" value="{{block.districtBranchID}}">{{block.villageName}}</option>
                        </select>
                      </div> -->
      <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput class="display_none">
        <md-select placeholder="{{currentlanguage.feedback_service?.village}}" [style.width]="'100%'" [(ngModel)]="selected_sdtb"
          name="sdtb">
          <md-option *ngFor="let block of blocks" [value]="block.districtBranchID">
            {{block.villageName}}
          </md-option>
        </md-select>
        <md-hint>
          <span class="error_text"></span>
        </md-hint>
      </md-input-container>
    </div> -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--                 <div class="form-group has-label">
                    <label class="control-label" for="whatInformation">Institution Name</label>
                    <select class="form-control drop-arrow ng-pristine ng-untouched ng-valid ng-empty" name="institutionName" [(ngModel)]="selected_institution">
                            <option *ngFor="let institute of institutes" value="{{institute.institutionID}}">{{institute.institutionName}}</option>
                        </select>
                      </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">
          <md-select placeholder="{{currentlanguage.feedback_service?.institution}}" [style.width]="'100%'" [(ngModel)]="selected_institution"
            name="institutionName">
            <md-option *ngFor="let institute of institutes" [value]="institute.institutionTypeID">
              {{institute.institutionType}}
            </md-option>
          </md-select>
          <!-- <md-hint *ngIf="instituteVar.invalid && (instituteVar.dirty || instituteVar.touched)">
        <span class="error_text">Institute is required</span>
      </md-hint> -->
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--                 <div class="form-group">
                    <label class="control-label" for="designation">Designation</label>
                    <select class="form-control drop-arrow ng-pristine ng-untouched ng-valid ng-empty" name="designation" [(ngModel)]="selected_designation">
                            <option *ngFor="let designation of designations" value="{{designation.designationID}}">{{designation.designationName}}</option>
                        </select>
                      </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">
          <md-select required #desgVar="ngModel" placeholder="{{currentlanguage.feedback_service?.designation}}" [style.width]="'100%'"
            [(ngModel)]="selected_designation" name="designation">
            <md-option *ngFor="let designation of designations" [value]="designation.designationID">
              {{designation.designationName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="desgVar.invalid && (desgVar.dirty || desgVar.touched)">
            <span class="error_text">Designation is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--                 <div class="form-group">
                    <label class="control-label" for="FeedbackType">Type of feedback</label>
                    <select class="form-control drop-arrow ng-pristine ng-untouched ng-valid ng-empty" name="feedbackType" [(ngModel)]="selected_feedbackType">
                      <option *ngFor="let feedbackType of feedbackTypes" value="{{feedbackType.feedbackTypeID}}">{{feedbackType.feedbackTypeName}}</option> -->
        <!--<option value="Complaint">Complaint</option>
                            <option value="Grievience">Grievience</option>-->
        <!--                         </select>
</div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">
          <md-select required #feedVar="ngModel" placeholder="{{currentlanguage.feedback_service?.feedback_type}}" [style.width]="'100%'"
            [(ngModel)]="selected_feedbackType" name="feedbackType">
            <md-option *ngFor="let feedbackType of feedbackTypes" [value]="feedbackType.feedbackTypeID">
              {{feedbackType.feedbackTypeName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="feedVar.invalid && (feedVar.dirty || feedVar.touched)">
            <span class="error_text">Type is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--                 <div class="col-md-8 col-lg-8">
                        <div class="form-group">
                            <label class="control-label" for="DOI">Date of Incidence</label>
                            <input class="form-control" [mdDatepicker]="picker" placeholder="DOI" [(ngModel)]="selected_doi">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 m-t-25">
                        <button mdPrefix [mdDatepickerToggle]="picker"></button>
                        <md-datepicker #picker></md-datepicker>
                      </div> -->
        <!-- <div class="form-group"> -->
        <!--   <label class="control-label" for="dOB" i18n>DOB</label> -->
        <md2-datepicker (keydown)="keyblock($event)" [max]="maxDate" [style.width]="'100%'" placeholder="{{currentlanguage.feedback_service?.incident_date}}"
          name="incidentdate" [(ngModel)]="selected_doi"></md2-datepicker>
        <!-- </div> -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--                 <div class="form-group">
                    <label class="control-label" for="severity">Severity</label>
                    <select class="form-control drop-arrow ng-pristine ng-untouched ng-valid ng-empty" name="severity" [(ngModel)]="selected_severity">
                            <option *ngFor="let feedbackSeverity of feedbackSeverities" value="{{feedbackSeverity.severityID}}">{{feedbackSeverity.severityTypeName}}</option>
                        </select>
                      </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">
          <md-select required #severityVar="ngModel" placeholder="{{currentlanguage.feedback_service?.severity}}" [style.width]="'100%'"
            [(ngModel)]="selected_severity" name="severity">
            <md-option *ngFor="let feedbackSeverity of feedbackSeverities" [value]="feedbackSeverity.severityID">
              {{feedbackSeverity.severityTypeName}}
            </md-option>
          </md-select>
          <md-hint *ngIf="severityVar.invalid && (severityVar.dirty || severityVar.touched)">
            <span class="error_text">Severity is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!--                 <label class="control-label" for="feedbackDesc">Feedback Description</label>
                <textarea name="feedback" class="form-control" rows="3" id="feedbackDescription" [(ngModel)]="feedbackDescription" maxlength="300"
                    (keyup)="updateCount()"></textarea>
                    <span>{{count}}</span> -->
        <md-input-container [style.width]="'100%'">
          <textarea required #descVar="ngModel" mdInput placeholder="{{currentlanguage.feedback_service?.feedback_description}}" rows="2"
            name="feedback" [(ngModel)]="feedbackDescription" maxlength="300" (keyup)="updateCount()"></textarea>
          <md-hint *ngIf="descVar.invalid && (descVar.dirty || descVar.touched)">
            <span class="error_text">Description is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <!--<button type="button" class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 m-b-15
              " id="" (click)="submitFeedback(feedbackForm.value)">Register</button>-->
        <button type="button" md-raised-button color="primary" class="pull-right font-regular f-s-18 m-t-15
              " (click)="submitFeedback();form.reset()" [disabled]="state.invalid || district.invalid ||  desgVar.invalid || feedVar.invalid || severityVar.invalid || descVar.invalid">{{currentlanguage.feedback_service?.register}}</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <button type="button" md-raised-button color="accent" class="pull-left font-regular f-s-18 m-t-15
          
                        " (click)="showTable()">{{currentlanguage.feedback_service?.back}}</button>
      </div>
      <!-- </div> -->
      <!--</form>-->
    </form>

    <!-- <div class="bg-white p-t-20 m-t-10" > -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showTableCondition">
      <!-- <h5 class="f-s-b m-b-20"><strong>{{currentlanguage.feedback_service?.table_labels?.table_heading}}</strong></h5> -->
      <div class="table-responsive">
        <table class="table table-responsive table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="3">
          <thead>
            <tr>
              <!-- <th width="20">
                            <input type="checkbox" value="">
                          </th> -->
              <th>S.No.</th>
              <th md2SortBy="feedbackID">{{currentlanguage.feedback_service?.table_labels?.feedbackID}}</th>
              <th md2SortBy="feedback">{{currentlanguage.feedback_service?.table_labels?.description}}</th>
              <th md2SortBy="severityTypeName">{{currentlanguage.feedback_service?.table_labels?.severity}}</th>
              <th md2SortBy="feedbackTypeName">{{currentlanguage.feedback_service?.table_labels?.feedback_type}}</th>
              <th md2SortBy="createdBy">{{currentlanguage.feedback_service?.table_labels?.agent}}</th>
              <th md2SortBy="feedbackStatus">{{currentlanguage.feedback_service?.table_labels?.status}}</th>
              <th md2SortBy="createdDate">{{currentlanguage.feedback_service?.table_labels?.created_date}}</th>
              <!-- <th>Status</th> -->
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="md2.data.length<1">
              <td class="t-a-c" colspan="8">
                {{currentlanguage.feedback_service?.table_labels?.no_records_found}}
              </td>
            </tr>
            <tr style="cursor: pointer;" *ngFor="let feedback
                        of md2.data;let i=index " (click)="modalData(feedback)">
              <td width=10%>{{(md2.activePage-1)*(md2.rowsPerPage)+(i+1)}}</td>
              <td>{{feedback.feedbackID}}</td>
              <td>{{feedback.feedback}}</td>
              <td>{{feedback.severity?.severityTypeName}}</td>
              <td>{{feedback.feedbackType?.feedbackTypeName}}</td>
              <td>{{feedback.createdBy}}</td>
              <td>{{feedback.feedbackStatus?.feedbackStatus}}</td>
              <td>{{millisToUTCDate(feedback.createdDate)|date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <md2-pagination></md2-pagination>
              </td>
              <td colspan="3">
                <button class="pull-right" md-raised-button color="primary" (click)="showForm()">{{currentlanguage.feedback_service?.create_feedback}}</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
