<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label class="pull-left">
        <h4 class="f-s-b m-b-10 m-t-20">{{assignSelectedLanguageValue?.counsellingServices}}</h4>
      </label>
    </div>
  </div>
  <div [hidden]="!showFormCondition" class="row">
    <form id="counsellingForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
          <md-select required placeholder="{{assignSelectedLanguageValue?.selectCategory}}" [style.width]="'100%'" [(ngModel)]="symptomCategory"
            name="symptomCategory" (change)="GetSubCategories(symptomCategory)" #category="ngModel">
            <md-option *ngFor="let symptomCategory of categoryList" [value]="symptomCategory.categoryID">
              {{symptomCategory.categoryName}}
            </md-option>
          </md-select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
          <md-select required placeholder="{{assignSelectedLanguageValue?.selectSubcategory}}" [style.width]="'100%'" [(ngModel)]="symptomSubCategory"
            name="symptomSubCategory" #subCategory="ngModel" (change)="EnabledGetDetails()">
            <md-option *ngFor="let symptomSubCategory of subCategoryList" [value]="symptomSubCategory.subCategoryID">
              {{symptomSubCategory.subCategoryName}}
            </md-option>
          </md-select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 m-t-15">
        <button class="mar-right" [disabled]="!category.valid || !subCategory.valid || getDetailsFlag" type="button" md-raised-button
          color="accent" (click)="GetSubCategoryDetails(symptomSubCategory)">{{assignSelectedLanguageValue?.getDetails}}</button>
        <button type="button" md-raised-button color="primary" (click)="back()">{{assignSelectedLanguageValue?.back}}</button>
      </div>
   
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="min-height-180 border-1-g m-b-20" for="subCategoryDetails">
          <ul class="m-t-10" [hidden]="!showresult">
            <li *ngFor="let detail of detailsList">
              <a *ngIf="(detail?.subCatFilePath) && (detail?.subCatFilePath != null)" href="{{detail?.subCatFilePath}}" target="_blank">
                <md-icon class="f-s-22 icon" color="">file_download</md-icon>
                <span class="m-l-10">{{detail?.subCategoryName}}
                  <span *ngIf="detail?.subCategoryDesc">:</span>{{detail?.subCategoryDesc}}</span>
              </a>
              <span *ngIf="!(detail?.subCatFilePath) && (detail?.subCatFilePath == null)">{{assignSelectedLanguageValue?.noDocumentAvailable}}</span>
            </li>
            <li *ngIf="detailsList?.length==0">  {{assignSelectedLanguageValue?.noRecordsFound}}</li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showTableCondition">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-responsive table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="3" aria-describedby="coDetails">
          <thead>
            <tr>
              <th id="sno">{{assignSelectedLanguageValue?.sno}}</th>
              <th md2SortBy="benCallID" id="benCallID">{{assignSelectedLanguageValue?.callId}}</th>
              <th md2SortBy="categoryDetails.categoryName" id="categoryName">{{assignSelectedLanguageValue?.category}}</th>
              <th md2SortBy="subCategoryDetails.subCategoryName" id="subCategoryName">{{assignSelectedLanguageValue?.subCategory}}</th>
              <th md2SortBy="createdBy" id="createdBy">{{assignSelectedLanguageValue?.counsellingProvidedBy}}</th>
              <th md2SortBy="createdDate" id="createdDate">{{assignSelectedLanguageValue?.counsellingProvidedOn}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="md2.data.length < 1">
              <td class="t-a-c record-not-found" colspan="6">
                {{assignSelectedLanguageValue?.noRecordsFound}}
              </td>
            </tr>
            <tr *ngFor="let counselling of md2.data;let i=index ">
              <td>{{(md2.activePage-1)*(md2.rowsPerPage)+(i+1)}}</td>
              <td style="width: 20%;">{{counselling?.benCallID}}</td>
              <td>{{counselling?.categoryDetails?.categoryName}}</td>
              <td>{{counselling?.subCategoryDetails?.subCategoryName}}</td>
              <td>{{counselling?.createdBy}}</td>
              <td>{{counselling?.createdDate?(millisToUTCDate(counselling.createdDate)|date:'dd/MM/yyyy hh:mm a'):''}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <md2-pagination></md2-pagination>
              </td>
              <td colspan="3" class="p-r-0">
                <button class="pull-right" md-raised-button color="primary" (click)="showForm()">{{assignSelectedLanguageValue?.newCounselling}}</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
