<div class="row">
    
        <div class="col-xs-12 col-sm-12">
            <h4>Counselling Services</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="symptomCategory">Select Counselling Guidelines</label>
                <select class="form-control drop-arrow ng-pristine ng-untouched ng-valid ng-empty" name="symptomCategory" ng-model="symptomCategory">
                    <option></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="2"></option>
                    <option value="2"></option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-t-25">
            <button type="button" class="btn cu-btn-default ">Get details</button>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="min-height-180 border-1-g"></div>
        </div>
        <div class="clearfix"></div>
   
</div>
