<div *ngIf="showFormCondition">
  <div class="col-xs-12 col-sm-12">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select required placeholder="SELECT CATEGORY" [style.width]="'100%'" [(ngModel)]="symptomCategory" name="symptomCategory"
          (change)="GetSubCategories(symptomCategory)">
          <md-option *ngFor="let symptomCategory of categoryList" value="{{symptomCategory.categoryID}}">
            {{symptomCategory.categoryName}}
          </md-option>
        </md-select>
        <md-hint>
          <span class="error_text"></span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select required placeholder="SELECT SUB CATEGORY" [style.width]="'100%'" [(ngModel)]="symptomSubCategory" name="symptomSubCategory">
          <md-option *ngFor="let symptomSubCategory of subCategoryList" value="{{symptomSubCategory.subCategoryID}}">
            {{symptomSubCategory.subCategoryName}}
          </md-option>
        </md-select>
        <md-hint>
          <span class="error_text"></span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 m-t-15">
      <button type="button" class="btn cu-btn-default" (click)="GetSubCategoryDetails(symptomSubCategory)">Get Details</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 m-t-15">
      <button type="button" class="btn btn-success cu-btn-default" (click)="back()">Back</button>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="min-height-180 border-1-g" for="subCategoryDetails">
        <span *ngFor="let detail of detailsList">
            <a *ngIf="(detail?.subCatFilePath) && (detail?.subCatFilePath != null)" href="{{detail?.subCatFilePath}}" target="_blank"> 

                    {{detail?.subCategoryName}}:{{detail?.subCategoryDesc}}
            </a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showTableCondition">
  <table class="table table-responsive table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="3">
    <thead>
      <tr>
        <th md2SortBy="benCallID">BeneficiaryCall ID</th>
        <th md2SortBy="informationServices">Category</th>
        <th md2SortBy="feedbackServices">Sub Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let counselling of md2.data ">
        <td>{{counselling.benCallID}}</td>
        <td>{{counselling?.categoryDetails?.categoryName}}</td>
        <td>{{counselling?.subCategoryDetails?.subCategoryName}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <md2-pagination></md2-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showTableCondition">
  <button class="btn pull-right" (click)="showForm()">New Counsellings</button>
</div>
