<div class="main-content">
    <div class="container-fluid">
            <div class="col-md-12">
                <md-card>
                    <md-chip-list aria-label="Fish selection" class="matclass">
                        <div *ngFor="let item of daysmonth">
                            <ng-container *ngIf="checkcurrent(item.name)">
                                <label *ngIf="current" class="labelwidth"
                                    style="color:green"><b>{{item.name}}</b></label><br />
                                <ng-container *ngFor="let item of createRange(currentdaysactive()),let i=index">
                                    <md-chip title="" color="accent" selected="true" style="background-color: red "(click)="callsupportdialog()">
                                        {{item}}
                                    </md-chip>
                                </ng-container>
                                <ng-container *ngFor="let item of currentdaysInactive(item.days),let i=index">
                                    <md-chip title="">
                                        {{item}}
                                    </md-chip>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!checkcurrent(item.name)">
                                <label *ngIf="!current" class="labelwidth"><b>{{item.name}}</b></label><br />
                                <md-chip *ngFor="let item of createRange(item.days),let i=index" title="">
                                    {{item}}
                                </md-chip>
                            </ng-container>
                        </div>
                    </md-chip-list>
                </md-card>
                <div class="alert alert-danger" role="alert" *ngIf="msg">
                    Last Updated with Ever well on {{date}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button md-raised-button color="primary" class="pull-left" (click)="tableMode()">Back</button>
          <button md-raised-button color="accent" class="pull-right">Update</button>
        </div>
    </div>
