.matclass{
    margin: 10px;
}
.labelwidth{    
    width: 70px;
}
.mat-standard-chip
{
    border-radius: 18px !important;
    min-height: 27px !important;
    padding: 7px 8px !important;
    margin: 1px !important;
}

.mat-chip:not(.mat-basic-chip){
    padding: 7px 8px !important;
}
.clearFixClass{
    padding: 10px;
}
.pointer{
    cursor: pointer;
}
.currentMonth{
    color: green;
}
.manualDose{
    background-color: #66ff66;
    cursor: pointer;
}
#demographicsToggle {
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
    padding: 2px 3px 3px 3px;
}
.dosecolor{
    color: gray;
}
.missedDose{
    background-color: red;
    cursor: pointer;
}
.restDose{
    background-color: #ff6600;
    cursor: pointer;
}
.others{
    background-color: #80ccff;
    cursor: pointer;
}
.description {
    padding-top: 15px;
  }

  ul {
    list-style: none;
    padding: 0px;
  }
  
  ul li {
    display: inline-block;
    padding: 0 8px;
  }
  
  ul li div,
  ul li p {
    display: inline-block;
  }
  
  ul li div {
    height: 15px;
    width: 15px;
  }
   
 
  




/* support component */



.title .exit {
    cursor: pointer;
}

.title {
    padding: 10px 24px 10px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    background: #0277bd;
}

.title h4 {
    display: inline-block;
}

a :active{ 
    color:blue;
}



  
  
.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1001;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/opacity */
  }
    
  .overlay:root {
    padding: 0px;
  }

  .backButton {
    float: right;
  }

  .ecllipse {
    background-color: red;
    height: 20px;
    width: 50px;
    border-radius: 10%;
    padding-right: 10px;
  }