<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="pull-left">
      <h4 class="f-s-b m-b-10 m-t-20"> Everwell-Worklist </h4>
    </label>
  </div>

  <div class="col-xs-12 col-sm-12">

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Call ID</th>
            <th>Call Date & Time</th>
            <th>Beneficiary ID</th>
            <th>Beneficiary Name</th>
            <th>Beneficiary Phone No.</th>
            <th>Call Remarks</th>
            <th>Call Type</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngIf="md2.data.length==0">
              <td class="record-not-found" colspan="10">
                No records found
              </td>
            </tr> -->
          <tr>
            <td><a class="nav-link" [routerLink]="['/details']" routerLinkActive="active">asdf</a></td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
          </tr>
          <tr (click)="editMode()">
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
          </tr>
          <tr (click)="editMode()">
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
          </tr>
          <tr (click)="editMode()">
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
          </tr>
          <tr (click)="editMode()">
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
          </tr>
          <tr (click)="editMode()">
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
            <td>Call Type</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <!-- <md2-pagination></md2-pagination> -->
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
<div class="row" *ngIf="showEditForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">Save Patient Feedback</h4>
  </div>
  <form #editEmergencyContact="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="Name" name="name" [(ngModel)]="name" required #contactName="ngModel" maxlength="50"
          minlength="3">
        <md-hint class="error_text" *ngIf="contactName.invalid && contactName.touched">Enter atleast 3 characters
        </md-hint>
      </md-input-container>
    </div>


  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button md-raised-button color="primary" class="pull-left" (click)="tableMode()">Back</button>
    <button md-raised-button color="accent" class="pull-right">Update</button>
  </div>
</div>



<div class="main-content" *ngIf="showCalender">
  <div class="container-fluid">

    <div class="col-md-12">

      <md-chip-list aria-label="Fish selection" class="matclass">
        <div *ngFor="let item of daysmonth">
          <ng-container *ngIf="checkcurrent(item.name)">
            <label *ngIf="current" class="labelwidth" style="color:green"><b>{{item.name}}</b></label><br />
            <ng-container *ngFor="let item of createRange(currentdaysactive()),let i=index">
              <md-chip title="" color="accent" selected="true" style="background-color: red "
                (click)="callsupportdialog()">
                {{item}}
              </md-chip>
            </ng-container>
            <ng-container *ngFor="let item of currentdaysInactive(item.days),let i=index">
              <md-chip title="">
                {{item}}
              </md-chip>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!checkcurrent(item.name)">
            <label *ngIf="!current" class="labelwidth"><b>{{item.name}}</b></label><br />
            <md-chip *ngFor="let item of createRange(item.days),let i=index" title="">
              {{item}}
            </md-chip>
          </ng-container>
        </div>
      </md-chip-list>

      <div class="alert alert-danger" role="alert" *ngIf="msg">
        Last Updated with Ever well on {{date}}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button md-raised-button color="primary" class="pull-left" (click)="tableMode()">Back</button>
    <button md-raised-button color="accent" class="pull-right">Update</button>
  </div>
</div>