.matclass{
    margin: 10px;
}
.labelwidth{    
    width: 70px;
}
.mat-standard-chip
{
    border-radius: 18px !important;
    min-height: 27px !important;
    padding: 7px 8px !important;
    margin: 1px !important;
}

.mat-chip:not(.mat-basic-chip){
    padding: 7px 8px !important;
}
.clearFixClass{
    padding: 10px;
}
.pointer{
    cursor: pointer;
}
.currentMonth{
    color: green;
}
.manualDose{
    background-color: green;
    cursor: pointer;
}
#demographicsToggle {
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
    padding: 2px 3px 3px 3px;
}
.dosecolor{
    color: gray;
}
.missedDose{
    background-color: red;
    cursor: pointer;
}
.restDose{
    background-color: #ff6600;
    cursor: pointer;
}
.others{
    background-color: #ff66ff;
    cursor: pointer;
}
.description {
    padding-top: 15px;
  }

  ul {
    list-style: none;
    padding: 0px;
  }
  
  ul li {
    display: inline-block;
    padding: 0 8px;
  }
  
  ul li div,
  ul li p {
    display: inline-block;
  }
  
  ul li div {
    height: 15px;
    width: 15px;
  }
   
 
  




/* support component */



.title .exit {
    cursor: pointer;
}

.title {
    padding: 10px 24px 10px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    background: #0277bd;
}

.title h4 {
    display: inline-block;
}





  
