
<div class="container-fluid" *ngIf="showTable">
  <div  class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="pull-left">
      <h4 class="f-s-b m-b-10 m-t-20"> {{currentLanguageSet?.everwellWorklist}}</h4>
    </label>
  </div>
</div>



<div  class="row">
  <div class="col-xs-12 col-sm-12">

    <div class="table-responsive">
     
      <table class="table table-hover table-striped" [md2Data]="benDetailsList" #md2="md2DataTable" [rowsPerPage]="5"  aria-describedby="everwellBenDetails">
        <thead>
          <tr>
           
            <th id="beneficiaryID">{{currentLanguageSet?.beneficiaryId}}</th>
            <th id="beneficiaryName">{{currentLanguageSet?.beneficiaryName}}</th>
          
          
            <th id="gender">{{currentLanguageSet?.gender}}</th>
            <th id="state">{{currentLanguageSet?.state}}</th>
            <th id="comments">{{currentLanguageSet?.comments}}</th>
            <th id="lastCall">{{currentLanguageSet?.lastCall}}</th>
            <th id="callCount">{{currentLanguageSet?.callCount}}</th>
            <th id="relationship">{{currentLanguageSet?.relationship}}</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngIf="benDetailsList?.length == 0">
              <td colspan="6" class="t-a-c record-not-found">{{currentLanguageSet?.noRecordsFound}}</td>
            </tr>
            <ng-container *ngIf="benDetailsList?.length >0">
            <tr *ngFor="let ben of benDetailsList; let i= index" (click)="editMode(ben)" style="cursor: pointer">
              <td >{{ben.beneficiaryID}}</td>
              <td >{{ben.FirstName}} {{ben.LastName}}</td>
            
              <td >{{ben.Gender}}</td>
              <td >{{ben.State}}</td>
              <td >{{(ben?.comments !== 'NaN' && ben?.comments !== undefined && ben?.comments !== null) ? ben?.comments : 'N/A'}}</td>
              <td >{{ben.callCounter > 0 ? (ben?.lastCall !== 'NaN' && ben?.lastCall !== undefined && ben?.lastCall !== null ? ben?.lastCall : 'N/A') : 'N/A'}}</td>
              <td  style="padding-left: 30px;width: 10%;">{{ben.callCounter}}</td>
              <td *ngIf= "benDetailsList.indexOf(ben)=== 0">Self </td>
              <td *ngIf= "benDetailsList.indexOf(ben)> 0">Others </td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr *ngIf= "benDetailsList.length > 0">
            <td colspan = "8">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
<div class="row" *ngIf="showEditForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">{{currentLanguageSet?.savePatientFeedback}}</h4>
  </div>
  <form #editEmergencyContact="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="{{currentLanguageSet?.name}}" name="name" [(ngModel)]="name" required #contactName="ngModel" maxlength="50"
          minlength="3">
        <md-hint class="error_text" *ngIf="contactName.invalid && contactName.touched">{{currentLanguageSet?.enterAtleast3Characters}}
        </md-hint>
      </md-input-container>
    </div>


  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button md-raised-button color="primary" class="pull-left" (click)="tableMode()">{{currentLanguageSet?.back}}</button>
    <button md-raised-button color="accent" class="pull-right">{{currentLanguageSet?.update}}</button>
  </div>
</div>



<div class="main-content" *ngIf="showCalender">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: 10px; margin-top: 10px;">
  <label style="float: left;">Everwell missed doses count: </label>
  <label *ngIf="_common.outboundEverwellData.NoInfoDoseCount !== null && _common.outboundEverwellData.NoInfoDoseCount !== undefined"> {{_common.outboundEverwellData.NoInfoDoseCount }} </label>
  <label *ngIf="_common.outboundEverwellData.NoInfoDoseCount === null || _common.outboundEverwellData.NoInfoDoseCount === undefined"> 0 </label>
  <button md-raised-button color="primary" (click)="tableMode()" class= "backButton">{{currentLanguageSet?.back}}</button></div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" style="margin-left: 10px;">
  <label>Everwell missed doses dates: </label>
  <span *ngIf= "dosesDatesList.length > 0 ">
  <label *ngFor="let date of dosesDatesList" style="padding-right: 10px;" >
    <span class="ecllipse" >{{date | date: 'd MMM'}} </span> </label>
  </span>
  <label *ngIf = "dosesDatesList.length === 0 ">N/A</label>
  </div>
  <div class="container-fluid">
    <div class="clearfix clearFixClass"></div>      
   
    <div class="col-md-12">

     
     <div class="row slots-container m-t-10 m-b-10">
        <div class="col-xs-12" *ngIf="daysmonth?.length > 0">
          <div *ngFor="let slots of daysmonth">
            <label class="labelwidth"
              [ngClass]="{'currentMonth': checkcurrent(slots.name)}"><strong>{{slots.name}}</strong></label><br />
            <md-chip-list #chipList [selectable]="true" aria-label="Fish selection">
              <md-chip *ngFor="let slot of createRange(slots.days)" 
              [ngClass]="checkColorCode(slot,slots.name,slot)"

                (click)="checkcurrentMonthDay(slots.name,slot) && callsupportdialog()" style="cursor: pointer;">
                {{(slot < 10 ? '0' : '') + slot }}
              </md-chip>
            </md-chip-list>
        </div>
        </div>
      </div>
      <div class="row slots-container m-t-10 m-b-10">
        <td colspan="3">
          <ul class="description">
            <li>
              <div class="manualDose"></div>
              <p> {{currentLanguageSet?.doseTakenButNotReportedByTechnology}}</p>
            </li>
            <li>
              <div class="missedDose"></div>
              <p> {{currentLanguageSet?.doseNotTaken}}</p>
            </li>
            <li>
              <div class="restDose"></div>
              <p>{{currentLanguageSet?.otherSubcategories}}</p>
            </li>
            <li>
              <div class="others"></div>
              <p> {{currentLanguageSet?.noPreviousFeedback}}</p>
            </li>

          </ul>
        </td>  
      </div>
  </div>

  </div>
</div>