<div class="container-fluid" *ngIf="showTable">
  <div  class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="pull-left">
      <h4 class="f-s-b m-b-10 m-t-20"> Everwell-Worklist </h4>
    </label>
  </div>
</div>
<div  class="row">
  <div class="col-xs-12 col-sm-12">

    <div class="table-responsive">
      <table class="table table-hover table-striped" [md2Data]="data" #md2="md2DataTable">
        <thead>
          <tr>
            <!-- <th style="width:20%" md2SortBy="phoneNo">Phone No</th> -->
            <th>Beneficiary ID</th>
            <th>Beneficiary Name</th>
            <!-- <th md2SortBy="prefferedDateTime">Requested Date</th> -->
            <th>Mobile Number</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngIf="data?.length > 0">
              <td colspan="5" class="t-a-c record-not-found"> No records found</td>
            </tr>
            <tr (click)="editMode(data)" style="cursor: pointer">
              <td width=15%>{{data.beneficiaryRegId}}</td>
              <td width=20%>{{data.firstName}} {{data.lastName}}</td>
              <td width=20%>{{data.primaryNumber}}</td>
              <td width=20%>{{data.remarks}}</td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <!-- <md2-pagination></md2-pagination> -->
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
<div class="row" *ngIf="showEditForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="f-s-b m-t-20 m-b-20">Save Patient Feedback</h4>
  </div>
  <form #editEmergencyContact="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="Name" name="name" [(ngModel)]="name" required #contactName="ngModel" maxlength="50"
          minlength="3">
        <md-hint class="error_text" *ngIf="contactName.invalid && contactName.touched">Enter atleast 3 characters
        </md-hint>
      </md-input-container>
    </div>


  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button md-raised-button color="primary" class="pull-left" (click)="tableMode()">Back</button>
    <button md-raised-button color="accent" class="pull-right">Update</button>
  </div>
</div>



<div class="main-content" *ngIf="showCalender">
  <div class="container-fluid">
    <div class="clearfix clearFixClass"></div>      
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button md-raised-button color="primary" class="pull-right" (click)="tableMode()">Back</button>   
    </div>
    <div class="col-md-12">

      <md-chip-list aria-label="Fish selection" class="matclass">
        <div *ngFor="let item of daysmonth">
          <ng-container *ngIf="checkcurrent(item.name)">
            <label *ngIf="current" class="labelwidth" style="color:green"><b>{{item.name}}</b></label><br />
            <ng-container *ngFor="let item of createRange(previous-1),let i=index">
              <md-chip title="" color="accent" selected="true">
                {{item}}
              </md-chip>
            </ng-container>
            <ng-container >
              <md-chip title="" color="accent" selected="true" style="background-color: green "
                (click)="callsupportdialog()">
                {{previous}}
              </md-chip>
            </ng-container>
            <ng-container *ngFor="let item of currentdaysInactive(item.days),let i=index">
              <md-chip title="">
                {{item}}
              </md-chip>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!checkcurrent(item.name)">
            <label *ngIf="!current" class="labelwidth"><b>{{item.name}}</b></label><br />
            <md-chip *ngFor="let item of createRange(item.days),let i=index" title="">
              {{item}}
            </md-chip>
          </ng-container>
        </div>
      </md-chip-list>
  </div>
  </div>
</div>