
<div class="row headerTitle title">
    <h4>Feedback</h4>
    <button class="pull-right exit" [mdDialogClose]="null" md-icon-button>
        <md-icon class="md-24">close</md-icon>
    </button>
</div>

  
        <md-dialog-content style="min-height:300px" *ngIf='isFeedbackData.length===0'>
        <form #form="ngForm" autocomplete="off">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label">Missed Doses: {{everwellBenData.MissedDoses}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label">Adherence Percentage: {{everwellBenData.AdherencePercentage}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label">Current Month Missed Doses: {{everwellBenData.currentMonthMissedDoses}}</label>
            </div>
            <div class="clearfix visible-md visible-lg"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
                    <input mdInput style="display:none"> -->
                <md-select placeholder="Category" [style.width]="'100%'" [(ngModel)]="category" name="category"
                    required>
                    <md-option *ngFor="let cat of category" [value]="cat">
                        {{cat}}
                    </md-option>
                </md-select>
                <!-- </md-input-container> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <!-- <md-input-container [style.width]="'100%'" class="hide_underline">
                    <input mdInput style="display:none"> -->
                <md-select placeholder="Subcategory" [style.width]="'100%'" [(ngModel)]="gender" name="subcategory"
                    required>
                    <md-option *ngFor="let item of subcategries" [value]="item">
                        {{item}}
                    </md-option>
                </md-select>
                <!-- </md-input-container> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
                    <input mdInput style="display:none"> -->
                <md-select placeholder="ActionTaken" [style.width]="'100%'" [(ngModel)]="actionTaken" name="actionTaken"
                    required>
                    <md-option *ngFor="let action of actionTaken" [value]="action">
                        {{action}}
                    </md-option>
                </md-select>
                <!-- </md-input-container> -->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <!-- <md2-datepicker class="width100" placeholder="Date" [(ngModel)]="dob" name="dob" [min]="mindate"
                    [max]="maxdate" #dOB="ngModel" (keydown)="preventTyping($event)" required  ></md2-datepicker>
                <md-hint class="errorText" *ngIf="dOB.errors && dOB.touched">date is required</md-hint> -->

                <md-input-container>
                    <input mdInput placeholder="Date Of Action" ngModel name="dob" [(ngModel)]="dob" name="dob"
                        minlength="2" maxlength="500" #fname="ngModel" readonly required>
                    <md-hint *ngIf="dob.touched">
                        <span class="errorText" [hidden]="!dob.errors">Select Date</span>
                    </md-hint>
                </md-input-container>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
                <!-- <md-input-container class="width100">
                    <input mdInput placeholder="comments" ngModel name="providerAdmin" [(ngModel)]="comments"
                        name="comments" minlength="2" maxlength="500" #fname="ngModel" required>
                    <md-hint *ngIf="fname.touched">
                        <span class="errorText" [hidden]="!fname.errors">Enter minimum 2 characters</span>
                    </md-hint>
                </md-input-container> -->
                <md-input-container>
                    <textarea mdInput rows="2" placeholder="Comments" ngModel #fname="ngModel"
                        [(ngModel)]="comments" name="comments" required ></textarea>
                    <md-hint *ngIf="fname.touched">
                        <span class="errorText" [hidden]="!fname.errors">Enter minimum 2 characters</span>
                    </md-hint>
                </md-input-container>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10" style="padding-top: 2%">
                <md-checkbox color="primary" name="addMblNum" [(ngModel)]="addMblNum" (change)="addNumber($event)">Add Mobile Number</md-checkbox>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10" *ngIf="addNum">
                <md-form-field [style.width]="'100%'">
                    <input 
                    myMobileNumber
                    mdInput
                    allowText="number" mdInput placeholder="Secondary Mobile Number" [(ngModel)]="mblNum" name="mblNum" #mblNum1="ngModel" minlength="10"
                    maxlength="10"
                    [min]="10"/>
                    <md-error *ngIf="mblNum1.errors?.minlength">
                         Mobile Number should be 10-digits</md-error>
                </md-form-field>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
                <button md-raised-button color="accent"  class="pull-right" (click)="submitFeedback(form.value)"
                    [disabled]="!form.valid">Submit</button>
            </div>


        </form>
    </md-dialog-content>
  

<div class="container-fluid table-responsive" *ngIf='isFeedbackData.length!==0'>
    <table class="table table-no-border casesheet-table" *ngFor="let feedBackData of isFeedbackData">
        <tr>
            <th>Missed Doses:</th>
            <td> {{feedBackData?.MissedDoses}} </td>
            <th>Adherence Percentage:</th>
            <td>{{feedBackData?.AdherencePercentage}} </td>
            <th>Current Month Missed Doses:</th>
            <td>{{feedBackData?.currentMonthMissedDoses}} </td>
        </tr>
        <tr>
            <th>Category:</th>
            <td> {{feedBackData?.category}} </td>
            <th>Subcategory:</th>
            <td>{{feedBackData?.subCategory}} </td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th>ActionTaken:</th>
            <td> {{feedBackData?.actionTaken}} </td>
            <th>Date Of Action:</th>
            <td>{{lastDay}} </td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th>Secondary Mobile Number:</th>
            <td> {{feedBackData?.secondaryPhoneNo}} </td>
            <th>Comments:</th>
            <td> {{feedBackData?.comments}} </td>
            <th></th>
            <td></td>
        </tr>
    </table>
    <div class="row m-t-20">
        <div class="col-sm-12 step-btn m-t-100">
            <button md-raised-button class="pull-right" color="primary" style="margin: 15px;" id="closeModal" (click)="closeModal()">Ok</button>
        </div>
    </div>
</div>