
<div class="row headerTitle title">
    <h4>{{currentLanguageSet?.feedback}}</h4>
    <button class="pull-right exit" [mdDialogClose]="null" md-icon-button>
        <md-icon class="md-24">{{currentLanguageSet?.close}}</md-icon>
    </button>
</div>


  
        <md-dialog-content style="min-height:300px" *ngIf='!isfeedbackedit'>

          
              
        <form #form="ngForm" autocomplete="off">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label">Missed Doses: {{everwellBenData.MissedDoses}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label">Adherence Percentage: {{everwellBenData.AdherencePercentage}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label">Current Month Missed Doses: {{everwellBenData.currentMonthMissedDoses}}</label>
            </div>
            <div class="clearfix visible-md visible-lg"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                
                <md-select placeholder="{{currentLanguageSet?.category}}" [style.width]="'100%'" [(ngModel)]="category" name="category"
                    required>
                    <md-option *ngFor="let cat of category" [value]="cat">
                        {{cat}}
                    </md-option>
                </md-select>
             
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
              
                <md-select placeholder="{{currentLanguageSet?.subCategory}}" [style.width]="'100%'" [(ngModel)]="gender" name="subcategory"
                    required>
                    <md-option *ngFor="let item of subcategries" [value]="item">
                        {{item}}
                    </md-option>
                </md-select>
               
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
               
                <md-select placeholder="{{currentLanguageSet?.actiontaken}}" [style.width]="'100%'" [(ngModel)]="actionTaken" name="actionTaken"
                    required>
                    <md-option *ngFor="let action of actionTaken" [value]="action">
                        {{action}}
                    </md-option>
                </md-select>
                
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
              

                <md-input-container>
                    <input mdInput placeholder="{{currentLanguageSet?.daeOfAction}}" ngModel name="dob" [(ngModel)]="dob" name="dob"
                        minlength="2" maxlength="500" #fname="ngModel" readonly required>
                    <md-hint *ngIf="dob.touched">
                        <span class="errorText" [hidden]="!dob.errors">{{currentLanguageSet?.selectDate}}</span>
                    </md-hint>
                </md-input-container>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
               
                <md-input-container>
                    <textarea mdInput rows="2" placeholder="{{currentLanguageSet?.comments}}" ngModel #fname="ngModel"
                        [(ngModel)]="comments" name="comments" required minlength="2" maxlength="500"></textarea>
                    <md-hint *ngIf="fname.touched">
                        <span class="errorText" [hidden]="!fname.errors">{{currentLanguageSet?.enterMinimum2Characters}}</span>
                    </md-hint>
                </md-input-container>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10" style="padding-top: 2%">
                <md-checkbox color="primary" name="addMblNum" [(ngModel)]="addMblNum" (change)="addNumber($event);mblNum=null">{{currentLanguageSet?.addMobileNumber}}</md-checkbox>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10" *ngIf="addNum">
                <md-form-field [style.width]="'100%'">
                    <input 
                    myMobileNumber
                    mdInput
                    allowText="number" mdInput placeholder="{{currentLanguageSet?.secondaryMobileNumber}}" [(ngModel)]="mblNum" name="mblNum" #mblNum1="ngModel" minlength="10"
                    maxlength="10"
                    [min]="10"/>
                    <md-error *ngIf="mblNum1.errors?.minlength">
                         {{currentLanguageSet?.mobileNumberShouldBe10Digits}}</md-error>
                </md-form-field>
            </div>

            <div *ngIf="fileName !== null && fileName !== undefined" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
                <label><strong>Guideline Document:</strong> </label>
                <a  href="#" (click)="openPDFGuidelines()">{{fileName}}</a>
                
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
                <button md-raised-button color="accent"  class="pull-right" (click)="submitFeedback(form.value)"
                    [disabled]="!form.valid">{{currentLanguageSet?.submit}}</button>
            </div>


        </form>
    </md-dialog-content>
  

<div class="container-fluid table-responsive" *ngIf='isfeedbackedit'>
    <md-dialog-content style="min-height:300px">
        <form #editform="ngForm" autocomplete="off">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label" [ngStyle]="{'color': dosecolor === 'dosecolor'?'':'grey'}">Missed Doses: {{everwellBenData?.MissedDoses}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label pull-right" [ngStyle]="{'color': dosecolor === 'dosecolor'?'':'grey'}">Adherence Percentage: {{everwellBenData?.AdherencePercentage}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <label class="control-label" [ngStyle]="{'color': dosecolor === 'dosecolor'?'':'grey'}">Current Month Missed Doses:
                    {{everwellBenData?.currentMonthMissedDoses}}</label>
            </div>            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                <md-slide-toggle id="demographicsToggle" color="primary" class="pull-right"
                    [checked]="demographicsEditEnabled" (change)="enableControls()" labelPosition="before"><span
                        style="font-variant-caps: titling-caps; color: #14508c; font-weight: bold;"> {{currentLanguageSet?.editFeedback}}</span>
                </md-slide-toggle>
            </div>
            <div class="clearfix visible-md visible-lg" style="padding-bottom: 1%;"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
           
                <md-select placeholder="{{currentLanguageSet?.category}}" [style.width]="'100%'" [(ngModel)]="editcategory" name="editcategory"
                    [disabled]='enablecontrols' required>
                    <md-option *ngFor="let cat of category" [value]="cat">
                        {{cat}}
                    </md-option>
                </md-select>
               
            </div>           
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
               
                <md-select placeholder="{{currentLanguageSet?.subCategory}}" [style.width]="'100%'" [(ngModel)]="editsubcategries" name="editsubcategries" [disabled]='enablecontrols'
                    required>
                    <md-option *ngFor="let item of subcategries" [value]="item">
                        {{item}}
                    </md-option>
                </md-select>
               
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
                
                <md-select placeholder="{{currentLanguageSet?.actiontaken}}" [style.width]="'100%'" [(ngModel)]="editactionTaken" name="editactionTaken" [disabled]='enablecontrols'
                    required>
                    <md-option *ngFor="let action of actionTaken" [value]="action">
                        {{action}}
                    </md-option>
                </md-select>
                
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10">
              

                <md-input-container>
                    <input mdInput placeholder="{{currentLanguageSet?.daeOfAction}}" ngModel [(ngModel)]="editdob" name="editdob"
                        minlength="2" maxlength="500" #fname="ngModel" readonly required [disabled]='enablecontrols'>
                    <md-hint *ngIf="dob.touched">
                        <span class="errorText" [hidden]="!dob.errors">{{currentLanguageSet?.selectDate}}</span>
                    </md-hint>
                </md-input-container>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
               
                <md-input-container>
                    <textarea mdInput rows="2" placeholder="{{currentLanguageSet?.comments}}" ngModel #fname="ngModel" [(ngModel)]="editcomments"
                        name="editcomments" required [disabled]='enablecontrols' minlength="2" maxlength="500"></textarea>
                    <md-hint *ngIf="fname.touched">
                        <span class="errorText" [hidden]="!fname.errors">{{currentLanguageSet?.enterMinimum2Characters}}</span>
                    </md-hint>
                </md-input-container>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10" style="padding-top: 2%">
                <md-checkbox color="primary" name="addMblNum" [(ngModel)]="editaddMblNum" (change)="addNumber($event);editmblNum=null" [disabled]='enablecontrols'>
                    {{currentLanguageSet?.addMobileNumber}}</md-checkbox>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-t-10" *ngIf="addNum">
                <md-form-field [style.width]="'100%'">
                    <input myMobileNumber mdInput allowText="number" mdInput placeholder="{{currentLanguageSet?.secondaryMobileNumber}}"
                        [(ngModel)]="editmblNum" name="mblNum" #mblNum1="ngModel" minlength="10" maxlength="10"
                        [min]="10" [disabled]='enablecontrols'/>
                    <md-error *ngIf="mblNum1.errors?.minlength">
                        {{currentLanguageSet?.mobileNumberShouldBe10Digits}}</md-error>
                </md-form-field>
            </div>

            <div *ngIf="fileName !== null && fileName !== undefined" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
                <label><strong>Guideline Document:</strong> </label>
                <a href="#" (click)="openPDFGuidelines()">{{fileName}}</a>
                
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
              
                <button md-raised-button color="accent" class="pull-right" (click)="updateFeedback(editform.value)"
                    [disabled]="!(editform.valid && editform.dirty)">{{currentLanguageSet?.update}}</button>
            </div>


        </form>
    </md-dialog-content>
    <div class="row m-t-20">
        <div class="col-sm-12 step-btn m-t-100">
            <button md-raised-button class="pull-right" color="primary" style="margin: 15px;" id="closeModal" (click)="closeModal()">{{currentLanguageSet?.ok}}</button>
        </div>
    </div>
</div>