 
 <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
 <div class="row m-t-10">
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive m-t-10">
        <table class="table">
          <thead>
            <tr>
              <th>{{currentLanguageSet?.serviceName}}</th>
              <th>{{currentLanguageSet?.serviceDesc}}</th>
              <!--<th>PropertyFilePath</th>
              <th>IVRFilePath</th>-->
              <td>{{currentLanguageSet?.edit}}</td>
              <td>{{currentLanguageSet?.delete}}</td>
            </tr>
          </thead>
          <tbody>
           

            <tr *ngFor="let user of userslist">
              <td>{{user.ServiceName}}</td>
              <td>{{user.ServiceDesc}}</td>
              <!--<td>{{user.PropertyFilePath}}</td>
              <td>{{user.IVRFilePath}}</td>-->
               
              <td><i class="fa fa-pencil fa-lg cursorPointer" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg cursorPointer" aria-hidden="true"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    
  </div>


 <div class="">
  <div class="col-xs-12 col-sm-12">
      <h4>{{currentLanguageSet?.servicemasterDetails}}</h4>
    </div>
   
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="serviceName">{{currentLanguageSet?.servicename}}</label>
        <input type="text" class="form-control" placeholder="{{currentLanguageSet?.enterServiceName}}"  id="serviceName" formControlName="serviceName">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="serviceDesc">{{currentLanguageSet?.servicedesc}}</label>
        <input type="text" class="form-control" placeholder="{{currentLanguageSet?.enterServiceDesc}}"  id="serviceDesc" formControlName="serviceDesc">
      </div>
    </div>
    <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="propertyFilePath">PropertyFilePath</label>
        <input type="text" class="form-control" placeholder="Enter PropertyFilePath"  id="propertyFilePath" formControlName="propertyFilePath">
         
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="ivrFilePath">IVRFilePath</label>
        <input type="text" class="form-control" placeholder="Enter IvrFilePath" id="ivrFilePath" formControlName="ivrFilePath">
      

      </div>

    </div>-->
    <div class="col-xs-12 col-sm-12 pull right m-b-10">
      <button class="btn cu-green-btn pull-right p-l-r-38 f-s-18" type="submit" name="save">{{currentLanguageSet?.save}}</button>
    </div>
 </div>
 </form>