 
 <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
 <div class="row m-t-10">
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive m-t-10">
        <table class="table" aria-describedby="serviceDetails">
          <thead>
            <tr>
              <th id="serviceName">Service Name</th>
              <th id="ServiceDesc">Service Desc</th>
              
              <td>Edit</td>
              <td>Delete</td>
            </tr>
          </thead>
          <tbody>
           

            <tr *ngFor="let user of userslist">
              <td>{{user.ServiceName}}</td>
              <td>{{user.ServiceDesc}}</td>
              
               
              <td><i class="fa fa-pencil fa-lg cursorPointer" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg cursorPointer" aria-hidden="true"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    
  </div>


 <div class="">
  <div class="col-xs-12 col-sm-12">
      <h4>ServiceMaster Details</h4>
    </div>
   
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="serviceName">ServiceName</label>
        <input type="text" class="form-control" placeholder="Enter Service Name"  id="serviceName" formControlName="serviceName">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="serviceDesc">ServiceDesc</label>
        <input type="text" class="form-control" placeholder="Enter Service Desc."  id="serviceDesc" formControlName="serviceDesc">
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 pull right m-b-10">
      <button class="btn cu-green-btn pull-right p-l-r-38 f-s-18" type="submit" name="save"> Save</button>
    </div>
 </div>
 </form>