
 <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="row m-t-10">
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive m-t-10">
        <table class="table">
          <thead>
            <tr>
              <th>Language Name</th>
              <th>Language Desc</th>
              <!--<th>PropertyFilePath</th>
              <th>IVRFilePath</th>-->
              <td>Edit</td>
              <td>Delete</td>
            </tr>
          </thead>
          <tbody>
           

            <tr *ngFor="let user of userslist">
              <td>{{user.LanguageName}}</td>
              <td>{{user.LanguageDesc}}</td>
              <!--<td>{{user.PropertyFilePath}}</td>
              <td>{{user.IVRFilePath}}</td>-->
               
              <td><i class="fa fa-pencil fa-lg cursorPointer" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg cursorPointer" aria-hidden="true"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    
  </div>


 <div class="">
    <div class="col-xs-12 col-sm-12">
      <h4>Language Details</h4>
    </div>
    <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="languageID">Language ID</label>

        <input type="text" class="form-control" placeholder="Enter Language ID"  id="languageID" formControlName="languageID">
      
      </div>
    </div>-->
 
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="languageName">LanguageName</label>
        <input type="text" class="form-control" placeholder="Enter Language Name"  id="languageName" formControlName="languageName">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="languageDesc">Language Desc</label>
        <input type="text" class="form-control" placeholder="Enter Language Desc."  id="languageDesc" formControlName="languageDesc">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="propertyFilePath">PropertyFilePath</label>
        <input type="text" class="form-control" placeholder="Enter PropertyFilePath"  id="propertyFilePath" formControlName="propertyFilePath">
         
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="ivrFilePath">IVRFilePath</label>
        <input type="text" class="form-control" placeholder="Enter IvrFilePath" id="ivrFilePath" formControlName="ivrFilePath">
      

      </div>

    </div>
    <div class="col-xs-12 col-sm-12 pull right m-b-10">
      <button class="btn cu-green-btn pull-right p-l-r-38 f-s-18" type="submit" name="save"> Save</button>
    </div>
 </div>
 </form>

  
