<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
  <label><h4>OUTBOUND CALL LIST</h4></label>
</div>
<form #allocateForm="ngForm">
  <div class="col-xs-12 col-sm-12">
    <h4>Allocate Records</h4>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label class="control-label" for="userID">Allocate to</label>
          <select class="form-control " id="userID" [(ngModel)]="userID" multiple="multiple" (change)="OnSelectChange()" name="userID">
            <option *ngFor="let user of users" value="{{user.userID}}"> {{user.firstName+ " "+user.lastName}}</option>
            <!-- <option value="54"> Wasim</option>
              <option value="55"> abc</option>
              <option value="12"> xyz</option> -->
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label class="control-label" for="AllocateNoOfRecords">Allocate No of Records</label>
          <input type="text" class="form-control" placeholder="Enter Allocate No of Records" id="allocateNo" [(ngModel)]="allocateNo" name="allocateNo">
          <input type="hidden" class="form-control" placeholder="Enter Total New Records" id="outboundCallRequests" [(ngModel)]="outboundCallRequests" name="outboundCallRequests">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12">
    <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <button type="button" class="btn cu-blue-btn p-l-r-38 font-regular f-s-18" (click)="onCreate(allocateForm.value)" >Allocate</button>
    </div>
  </div>
</form>
