<form [formGroup]="allocateForm" novalidat *ngIf="afterAllocate">
  <div class="col-xs-12 col-sm-12">
    <h4 class="f-s-b m-b-20">Allocate Records</h4>
    <span class="m-b-30 width100" *ngIf="reallocationFlag">Preferred Language: <strong>{{selectedLanguage}}</strong></span>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select [style.width]="'100%'" formControlName="roleID" name="roleID" placeholder="Select Role" (change)="getAgents($event.value)">
            <md-option *ngFor="let role of roles" [value]="role.RoleID"> {{role.RoleName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select multiple [style.width]="'100%'" formControlName="userID" name="userID" (change)="OnSelectChange()" placeholder="Allocate To">
            <md-option *ngFor="let user of users" [value]="user.userID"> {{user.firstName+ " "+user.lastName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <md-input-container [style.width]="'100%'">
          <input #allocateRef type="number" min="1" max={{initialCount}} mdInput placeholder="Allocate No of Records" id="allocateNo"
            formControlName="allocateNo" name="allocateNo">
          <input type="hidden" class="form-control" placeholder="Enter Total New Records" id="outboundCallRequests" formControlName="outboundCallRequests"
            name="outboundCallRequests">
        </md-input-container>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12">
    <div class="row col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
      <button type="button" [disabled]="!allocateForm.valid" md-raised-button color="primary" class=" font-regular pull-right"
        (click)="onCreate(allocateForm.value);allocateForm.reset()">Allocate</button>
    </div>
  </div>
</form>
