<form #Form="ngForm" (ngSubmit)="updateBeneficiary(Form.value);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12" align="center">
        <label><h4 class="f-s-b m-b-30">{{currentlanguage.other_details?.heading}}</h4></label>
      </div>
      <div class="form-group">
        <input type="hidden" class="form-control" id="beneficiaryRegID" name="beneficiaryRegID" [(ngModel)]="beneficiaryRegID">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--         <div class="form-group">
          <label class="control-label" for="occupation">Occupation</label>
          <select class="form-control drop-arrow" name="occupationID" [(ngModel)]="occupationID">
                    <option *ngFor="let occupation of occupations" value={{occupation.occupationID}}>
                    {{occupation.occupationType}}
                    </option>
                </select>
        </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">

          <md-select placeholder="{{currentlanguage.other_details?.occupation}}" [style.width]="'100%'" [(ngModel)]="occupationID" name="occupationID">
            <md-option *ngFor="let occupation of occupations" [value]="occupation.occupationID">

              {{occupation.occupationType}}
            </md-option>
          </md-select>
          <md-hint>
            <span class="error_text"></span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--         <div class="form-group">
          <label class="control-label" for="educationQualification">Select Education Qualification </label>
          <select class="form-control drop-arrow" name="educationID" [(ngModel)]="educationID">
                    <option *ngFor="let educationQualification of educationQualifications" value={{educationQualification.educationID}}>
                    {{educationQualification.educationType}}
                    </option>
                </select>
        </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">

          <md-select placeholder="{{currentlanguage.other_details?.qualification}}" [style.width]="'100%'" [(ngModel)]="educationID" name="educationID">
            <md-option *ngFor="let educationQualification of educationQualifications" [value]="educationQualification.educationID">

              {{educationQualification.educationType}}
            </md-option>
          </md-select>
          <md-hint>
            <span class="error_text"></span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--         <div class="form-group">
          <label class="control-label" for="so">Sexual Orientation</label>
          <select class="form-control drop-arrow" name="sexualOrientationID" [(ngModel)]="sexualOrientationID">
                    <option *ngFor="let sexualOrientation of sexualOrientations" value={{sexualOrientation.sexualOrientationId}}>
                        {{sexualOrientation.sexualOrientation}}
                </select>
        </div> -->
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">

          <md-select placeholder="{{currentlanguage.other_details?.sexual_orientation}}" [style.width]="'100%'" [(ngModel)]="sexualOrientationID" name="sexualOrientationID">
            <md-option *ngFor="let sexualOrientation of sexualOrientations" [value]="sexualOrientation.sexualOrientationId">

              {{sexualOrientation.sexualOrientation}}
            </md-option>
          </md-select>
          <md-hint>
            <span class="error_text"></span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!--         <div class="form-group">
          <label class="control-label" for="placeOfWork">Place of Work</label>
          <input type="text" class="form-control" id="placeOfWork" placeholder="Enter Place of Work" name="placeOfWork" [(ngModel)]="placeOfWork">
        </div> -->
        <md-input-container myName [style.width]="'100%'">
          <input mdInput placeholder="{{currentlanguage.other_details?.work_place}}" maxlength="25" name="placeOfWork" [(ngModel)]="placeOfWork">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!--         <div class="form-group">
          <label class="control-label" for="remarks">Remarks</label>
          <textarea name="remarks" id="remarks" class="form-control" [(ngModel)]="remarks" maxlength="300" ng-minlength="10" required
            (keyup)="updateCount()"></textarea>
          <span id="count">{{count}}</span>
        </div> -->
        <md-input-container [style.width]="'100%'">
          <textarea mdInput placeholder="{{currentlanguage.other_details?.remarks}}" rows="2" name="remarks" maxlength="300" [(ngModel)]="remarks" maxlength="300" (keyup)="updateCount()"></textarea>
          <md-hint>
            <span>{{count}}</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-25">
        <h5>{{currentlanguage.other_details?.hiv_question}}<b>{{currentlanguage.other_details?.hiv_question_condition}}</b></h5>
          <md-radio-group>
          <md-radio-button ngDefaultControl  name="isHIVPos"color="primary" [value]=true [checked]="isHIVPos"  [(ngModel)]="isHIVPos" (change)="changeRadio($event.value)">Yes</md-radio-button>
          <md-radio-button ngDefaultControl  name="isHIVPos" color="primary" [value]=false  [checked]="!isHIVPos"  [(ngModel)]="isHIVPos" (change)="changeRadio($event.value)">No</md-radio-button>
        </md-radio-group>

        <!-- <md-slide-toggle ngDefaultControl name="isHIVPos" color="primary" [(ngModel)]="isHIVPos">{{currentlanguage.other_details?.hiv_question}}<b>{{currentlanguage.other_details?.hiv_question_condition}}</b></md-slide-toggle> -->
      </div>
    </div>
    <!-- <div class="row"> -->
    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> -->
      <!-- <h4 class="">Is beneficiary suffering from HIV/AIDS?(Captured only if, caller voluntarily informs)</h4>  -->
      <!-- </div> -->
      <!-- <md-slide-toggle ngDefaultControl name="isHIVPos" color="primary" [(ngModel)]="isHIVPos">Is beneficiary suffering from HIV/AIDS?<b>(Captured only if, caller voluntarily informs)</b></md-slide-toggle> -->
      <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">-->
      <!-- <div class=""> -->
      <!-- <label class="" for="sufferingFromAids"><span class="f-c-g">Is beneficiary suffering from AIDS/HIV?</span></label>
         <label class="radio-inline">
                        <input type="radio" name="isHIVPos" value=true [(ngModel)]="isHIVPos"> Yes 
                    </label>
        <label class="radio-inline">
                        <input type="radio" name="isHIVPos" value=false [(ngModel)]="isHIVPos" checked > No
                    </label>  -->
    <!-- </div> -->
    <!--</div>-->
    <!--  </div> -->
    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h5>{{currentlanguage.other_details?.feedback_question}}</h5>

      </div>
        <!--<div>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="Pamphlet" [(ngModel)]="knowHow.pamphlet">Pamphlet</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="Radio" [(ngModel)]="knowHow.radio">Radio</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="Television" [(ngModel)]="knowHow.tv">Television</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="Family and Friends" [(ngModel)]="knowHow.fnf">Family and Friends</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="Healthcare worker" [(ngModel)]="knowHow.healthcare">Healthcare worker</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="Others" [(ngModel)]="knowHow.others">Others</label>
                    <label class="checkbox-inline">
                    <input type="checkbox" value="Not Disclosed" [(ngModel)]="knowHow.notdisclosed">Not Disclosed</label>
                </div>-->
        <!--<div *ngFor="let source of sourceOfInfo; let i=index">-->
        <!--<div *ngFor="let source of sourceOfInfo">-->
       
<!--           <label class="checkbox-inline" *ngFor="let source of sourceOfInfo">

            <md-checkbox color="primary" value="{{source.value}}"></md-checkbox> {{source.name}}</label> -->
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput class="display_none">

          <md-select multiple placeholder="Select" [style.width]="'100%'" [(ngModel)]="cameToKnowFrom" name="cameToKnowFrom">
            <md-option *ngFor="let source of sourceOfInfo" value="{{source.value}}">

              {{source.name}}
            </md-option>
          </md-select>
        </md-input-container>
</div>
    </div>
    <!--<div class="col-xs-12 col-sm-12 m-t-5 m-b-5">
            <div class="row">
                <button type="button" class="btn cu-green-btn  pull-right p-l-r-38 font-regular f-s-18" id="">Save</button>
            </div>
        </div>-->
    <div class="col-xs-12 col-sm-12 m-b-10">
      <button type="submit" md-raised-button color="primay" class="pull-right p-l-r-38 font-regular f-s-18">{{currentlanguage.other_details?.save}}</button>
    </div>
  </div>
</form>
