<div class="container-fluid">
  <!--  <dashboard-row-header></dashboard-row-header>
    <div class="clearfix"></div> -->
  <div class="row" (click)="minimizeBar()">
    <dashboard-navigation></dashboard-navigation>
    <div id="dashboardContent">
      <!--  <button type="button" class="hamburger is-open" data-toggle="offcanvas"> <span class="hamb-top"></span> <span class="hamb-middle"></span> <span class="hamb-bottom"></span> </button> -->
      <div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <dashboard-user-id (click)="testEvent()" *ngIf="showDashboardContent"></dashboard-user-id>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 p-t-5">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <select class="form-control" name="widget_adder" [(ngModel)]="widget">
                <option value="0">Select Widget</option>
                <option value="1">Activity this week</option>
                <option value="2">Rating</option>
                <option value="3">Alerts n Notifications</option>
                <!-- <option value="4">Daily Tasks</option> -->
                <option value="5">News Information</option>
                <option value="6">Call Statistics</option>
                <option value="7">Training Resources</option>
            </select>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button md-raised-button color="primary" type="button" (click)="addWidget(widget)">Add Widget</button>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <!-- <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> -->
          <!-- <div > -->
          <!--   <label class="p-r-5">{{currentInOutState}}</label>
                            <md-slide-toggle color="primary"  mdTooltip="{{inOutToolTip}}" (change)="slide()" >
                             </md-slide-toggle> -->
          <div class="pull-right m-a-10 p-t-2" *ngIf="current_role!=='Supervisor'">
            <md-radio-group name=" inOutBound" (change)="campaign(inOutBound)" [(ngModel)]="inOutBound">
              <md-radio-button color="primary" value='1'>Inbound</md-radio-button>
              <md-radio-button color="primary" value='0'>Outbound</md-radio-button>
            </md-radio-group>
          </div>
          <!-- </div> -->
          <!-- </div> -->
        </div>
        <div class="" *ngIf="showDashboardContent">
          <!-- <activity-this-week></activity-this-week>
          <rating></rating>
          <alerts-notifications></alerts-notifications> -->
          <!-- <daily-tasks></daily-tasks> -->
          <!--<news-informations></news-informations>-->

          <!--<weather-warnings *ngIf="false"></weather-warnings>-->
          <activity-this-week *ngIf="activity_component" (hide_component)="hideComponentHandeler($event)"></activity-this-week>
          <rating *ngIf="ratings_component" (hide_component)="hideComponentHandeler($event)"></rating>
          <alerts-notifications *ngIf="alerts_component" (hide_component)="hideComponentHandeler($event)"></alerts-notifications>
          <!-- <daily-tasks *ngIf="daily_tasks_component" (hide_component)="hideComponentHandeler($event)"></daily-tasks> -->
          <news-informations *ngIf="news_component" (hide_component)="hideComponentHandeler($event)"></news-informations>
          <app-call-statistics *ngIf="call_statistics" (hide_component)="hideComponentHandeler($event)"></app-call-statistics>
          <app-training-resources *ngIf="training_resources" (hide_component)="hideComponentHandeler($event)"></app-training-resources>
        </div>
      </div>
    </div>
  </div>
  <!--<button type="button" class="btn cu-green-btn pull-right p-l-r-38 font-regular f-s-18 czenrix-icon" *ngIf="barMinimized"
    (click)="toggleBar()">C-Zentrix</button>-->
  <!--<iframe src="http://10.201.13.17/bar/cti_handler.php" width="230px" height="350px" class="czenrix-bar
           " *ngIf="!barMinimized"
        (click)="toggleBar()"></iframe>-->
  <iframe [src]="ctiHandlerURL" width="230px" height="350px" class="czenrix-bar" *ngIf="!barMinimized" (click)="toggleBar()"></iframe>

</div>

<footer class="footer">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <span class="footer-text">Powered by: WIPRO</span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <p class="footer-text t-a-c">2017
        <md-icon color="" class="copyright_icon">copyright</md-icon> PSMRI</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="current_role!=='Supervisor'">
      <button md-raised-button type="button" color="primary" class="footer-height pull-right" *ngIf="barMinimized
           " (click)="toggleBar()">CZentrix</button>
    </div>
  </div>
</footer>
