 
 <toaster-container [toasterconfig]="config"></toaster-container>
 <div class="container-fluid">
  <div class="dashboard-m-t-45">
    <div class="row" (click)="minimizeBar()">
      <div class="leftMenu pull-left width-5" (mouseleave)="hamburgerHoverOut()">
       
        <ul class="leftMenuList">
          <li class="p-t-15" *ngIf="current_role=='Supervisor'" routerLink="/MultiRoleScreenComponent/InnerpageComponent">
            <a class="p-l-m-t-22" #dropdown1>
              <i data-placement="right" data-toggle="tooltip" class="mdicon material-icons " (click)="hamburgerClick()" aria-hidden="true" title="{{currentLanguageSet?.activityArea}}">dashboard</i>
             
            </a>
          </li>
          <li class="p-t-15" (click)="routeToRoleSelection()">
            <a class="p-l-m-t-22" #dropdown2>
              <i data-placement="right" data-toggle="tooltip" title="{{currentLanguageSet?.switchRole}}" class="mdicon material-icons" (click)="hamburgerClick()" aria-hidden="true">compare_arrows</i>
              
            </a>
          </li>
        </ul>
      </div>

      <div id="dashboard-content-area" class="col-xs-12 col-sm-12 pull-left width-95 p-b-lg-30 p-b-sm-30">

        <div class="p-t-5">
          <div class="pull-left ">
            <dashboard-user-id (click)="testEvent()" *ngIf="current_role!='Supervisor'"></dashboard-user-id>
          </div>
          <div class="pull-right p-t-10 p-b-10"  *ngIf="current_role.toLowerCase().trim()!=='supervisor'">
            <md-radio-group name=" inOutBound" (change)="campaign(inOutBound)" [(ngModel)]="inOutBound">
              <md-radio-button color="primary" value='1' *ngIf="inboundCall">{{currentLanguageSet?.inbound}}</md-radio-button>
              <md-radio-button color="primary" value='0' *ngIf="outboundCall">{{currentLanguageSet?.outbound}}</md-radio-button>
            </md-radio-group>
          </div>
          <span class="clearfix"></span>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <app-call-statistics></app-call-statistics>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 p-r-lg-0">
            <alerts-notifications [alertRefresh]="alertRefresh"></alerts-notifications>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <app-dashboard-reports></app-dashboard-reports>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 p-r-lg-0">
            <activity-this-week></activity-this-week>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <rating></rating>
          </div>
        </div>

      </div>
    </div>
  </div>