<!-- <div class="row m-t-158">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 col-sm-offset-2 col-md-offset-3 col-lg-offset-4 ">
    <div class="panel-body p-l-r-50 p-b-25 p-t-25 bg-white boxShadow">
      <form class="form-horizontal cu-form-horizontal-label-left" name="loginForm">
        <div class="row  text-center">
          <div class=""> <img src="assets/images/Piramal-logo-login.png" alt="Logo"> </div>
        </div>
        <div class="row text-center">
          <h4 class="font-Medium f-s-24">Account Support</h4>
          <h5 class="f-s-16 f-c-54">Follow the steps to change/reset the password</h5>
        </div>
        <div class="row">
          <form #passwordFields="ngForm">
            <div class="form-group">
              <label class="control-label col-xs-12 col-sm-4 " for="userID">New Password</label>
              <div class="col-xs-12 col-sm-8">
                <input type="{{dynamictype}}" class="form-control" id="userID" placeholder="New Password" [(ngModel)]="newpwd" name="newpwd" required>
                <i class="fa fa-eye fa-lg pull-right m-t--20 m-r-5 cursorPointer" aria-hidden="true" mdTooltip="Show Password" (mousedown)='toggleAnswerVisibilty()' (mouseup)='toggleAnswerVisibilty()'></i>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-12 col-sm-4 " for="userID">Confirm Password</label>
              <div class="col-xs-12 col-sm-8">
                <input type="{{dynamictype}}" class="form-control" id="userID" placeholder="Re-Enter New Password" [(ngModel)]="confirmpwd" name="confirmpwd" required>
                <i class="fa fa-eye fa-lg pull-right m-t--20 m-r-5 cursorPointer" aria-hidden="true" mdTooltip="Show Password" (mousedown)='toggleAnswerVisibilty()' (mouseup)='toggleAnswerVisibilty()'></i>
              </div>
            </div>
          </form>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row" align="center">
              <button type="button" [disabled]="!passwordFields.valid" class="btn cu-green-btn btn-block font-regular f-s-18 m-t-10" style="width: 80%;margin-left: 10%" (click)="updatePassword(newpwd)">Change Password</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->
<md-grid-list cols="1" rowHeight="650px" (mouseup)='hidePWD()'>
  <md-grid-tile>
    <md-card style="width: 400px;height: 400px;margin-left: 10px;margin-right: 10px;">
      <md-card-title>
        <div class="row text-center">
          <img src="assets/images/Piramal-logo-login.png" alt="Logo"> </div>
        <div class="row text-center">
          <h4 class="font-Medium f-s-24">Account Support</h4>
          <h5 class="f-s-16 f-c-54">Follow the steps to change/reset the password</h5>
        </div>
      </md-card-title>
      <md-card-content>
        <div class="row">
          <form #passwordFields="ngForm">
            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1">
                <i class="material-icons m-t-30" style="color: gray">lock</i>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11">
                <md-input-container class="width100">
                  <input mdInput type="{{dynamictype}}" id="password" [pattern]="passwordPattern" placeholder="New Password" [(ngModel)]="newpwd" #pass="ngModel" maxlength="12" name="newpwd" required>
                  <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Password" (mousedown)='showPWD()' style="color:gray">visibility</md-icon>
                  <md-hint class="errorText">
                    <span *ngIf="pass.hasError('pattern')">Enter valid(min:8,max:12,alphanumeric,1 special character,1 UpperCase)</span>
                  </md-hint>
                </md-input-container>
              </div>
            </div>
            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1">
                <i class="material-icons m-t-30" style="color: gray">lock</i>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11">
                <md-input-container class="width100">
                  <input mdInput type="{{dynamictype}}" id="password" placeholder="Confirm Password" [(ngModel)]="confirmpwd" name="confirmpwd" required>
                  <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Password" (mousedown)='showPWD()' style="color:gray">visibility</md-icon>
                </md-input-container>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <button type="button" md-raised-button color="primary" [disabled]="!passwordFields.valid || pass.hasError('passwordPattern')" class="full-width largeBtn" (click)="updatePassword(newpwd)">Change Password</button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>
