
<md-grid-list cols="1" rowHeight="650px" (mouseup)='hidePWD()'>
  <md-grid-tile>
    <md-card style="width: 400px;height: 400px;margin-left: 10px;margin-right: 10px;">
      <md-card-title>
        <div class="row text-center">
          <img src="assets/images/Piramal-logo-login.png" alt="{{currentLanguageSet?.logo}}"> </div>
        <div class="row text-center">
          <h4 class="font-Medium f-s-24">{{currentLanguageSet?.accountSupport}}</h4>
          <h5 class="f-s-16 f-c-54">{{currentLanguageSet?.followTheStepsToChangeResetThePassword}}</h5>
        </div>
      </md-card-title>
      <md-card-content>
        <div class="row">
          <form #passwordFields="ngForm">
            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1">
                <i class="mdicon material-icons m-t-30" style="color: gray">lock</i>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11">
                <md-input-container class="width100">
                  <input mdInput type="{{dynamictype}}" id="password" [pattern]="passwordPattern" placeholder="{{currentLanguageSet?.newPassword}}" [(ngModel)]="newpwd" #pass="ngModel" maxlength="12" name="newpwd" required>
                  <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="{{currentLanguageSet?.showPassword}}" (mousedown)='showPWD()' style="color:gray">visibility</md-icon>
                  <md-hint class="errorText">
                    <span *ngIf="pass.hasError('pattern')">{{currentLanguageSet?.enterValidMinMaxAlphaNeumeric}}</span>
                  </md-hint>
                </md-input-container>
              </div>
            </div>
            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1">
                <i class="mdicon material-icons m-t-30" style="color: gray">lock</i>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11">
                <md-input-container class="width100">
                  <input mdInput type="{{dynamictype}}" id="password" placeholder="{{currentLanguageSet?.confirmPassword}}" [(ngModel)]="confirmpwd" name="confirmpwd" required>
                  <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="{{currentLanguageSet?.showPassword}}" (mousedown)='showPWD()' style="color:gray">visibility</md-icon>
                </md-input-container>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <button type="button" md-raised-button color="primary" [disabled]="!passwordFields.valid || pass.hasError('passwordPattern')" class="full-width largeBtn" (click)="updatePassword(newpwd)">{{currentLanguageSet?.changePassword}}</button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>
