<div class="headerDiv">
  <md-icon class="mat-icon material-icons pull-right cursorPointer p-t-2 f-c-w closeIcon" mdTooltip="{{currentLanguageSet?.close}}" role="img" aria-hidden="true"
    (click)="dialogRef.close()">
    {{currentLanguageSet?.clear}}
  </md-icon>
  <h4 class="popupHeader">{{currentLanguageSet?.emergencyContacts}}</h4>

</div>
<md-dialog-content style="min-height:400px">
  <div class="table-responsive ">
    <table class="table table-striped td-m-t-b-5 m-b-0" [md2Data]="contacts" #md2="md2DataTable" [rowsPerPage]="5" aria-describedby="emergencyContactDetails">
      
        <thead *ngIf="md2.data.length!=0">
          <tr>
            <th md2SortBy="emergContactName" id="contactName">{{currentLanguageSet?.contactName}}</th>
            <th id="designation">{{currentLanguageSet?.designation}}</th>
            <th id="location">{{currentLanguageSet?.location}}</th>
            <th id="contactNumber"> {{currentLanguageSet?.contactNumber}}</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of md2.data">
          <td>{{row.emergContactName}}</td> 
          <td>{{row.designation?.designationName}}</td>
          <td>{{row.location}}</td>
          <td>{{row.emergContactNo}}</td>
        </tr>
        <tr *ngIf="md2.data.length==0">
          <td class="text-center" colspan="2"> {{currentLanguageSet?.noEmergencyContactsExists}} </td>
        </tr>
      </tbody>
      <tfoot>
          <tr >
             <td colspan="4" *ngIf="md2.data.length > 5">
        <md2-pagination></md2-pagination>
      </td>
        </tr>
      </tfoot>
    </table>
  </div>
</md-dialog-content>
