<md-icon class="mat-icon material-icons close-icon pull-right cursorPointer" mdTooltip="Close" role="img" aria-hidden="true"
  (click)="dialogReff.close()">clear</md-icon>
<div class="col-xs-12 col-sm-12">
  <!-- <md-card >
      <md-card-content > -->
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>{{data.generatedId}}</h4>
    </div> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <md-checkbox color="primary" name="altNum" [(ngModel)]="altNum">
        {{data.currentlanguage.referral_service?.alternate_number}}
      </md-checkbox>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="altNum">

        <!-- <label>{{data.current_language_set.ro.ben_registration.modal_window?.mobile_number}}: <em>*</em></label><input class="form-control" type="text" required minlength="10" maxlength="10" placeholder="{{data.current_language_set.ro.ben_registration.modal_window?.enter_mobile_number}}" name="mobileNumber" (keyup)="mobileNum(mobileNumber)" [(ngModel)]="mobileNumber" #phnNum="ngModel"> -->
        <md-input-container myMobileNumber>
          <input mdInput minlength="10" maxlength="10" (keyup)="mobileNum(mobileNumber)" placeholder="{{data.currentlanguage.referral_service?.mobile_number}}"
            required name="mobileNumber" [(ngModel)]="mobileNumber" #phnNum="ngModel">


          <md-hint *ngIf=" phnNum.errors && ( phnNum.dirty || phnNum.touched)" class="errorText">
            <span>
              {{data.currentlanguage.referral_service?.mobile_validation}}
            </span>
          </md-hint>
        </md-input-container>

      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button md-raised-button color="primary" [disabled]="altNum && !validNumber" class="pull-right font-regular  m-t-8"
        (click)="dialogReff.close(mobileNumber)">{{data.currentlanguage.referral_service?.send_sms}}
      </button>
    </div>
  </div>
  <!--  </md-card-content>
  </md-card> -->
</div>
