<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button type="button" class="close" md-dialog-close><span class="pull-right">&times;</span></button>
        <h4 md-dialog-title class="f-c-o m-b-20 m-l-15"> Create Notification</h4>
        <md-dialog-content class="m-b-10">
          <form #notificationForm="ngForm">
              <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3 p-t-17">
                  <md-select class="d-inline" placeholder="Notification Type" name="notificationType" ngModel required>
                      <md-option *ngFor="let notification of data.notificationTypes" [value]="notification.notificationTypeID">
                          {{ notification.notificationType }}
                      </md-option>
                  </md-select>
              </div>
              <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3 p-t-17">
                  <md-select class="d-inline" placeholder="Select Roles" [multiple]="true" name="roles" ngModel>
                      <md-option *ngFor="let role of data.roleObjArray" [value]="role.RoleID">
                          {{ role.RoleName }}
                      </md-option>
                  </md-select>
              </div>
              <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3 p-l-lg-1">
                  <md2-datepicker name="startDate" placeholder="Valid From" [min]="minDate" #startDate="ngModel" ngModel required ></md2-datepicker>
              </div>
              <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3 p-l-lg-1">
                  <md2-datepicker name="endDate" placeholder="Valid Till" [min]="startDate.value" #endDate="ngModel" ngModel required></md2-datepicker>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <md-input-container class="width100">
                      <input mdInput placeholder="Notification Subject" name="notificationSubject" ngModel required>
                  </md-input-container>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <md-input-container class="width100">
                      <textarea mdInput rows="3" placeholder="Notification Message" name="notificationMessage" ngModel required></textarea>
                  </md-input-container>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="upload-file">Upload File(Size limit :{{maxFileSize}}MB)</label>
                  <input type="file" accept="*" size="100" placeholder="Upload file" id="upload-file" (change)="onFileUpload($event)" name="file" ngModel #uploadfile="ngModel">
              </div>
              <span class="help-block m-l-15" *ngIf="error1">Please choose a file for upload</span>
              <span class="help-block m-l-15" *ngIf="error2">File Size should not exceed {{maxFileSize}} MB</span>
               <span class="help-block m-l-15" *ngIf="error3">File Size should be greator than 0</span>
              <span class="help-block m-l-15" *ngIf="(endDate.value < startDate.value) && endDate.dirty">End Date cannot be before Start Date!</span>
          </form>
        </md-dialog-content>
        <md-dialog-actions class="m-b-5">
          <button md-raised-button class="btn btn-primary m-l-15 m-r-15 pull-right" [disabled]="!(notificationForm.valid) || error1 || error2" type="button" (click)="onSubmit()" >Submit</button>
          <button md-raised-button class="m-l-15 m-r-15 pull-right" md-dialog-close>Close</button>
        </md-dialog-actions>
    </div>
</div>