<div class="col-xs-12 col-sm-12 m-t-10">
    <ul class="list-unstyled list-inline text-center">
        <li *ngFor="let priv of privleges">
            <div class="panel-body circleOuterDiv">
                <div class="circle">
                    <ul class="list-unstyled text-center p-t-20">
                        <li><img src="assets/images/serviceProviderIcon.png" alt="" title="" /></li>
                        <!--<li class="f-s-20">{{priv.Service}}</li>-->
                        <li class="f-s-20">{{priv.serviceName}}</li>
                    </ul>

                    <ul class="list-unstyled subRolecircle text-center m-t-10 ">
                        <!--<li class="circle-btn" *ngFor="let role of priv.Role" (click)="route2dashboard(role, priv.Service)">-->
                        <!--<a class="f-s-16 cursorPointer">{{role}}</a>-->
                        <li class="circle-btn" *ngFor="let role of priv.roles" (click)="route2dashboard(role, priv)">
                            <a class="f-s-16 cursorPointer">{{role.RoleName}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </li>

    </ul>
</div>
<footer class="footer">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <span class="footer-text">Powered by: WIPRO</span>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <p class="footer-text t-a-c">2017
          <md-icon color="" class="copyright_icon">copyright</md-icon> PSMRI</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <!--<button md-raised-button type="button" color="primary" class="footer-height pull-right czenrix-bar" *ngIf="barMinimized" (click)="toggleBar()">CZentrix</button>-->
      </div>
    </div>
  </footer>