<div class="col-xs-12 col-sm-12">
<div class="row" >
    
    <div class="col-xs-12 col-sm-12">
    <h4 class="pull-left">Provider Details</h4>
    <button class="btn cu-green-btn pull-right" *ngIf="!showCreateFlag" (click)="showCreate()">Create </button>
    </div>
            <div class="col-xs-12 col-sm-12" *ngIf="!showCreateFlag">
                
                <div class="table-responsive m-t-10">
                    <table class="table" aria-describedby="roleDetails">
                        <thead>
                            <tr>
                                <th id="provideName">Provider Name</th>
                                <th id="contactPerson">Contact Person</th>
                                <th id="contactNo">Contact No</th>
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let serviceProvider of serviceProviders | paginate: { itemsPerPage: 8, currentPage: p }">
                                <td>{{serviceProvider.ServiceProviderName}}</td>
                                <td>{{serviceProvider.PrimaryContactName}}</td>
                                <td>{{serviceProvider.PrimaryContactNo}}</td>
                                <td><i class="fa fa-pencil fa-lg cursorPointer" aria-hidden="true" (click)="updateSP(serviceProvider)"></i></td>
                                <td><i class="fa fa-trash-o fa-lg cursorPointer" aria-hidden="true" (click)="deleteSP(serviceProvider)"></i></td>
                            </tr>
                        </tbody>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </table>

                   
                </div>
            </div>
        </div>



    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="showCreateFlag" autocomplete="off">
        
        <div class="row m-t-10">
            <div class="col-xs-12 col-sm-12">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="serviceProviderName">Provider Name*</label>
                    <input type="text" class="form-control" placeholder="Enter Provider Name" maxlength="30" id="serviceProviderName" formControlName="serviceProviderName">
                </div>
                
            </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="validity">Validity</label>
                    <input mdInput [mdDatepicker]="myDatepicker" class="form-control" formControlName="validity">
             
                </div> 
                <md-datepicker #myDatepicker></md-datepicker>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="contactPersonName">Contact Person Name</label>
                    <input type="text" class="form-control" placeholder="Enter Contact Person Name" maxlength="30" id="contactPersonName" formControlName="primaryContactName">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="contactNo">Contact No.</label>
                    <div myMobileNumber>
                        <input type="text" class="form-control" placeholder="Enter Contact No." id="contactNo" formControlName="primaryContactNo" maxlength="10">
                        <span></span>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="emailID">Email ID</label>
                    <div myEmail>
                        <input type="text" class="form-control" placeholder="Enter Email ID" id="emailID" formControlName="emailID">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="address">Address 1</label>
                    <input type="text" class="form-control" placeholder="Enter Address" id="address" formControlName="address">
                </div>
            </div>
             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label" for="address">Address 2</label>
                    <input type="text" class="form-control" placeholder="Enter Address" id="address" formControlName="address">
                </div>
            </div>
            
        </div>
        <div class="row m-t-10">
            <div class="col-xs-12 col-sm-12 pull right">
                <button class="btn cu-green-btn pull-right m-b-10" type="submit" name="save"> Save</button>
            </div>
        </div>
       
        
        <div *ngIf="userForm.controls.serviceProviderName.errors">* Service Provider Name is required</div>
    </form>
</div>
