name: Build On Pull Request
on:
  pull_request:
    branches: [ "master","develop" ]
    
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Setup JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'adopt'
          
              
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
          
      - name: Build with NPM and Maven
        run: |
            npm install -g @angular/cli
            npm install typescript@2.7.2 --save-dev
            npm install
            npm run build
            
