name: Generate WAR File 
on:
  push:
    branches: [ "develop"]

jobs:
  Packaging:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: 'adopt'

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
          node-version: 16

    - name: Build with Yarn
      run: |
        yarn config set legacy-peer-deps true
        yarn global add node-gyp
        yarn add node-sass --force
        yarn --force
        yarn build

    - name: Create WAR file
      run: jar -cvf 1097ui-v1.0.war -C dist .

    - name: Upload WAR file as artifact
      uses: actions/upload-artifact@v2
      with:
        name: Helpline1097-UI
        path: 1097ui-v1.0.war
