<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>{{currentLanguageSet?.forceLogout}}</h4>
  </div>

 <div>
  <form #flform="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
      <md-input-container [style.width]="'100%'">
        <input mdInput name="userName"  placeholder="{{currentLanguageSet?.userName}}" id="userName"  [(ngModel)]="userNames" #uname="ngModel" minlength="3" required>
        <md-hint   *ngIf="uname.touched && uname.errors?.required">
          <span class="error_text">{{currentLanguageSet?.userNameRequired}}</span>
        </md-hint>
      </md-input-container>
    </div>
  </form>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button class="m-t-5" md-raised-button color="accent" class="m-t-10" [disabled]="flform.form.invalid" name="kickout" (click)="kickout(flform.form.value)">{{currentLanguageSet?.kickout}}</button>
  </div>
</div> 


  
</div>