<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>Force Logout</h4>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

  </div>
  <form #flform="ngForm" autocomplete="off">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <md-input-container [style.width]="'100%'">
        <input mdInput name="userName" ngModel placeholder="User Name" id="userName" minlength="3" required>
      </md-input-container>
    </div>
  </form>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button class="m-t-5" md-raised-button color="accent" class="m-t-10" [disabled]="flform.form.invalid" name="kickout" (click)="kickout(flform.form.value)">Kickout</button>
  </div>


  
</div>