<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="col-xs-3 col-sm-3 col-md-3 clearfix"></div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <md-input-container style="width: 60%">
        <input required minlength="10" maxlength="10" mdInput placeholder="{{currentLanguageSet?.phoneNumber}}" [(ngModel)]="phoneNumber" #number="ngModel">
        <md-hint *ngIf="!number.valid">
          <span class="error_text" *ngIf=" number.dirty || number.touched ">{{currentLanguageSet?.pleaseEnterPhoneNumber}}</span>
        </md-hint>
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true">{{currentLanguageSet?.search}}</md-icon>
      </md-input-container>
      <button color="accent" md-raised-button (click)="findBenByPh()" [disabled]="number.invalid">{{currentLanguageSet?.search}}</button>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 clearfix"></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="resultsFound">
    <div class="table-responsive ">
      <table class="table">
        <thead>
          <tr>
            <th>{{currentLanguageSet?.beneficiaryid}}</th>
            <th> {{currentLanguageSet?.beneficiaryName}}</th>
            <th>{{currentLanguageSet?.phoneNumber}} </th>
            <th>{{currentLanguageSet?.action}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BEN0007</td>
            <td>Diamond Khanna</td>
            <td>9023650041</td>
            <td style="cursor: pointer;">
              <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">{{currentLanguageSet?.call}}</md-icon>
            </td>
          </tr>
          <tr>
            <td>BEN0121</td>
            <td>Vinay Khanna</td>
            <td>9023650041</td>
            <td style="cursor: pointer;">
              <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">{{currentLanguageSet?.call}}</md-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
