<form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="row m-t-10">
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive m-t-10">
        <table class="table">
          <thead>
            <tr>
              <th i18n>{{currentLanguageSet?.screenName}}</th>
              <th i18n>{{currentLanguageSet?.screenDesc}}</th>
              <th i18n>{{currentLanguageSet?.workflowName}}</th>
              <td i18n>{{currentLanguageSet?.edit}}</td>
              <td i18n>{{currentLanguageSet?.delete}}</td>
            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let user of userslist">
              <td>{{user.ScreenName}}</td>
              <td>{{user.WorkflowName}}</td>
              <td>{{user.ScreenDesc}}</td>


              <td><i class="fa fa-pencil fa-lg cursorPointer" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg cursorPointer" aria-hidden="true"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>



  <div class="">
    <div class="col-xs-12 col-sm-12">
      <h4 i18n>{{currentLanguageSet?.screenDetails}}</h4>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="screenName" i18n>{{currentLanguageSet?.screenName}}</label>
        <input type="text" class="form-control" placeholder="{{currentLanguageSet?.enterScreenName}}" id="screenName" formControlName="screenName">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="workflowName" i18n>{{currentLanguageSet?.workflowName}}</label>
        <input type="text" class="form-control" placeholder="{{currentLanguageSet?.enterWorkflowNameDesc}}" id="workflowName" formControlName="workflowName">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <div class="form-group">
        <label class="control-label" for="screenDesc" i18n>{{currentLanguageSet?.screenDesc}}</label>
        <input type="text" class="form-control" placeholder="{{currentLanguageSet?.enterScreenDesc}}" id="screenDesc" formControlName="screenDesc">

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 pull right m-b-10">
      <button class="btn cu-green-btn pull-right p-l-r-38 f-s-18" type="submit" name="save" i18n> {{currentLanguageSet?.save}}</button>
    </div>
  </div>
</form>